@mixin chip-sizes {
  @each $sizeName, $multiplier in $size-scales {
    $size: map-get($chip-sizes, "font-size") + (2 * $multiplier) / 16;
    $height: map-get($chip-sizes, "height") + (8 * $multiplier);

    .v-chip--size-#{$sizeName} {
      --v-chip-size: #{$size};
      --v-chip-height: #{$height};
      font-size: $size;

      .v-avatar {
        --v-avatar-height: #{$height - $multiplier}
      }
    }
  }
}

@mixin chip-density($properties, $densities) {
  @each $density, $multiplier in $densities {
    $value: calc(var(--v-chip-height) + #{$multiplier * $spacer});

    &.v-chip--density-#{$density} {
      @if type-of($properties) == "list" {
        @each $property in $properties {
          #{$property}: $value;
        }
      } @else {
        #{$properties}: $value;
      }
    }
  }
}
