@use 'sass:math';
@use 'sass:map';
@use '../../styles/settings';
@use '../../styles/tools';

// Defaults
$chip-background: rgb(var(--v-theme-surface-variant)) !default;
$chip-border-color: settings.$border-color-root !default;
$chip-border-radius: map.get(settings.$rounded, "pill") !default;
$chip-border-style: settings.$border-style-root !default;
$chip-border-thin-width: thin !default;
$chip-border-width: 0 !default;
$chip-close-size: 18px !default;
$chip-color: rgb(var(--v-theme-on-surface-variant)) !default;
$chip-density: ("default": 0, "comfortable": -2, "compact": -3) !default;
$chip-disabled-opacity: 0.3 !default;
$chip-elevation: 1 !default;
$chip-font-size: tools.map-deep-get(settings.$typography, "button", "size") !default;
$chip-font-weight: 400 !default;
$chip-height: 30px !default;
$chip-icon-font-size: 1.25rem !default;
$chip-label-border-radius: settings.$border-radius-root !default;
$chip-max-width: 100% !default;
$chip-overflow: hidden !default;
$chip-padding-ratio: 2 + math.div(2, 3) !default;
$chip-plain-opacity: 0.26 !default;
$chip-filter-transition: .15s settings.$standard-easing !default;
$chip-white-space: nowrap !default;

$chip-sizes: (
  "height": $chip-height,
  "font-size": $chip-font-size,
) !default;

$chip-border: (
  $chip-border-color,
  $chip-border-style,
  $chip-border-width
) !default;

$chip-variants: (
  $chip-background,
  $chip-color,
  $chip-elevation,
  $chip-plain-opacity,
  'v-chip'
) !default;
