// Defaults
$alert-background: rgba(var(--v-theme-on-surface), var(--v-overlay-opacity)) !default;
$alert-border-color: currentColor !default;
$alert-border-icon-margin: 8px !default;
$alert-border-opacity: 0.26 !default;
$alert-border-radius: $border-radius-root !default;
$alert-border-style: $border-style-root !default;
$alert-border-thin-width: 8px !default;
$alert-border-width: 0 !default;
$alert-color: rgb(var(--v-theme-on-surface)) !default;
$alert-dense-border-width: medium !default;
$alert-density: ('default': 0, 'comfortable': -1, 'compact': -2) !default;
$alert-elevation: 0 !default;
$alert-font-size: 16px !default;
$alert-icon-size: 24px !default;
$alert-plain-opacity: .62 !default;
$alert-positions: absolute fixed !default;
$alert-prominent-icon-font-size: 32px !default;
$alert-prominent-icon-size: 48px !default;
$alert-text-padding: 16px !default;

$alert-border: (
  $alert-border-color,
  $alert-border-style,
  $alert-border-width,
  $alert-border-thin-width
) !default;

$alert-theme: (
  $alert-background,
  $alert-color
) !default;

$alert-variants: (
  $alert-background,
  $alert-color,
  $alert-elevation,
  $alert-plain-opacity,
  'v-alert'
);
