@use '../../styles/settings';
@use '../../styles/tools';

$skeleton-loader-actions-button-margin: 12px !default;
$skeleton-loader-actions-padding: 16px 16px 8px !default;
$skeleton-loader-avatar-height: 48px !default;
$skeleton-loader-avatar-margin: 8px 16px !default;
$skeleton-loader-avatar-width: 48px !default;
$skeleton-loader-background: rgb(var(--v-theme-surface)) !default;
$skeleton-loader-bone-background: linear-gradient(90deg, rgba(var(--v-theme-surface), 0), rgba(var(--v-theme-surface), .3), rgba(var(--v-theme-surface), 0)) !default;
$skeleton-loader-border-radius: settings.$border-radius-root !default;
$skeleton-loader-button-border-radius: settings.$border-radius-root !default;
$skeleton-loader-button-height: 36px !default;
$skeleton-loader-button-width: 64px !default;
$skeleton-loader-chip-border-radius: 16px !default;
$skeleton-loader-chip-height: 32px !default;
$skeleton-loader-chip-width: 96px !default;
$skeleton-loader-date-picker-border-radius: inherit !default;
$skeleton-loader-date-picker-days-margin: 4px !default;
$skeleton-loader-date-picker-heading-max-width: 256px !default;
$skeleton-loader-date-picker-heading-width: 40% !default;
$skeleton-loader-date-picker-text-max-width: 88px !default;
$skeleton-loader-date-picker-text-width: 20% !default;
$skeleton-loader-divider-border-radius: 1px !default;
$skeleton-loader-divider-height: 2px !default;
$skeleton-loader-gutter: 16px !default;
$skeleton-loader-heading-border-radius: 12px !default;
$skeleton-loader-heading-height: 24px !default;
$skeleton-loader-image-height: 150px !default;
$skeleton-loader-loading-animation: loading 1.5s infinite !default;
$skeleton-loader-loading-transform: translateX(-100%) !default;
$skeleton-loader-subtitle-max-width: 70% !default;
$skeleton-loader-subtitle-text-border-radius: 8px !default;
$skeleton-loader-subtitle-text-height: 16px !default;
$skeleton-loader-table-cell-height: 48px !default;
$skeleton-loader-table-cell-width: 88px !default;
$skeleton-loader-table-row-margin: 0 8px !default;
$skeleton-loader-table-row-text-margin: 8px !default;
$skeleton-loader-text-background: rgba(var(--v-theme-on-surface), var(--v-border-opacity)) !default;
$skeleton-loader-text-border-radius: 6px !default;
$skeleton-loader-text-height: 12px !default;
$skeleton-loader-text-three-text-max-width: 70% !default;
$skeleton-loader-text-two-text-margin-top: -8px !default;
$skeleton-loader-text-two-text-max-width: 50% !default;
