// Imports
@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

.v-skeleton-bone
  overflow: hidden
  position: relative

  &--rounded
    @include tools.rounded($skeleton-loader-heading-border-radius)


  &::after
    @include tools.absolute(true)

    animation: $skeleton-loader-loading-animation
    background: $skeleton-loader-background
    transform: $skeleton-loader-loading-transform
    z-index: 1

.v-skeleton-bone__heading,
.v-skeleton-bone__subheading,
.v-skeleton-bone__image,
.v-skeleton-bone__text
  background: $skeleton-loader-text-background

.v-skeleton-bone__heading
  height: $skeleton-loader-heading-height
  width: 45%

.v-skeleton-bone__subheading
  height: $skeleton-loader-heading-height * 0.8
  width: 35%

.v-skeleton-bone__image
  height: $skeleton-loader-image-height

.v-skeleton-bone__text
  flex: 1 0 auto
  height: $skeleton-loader-text-height

  + &
    margin-bottom: 6px

@keyframes loading
  100%
    transform: translateX(100%)
