@mixin system-bar-theme($material)
  background-color: map-deep-get($material, 'status-bar', 'regular')
  color: map-deep-get($material, 'text', 'secondary')

  .v-icon
    color: map-deep-get($material, 'text', 'secondary')

  &--lights-out
    background-color: map-deep-get($material, 'status-bar', 'lights-out') !important
