@use 'sass:map';
@use '../../styles/settings';
@use '../../styles/tools';

// VTreeview
$treeview-background: rgba(var(--v-theme-surface)) !default;
$treeview-border-color: settings.$border-color-root !default;
$treeview-border-radius: 0 !default;
$treeview-border-style: settings.$border-style-root !default;
$treeview-border-thin-width: thin !default;
$treeview-border-width: 0 !default;
$treeview-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !default;
$treeview-disabled-opacity: 0.6 !default;
$treeview-elevation: 0 !default;
$treeview-padding: 8px 0 !default;
$treeview-rounded-border-radius: map.get(settings.$rounded, null) !default;
$treeview-indent-size: 16px !default;

//VTreeviewItem
$treeview-item-border-color: settings.$border-color-root !default;
$treeview-item-border-radius: 0 !default;
$treeview-item-border-style: settings.$border-style-root !default;
$treeview-item-border-width: 0 !default;
$treeview-item-border-thin-width: thin !default;
$treeview-item-elevation: 1 !default;
$treeview-item-icon-opacity: var(--v-medium-emphasis-opacity) !default;
$treeview-item-icon-active-opacity: 1 !default;
$treeview-item-min-height: 40px !default;
$treeview-item-padding: 4px 16px !default;
$treeview-item-prepend-size: 40px !default;
$treeview-item-plain-opacity: .62 !default;
$treeview-item-rounded-border-radius: map.get(settings.$rounded, null) !default;

$treeview-item-avatar-margin-end: 16px !default;
$treeview-item-avatar-margin-start: 16px !default;

$treeview-item-icon-margin-end: 16px !default;
$treeview-item-icon-margin-start: 16px !default;

$treeview-density: ('default': 0, 'comfortable': -1, 'compact': -2) !default;

$treeview-border: (
  $treeview-border-color,
  $treeview-border-style,
  $treeview-border-width,
  $treeview-border-thin-width
) !default;

$treeview-theme: (
  $treeview-background,
  $treeview-color
) !default;

$treeview-item-border: (
  $treeview-item-border-color,
  $treeview-item-border-style,
  $treeview-item-border-width,
  $treeview-item-border-thin-width
) !default;

$treeview-item-variants: (
  $treeview-background,
  $treeview-color,
  $treeview-item-elevation,
  $treeview-item-plain-opacity,
  'v-treeview-item'
) !default;
