@use 'sass:map';

$treeview-indent-padding: 28px !default; // 28px here to match the width of the expand toggle VBtn.
$treeview-group-list-prepend-width: 16px !default;
$treeview-group-header-padding-inline-start: 16px !default;
