@use 'sass:map';
@use '../../styles/settings';
@use '../../styles/tools';

$treeview-group-list-indent-size: 16px !default;
$treeview-group-list-prepend-width: 16px !default;
$treeview-item-padding-inline-start: 12px !default;
$treeview-item-prepend-padding-inline-start: 44px !default;
