@use '../../styles/tools'

@include tools.layer('components')
  .v-progress
    display: flex
    flex-direction: column
    gap: 2px

  .v-progress__label
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    .v-progress__label--location-bottom
      order: 1