@use '../../styles/settings';

$stepper-actions-padding: 1rem !default;
$stepper-actions-stepper-padding: 0 1.5rem 1rem !default;
$stepper-actions-stepper-window-item-padding: 1.5rem 0 0 !default;
$stepper-alt-labels-flex-basis : 175px !default;
$stepper-alt-labels-header-divider: 35px -67px 0 !default;
$stepper-border-radius: 4px !default;
$stepper-elevation: 2 !default;
$stepper-item-opacity: var(--v-medium-emphasis-opacity) !default;
$stepper-item-padding: 1.5rem !default;
$stepper-item-transition-duration: .2s !default;
$stepper-item-transition-property: opacity !default;
$stepper-item-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$stepper-header-divider-margin: 0 -16px !default;
$stepper-header-elevation: 2 !default;
$stepper-window-margin: 1.5rem !default;
$stepper-item-avatar-background: rgba(var(--v-theme-surface-variant), var(--v-medium-emphasis-opacity)) !default;
$stepper-item-avatar-color: rgb(var(--v-theme-on-surface-variant)) !default;
$stepper-item-avatar-font-size: .75rem !default;
$stepper-item-avatar-margin-inline-end: 8px !default;
$stepper-item-avatar-icon-font-size: .875rem !default;
$stepper-item-alt-labels-margin-bottom: 16px !default;
$stepper-item-title-line-height: 1 !default;
$stepper-item-subtitle-font-size: .75rem !default;
$stepper-item-subtitle-line-height: 1 !default;
$stepper-item-subtitle-opacity: var(--v-medium-emphasis-opacity) !default;
