@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

.v-stepper.v-sheet
  @include tools.elevation(2)
  @include tools.rounded(4px)

  overflow: hidden

.v-stepper-header
  @include tools.elevation(2)

  align-items: center
  display: flex
  position: relative
  overflow-x: auto
  justify-content: space-between
  z-index: 1

  .v-divider
    margin: 0 -16px

  .v-stepper--alt-labels &
    height: auto

    .v-divider
      align-self: flex-start
      margin: $stepper-alt-labels-header-divider

.v-stepper-window
  margin: 1.5rem

.v-stepper-actions
  display: flex
  align-items: center
  justify-content: space-between
  padding: 1rem

  .v-stepper &
    padding: 0 1.5rem 1rem

  .v-stepper-window-item &
    padding: 1.5rem 0 0
