@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

.v-stepper.v-sheet
  @include tools.elevation(2)
  @include tools.rounded(4px)

  overflow: hidden

.v-stepper-header
  @include tools.elevation(2)

  align-items: center
  display: flex
  position: relative
  justify-content: space-between
  z-index: 1

  .v-stepper--alt-labels &
    height: auto

    .v-divider
      margin: $stepper-alt-labels-header-divider
      align-self: flex-start

.v-stepper-window
  margin: 1.5rem

.v-stepper-item
  align-items: center
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity))
  display: inline-flex
  padding: 1.5rem
  flex: none

  &--selected
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity))

  .v-stepper--alt-labels &
    flex-direction: column
    justify-content: flex-start
    align-items: center
    flex-basis: $stepper-alt-labels-flex-basis

.v-stepper-item__avatar.v-avatar
  background: rgba(var(--v-theme-surface-variant), var(--v-medium-emphasis-opacity))
  color: rgb(var(--v-theme-on-surface-variant))
  font-size: .75rem
  margin-inline-end: 8px

  .v-stepper-item--selected &
    background: rgb(var(--v-theme-surface-variant))

  .v-stepper--alt-labels &
    margin-bottom: 8px
    margin-inline-end: 0

.v-stepper-item__title
  line-height: 1

.v-stepper-item__subtitle
  font-size: .75rem
  text-align: left
  line-height: 1

  .v-stepper--alt-labels &
    text-align: center

.v-stepper-actions
  display: flex
  align-items: center
  justify-content: space-between
  padding: 1rem

  .v-stepper &
    padding: 0 1.5rem 1rem
