// VMessages
$messages-color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !default;
$messages-font-size: 12px !default;
$messages-line-height: $messages-font-size !default;
$messages-min-height: 14px !default;
$messages-transition-duration: 150ms !default;
