@import '../../styles/styles.sass'

/* Theme */
@mixin messages-theme($material)
  color: map-deep-get($material, 'text', 'secondary')

.v-messages.theme--light
  +messages-theme($material-light)
.v-messages.theme--dark
  +messages-theme($material-dark)

.v-messages
  flex: 1 1 auto
  font-size: 12px
  min-height: 12px
  min-width: 1px // Ensure takes up space with no messages and inside of flex
  position: relative

  +rtl()
    text-align: right

  &__message
    line-height: 1
    word-break: break-word
    overflow-wrap: break-word
    word-wrap: break-word
    hyphens: auto
