@import './_variables.scss'

// Block
.v-overlay-container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  contain: strict

.v-overlay
  align-items: center
  border-radius: inherit
  display: flex
  justify-content: center
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  transition: $overlay-transition

// Element
.v-overlay__content
  position: relative

.v-overlay__scrim
  background: rgba(var(--v-theme-on-surface), $overlay-opacity)
  border-radius: inherit
  bottom: 0
  height: 100%
  left: 0
  position: absolute
  right: 0
  top: 0
  width: 100%

// Modifier
.v-overlay--absolute
  position: absolute

.v-overlay--active
  pointer-events: auto
