.v-data-table
  width: 100%
  overflow: auto

.v-data-table__table
  display: grid
  width: 100%
  border-collapse: collapse

.v-data-table__thead
  display: contents

.v-data-table__tbody
  display: contents

.v-data-table__tr
  display: contents

.v-data-table__td,
.v-data-table__th
  padding: 0.5rem

.v-data-table__th
  background: grey
  border: 1px solid black

.v-data-table__td
  background: lightgrey
