.v-app-bar {
  display: flex;
}
.v-app-bar.v-toolbar {
  background: rgb(var(--v-theme-surface));
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}
.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
  box-shadow: 0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}
.v-app-bar:not(.v-toolbar--absolute) {
  padding-inline-end: var(--v-scrollbar-offset);
}