@import './index'

.v-app-bar
  align-items: start
  background: rgb(var(--v-theme-surface))
  display: flex
  height: 64px
  left: 0
  padding: 8px 4px
  top: 0
  transition: .2s $standard-easing
  @include position($app-bar-positions)
  @include rounded($app-bar-border-radius)

  &--border
    @include elevation(0)
    @include border($app-bar-border...)

  &--flat
    @include elevation($app-bar-flat-elevation)

  &--is-active
    @include elevation($app-bar-elevation)

  &--rounded
    @include rounded($app-bar-rounded-border-radius)

.v-app-bar__content
  align-items: center
  display: flex
  flex: 1 0 auto

.v-app-bar__img
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: -1

  img
    height: $app-bar-img-height
    object-fit: $app-bar-img-object-fit
    width: $app-bar-img-width
