@forward './settings';

@use './generic/layers';
@use './generic/animations';
@use './generic/reset';
@use './generic/transitions';
@use './generic/rtl';

@use './elements/blockquote';
@use './elements/global';
