@import '../../styles/styles.sass';

// Defaults
$divider-border-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$divider-border-style: solid !default;
$divider-border-width: thin 0 0 0 !default;

$divider-border-query: () !default;
$divider-border-query: map-deep-merge(
  (
    'border-color': $divider-border-color,
    'border-style': $divider-border-style,
    'border-width': $divider-border-width
  ),
  $divider-border-query
);

// Inset
$divider-inset-margin: 8px !default;
$divider-inset-margin-left: $divider-inset-margin !default;
$divider-inset-margin-right: $divider-inset-margin !default;
$divider-inset-max-width: calc(100% - #{$divider-inset-margin * 2}) !default;

// Vertical
$divider-vertical-border-width: 0 thin 0 0 !default;
$divider-vertical-margin-left: -1px !default;

// Vertical & Inset
$divider-vertical-inset-margin-bottom: $divider-inset-margin !default;
$divider-vertical-inset-margin-top: $divider-inset-margin !default;
$divider-vertical-inset-max-height: calc(100% - #{$divider-inset-margin * 2}) !default;
