$body-font-family: 'Roboto' sans-serif !default;
$font-size-root: 14px !default;
$line-height-root: 1.5 !default;
$material-theme: $material-light !default;
$material-twelve-percent-light: rgba(map-get($material-dark, 'fg-color'), map-get($material-dark, 'divider-percent')) !default;
$material-twelve-percent-dark: rgba(map-get($material-light, 'fg-color'), map-get($material-light, 'divider-percent')) !default;
$body-bg-light: map-get($material-light, 'background') !default;
$body-bg-dark: map-get($material-dark, 'background') !default;
$body-color-light: rgba(map-get($material-dark, 'text-color'), map-get($material-dark, 'primary-text-percent')) !default;
$body-color-dark: rgba(map-get($material-light, 'text-color'), map-get($material-light, 'primary-text-percent')) !default;
$color-theme: rgba(map-get($material-theme, 'text-color'), map-get($material-theme, 'primary-text-percent')) !default;
