.v-textarea .v-field__input {
  flex: 1 1 auto;
  line-height: 1.75;
  outline: none;
  mask-image: linear-gradient(to bottom, transparent, transparent calc(var(--v-field-padding-top, 0) / 1.25), black var(--v-field-padding-top, 0));
}
.v-textarea--auto-grow .v-field__input {
  overflow: hidden;
}
.v-textarea--no-resize .v-field__input {
  resize: none;
}
.v-textarea__sizer {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0 !important;
  pointer-events: none;
}
.v-textarea .v-field--has-label textarea {
  opacity: 0;
}
.v-textarea .v-field--active textarea {
  opacity: 1;
}
.v-textarea textarea {
  flex: 1;
  min-width: 0;
  transition: 0.15s opacity cubic-bezier(0.4, 0, 0.2, 1);
}
.v-textarea textarea:focus, .v-textarea textarea:active {
  outline: none;
}
.v-textarea textarea:invalid {
  box-shadow: none;
}