{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false
        }],
        "transform-object-rest-spread",
        ["module-resolver", {
          "root": [
            "./src"
          ],
          "alias": {
            "~components": "components",
            "~directives": "directives",
            "~mixins": "mixins",
            "~stylus": "stylus",
            "~util": "util"
          }
        }]
      ]
    },
    "es5": {
      "presets": [
        ["env", {
          "targets": {
            "ie": 11
          }
        }]
      ],
      "plugins": [
        ["transform-runtime", {
            "polyfill": false
        }],
        "transform-object-rest-spread",
        "./build/babel-transform-stylus-paths.js"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "ie": 11
          },
          "modules": false
        }]
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false
        }],
        "transform-object-rest-spread",
        "add-filehash"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "ie": 11
          },
          "modules": false
        }]
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false
        }],
        "transform-object-rest-spread"
      ]
    }
  }
}
