.DS_Store
node_modules/
.env

# IDE user config
.vscode/
.idea/
.vs/

# Logs
yarn-error.log
npm-debug.log
lerna-debug.log

# Istanbul coverage
coverage/

# cypress
cypress/screenshots
cypress/videos

.now
