.github/
.vscode/
npm-debug.log
.idea/
coverage/
report.html
.vs/
dev/
build/
**/*.spec.js
/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.js
/.travis.yml
/package-lock.json
/postcss.config.js
/yarn.lock
