.github/
.vscode/
npm-debug.log
.idea/
coverage/
report.html
.vs/
dev/
build/
release/
**/*.spec.js
/es5-temp
/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.js
/eslint-local-rules.js
eslint-rules/
/.travis.yml
/package-lock.json
/postcss.config.js
/yarn.lock
/.env
/cc-test-reporter
