$calendar-line-width: thin !default;
$calendar-line-color: #e0e0e0 !default;

$calendar-header-align: center !default;
$calendar-header-display: flex !default;
$calendar-header-min-height: 64px !default;
$calendar-header-today-margin-end: 24px !default;
$calendar-header-title-font-size: 1.5rem !default;
$calendar-header-title-margin-start: 24px !default;
$calendar-daily-head-day-label-size: 56px !default;
$calendar-daily-head-weekday-size: 50px !default;
$calendar-daily-weekday-padding: 3px 0px 0px 0px !default;
$calendar-daily-weekday-font-size: 11px !default;
$calendar-daily-day-padding: 0px 0px 3px 0px !default;
$calendar-daily-day-font-size: 40px !default;
$calendar-daily-interval-gutter-top: -6px !default;
$calendar-daily-interval-gutter-width: 4px !default;
$calendar-daily-interval-gutter-align: right !default;
$calendar-daily-interval-gutter-line-width: 8px !default;
$calendar-daily-interval-gutter-font-size: 10px !default;

$calendar-category-column-min-width: 200px !default;

$calendar-weekly-weekday-padding: 8px 4px 0px 4px !default;
$calendar-weekly-weekday-font-size: 11px !default;
$calendar-weekly-day-min-height: 150px !default;
$calendar-weekly-day-padding: 0px 0px 0px 0px !default;
$calendar-weekly-day-label-size: 32px !default;
$calendar-weekly-day-label-font-size: 12px !default;
$calendar-weekly-day-label-margin: 4px 0 0 0 !default;
$calendar-weekly-day-month-left: 36px !default;
$calendar-weekly-weeknumber-flex-basis: 24px !default;
$calendar-weekly-weeknumber-padding-top: 6px !default;
$calendar-weekly-weeknumber-font-size: 12px !default;
$calendar-weekly-weeknumber-font-weight: 500 !default;

$calendar-event-bottom-space: 1px !default;
$calendar-event-border-width: 1px !default;
// $calendar-event-border-radius: $border-radius-root !default;
$calendar-event-font-size: 12px !default;
$calendar-event-line-height: 20px !default;
$calendar-event-right-empty: 10px !default;
