@use '../../styles/settings';

$calendar-line-width: 1px !default;

$calendar-daily-head-day-label-size: 56px !default;
$calendar-daily-head-weekday-size: 50px !default;
$calendar-daily-weekday-padding: 3px 0px 0px 0px !default;
$calendar-daily-weekday-font-size: 11px !default;
$calendar-daily-day-padding: 0px 0px 3px 0px !default;
$calendar-daily-day-font-size: 40px !default;
$calendar-daily-interval-gutter-top: -6px !default;
$calendar-daily-interval-gutter-width: 4px !default;
$calendar-daily-interval-gutter-align: right !default;
$calendar-daily-interval-gutter-line-width: 8px !default;
$calendar-daily-interval-gutter-font-size: 10px !default;

$calendar-category-column-min-width: 200px !default;

$calendar-weekly-weekday-padding: 0px 4px 0px 4px !default;
$calendar-weekly-weekday-font-size: 11px !default;
$calendar-weekly-day-padding: 0px 0px 0px 0px !default;
$calendar-weekly-day-label-size: 32px !default;
$calendar-weekly-day-label-font-size: 12px !default;
$calendar-weekly-day-label-margin: 4px 0 0 0 !default;
$calendar-weekly-day-month-left: 36px !default;
$calendar-weekly-weeknumber-flex-basis: 24px !default;
$calendar-weekly-weeknumber-padding-top: 14.5px !default;

$calendar-event-bottom-space: 1px !default;
$calendar-event-border-width: 1px !default;
$calendar-event-border-radius: settings.$border-radius-root !default;
$calendar-event-font-size: 12px !default;
$calendar-event-line-height: 20px !default;
$calendar-event-right-empty: 10px !default;

$calendar-background: rgb(var(--v-theme-surface)) !default;
$calendar-on-background: rgb(var(--v-theme-on-surface)) !default;
$calendar-outside-background: rgb(var(--v-theme-surface-light)) !default;
$calendar-on-outside-background: rgb(var(--v-theme-on-surface-light)) !default;
$calendar-weeknumber-background: rgb(var(--v-theme-surface)) !default;
$calendar-on-weeknumber-background: rgb(var(--v-theme-on-surface)) !default;
$calendar-outline-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$calendar-grid-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$calendar-past-color: rgb(var(--v-theme-on-surface)) !default;
$calendar-interval-text-color: rgb(var(--v-theme-on-surface)) !default;
