@import './_variables.scss'

.v-calendar-day__row-with-label
  display: grid
  grid-template-columns: 48px 8px 1fr
  border-right: $calendar-line-width solid $calendar-line-color

  .v-calendar-day__row-hairline
    position: relative
    border-right: $calendar-line-width solid $calendar-line-color
    &:after
      content: ''
      border-bottom: $calendar-line-width solid $calendar-line-color
      position: absolute
      width: 100%
      margin-top: -1px
      z-index: 3
      pointer-events: none

  .v-calendar-day__row-label
    font-size: 10px
    text-align: center 
    position: relative
    top: -8px
  .v-calendar-day__row-content
    border-bottom: $calendar-line-width solid $calendar-line-color
    &.v-calendar-day__row-content-through
      border-bottom: none

.v-calendar-day__row-without-label
  display: grid
  grid-template-columns: 1fr
  border-right: $calendar-line-width solid $calendar-line-color
  
  .v-calendar-day__row-content
    overflow: hidden
    border-bottom: $calendar-line-width solid $calendar-line-color

    &.v-calendar-day__row-content-through
      border-bottom: none