@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-calendar-header
    align-items: $calendar-header-align
    display: $calendar-header-display
    min-height: $calendar-header-min-height

  .v-calendar-header__today
    margin-inline-end: $calendar-header-today-margin-end

  .v-calendar-header__title
    font-size: $calendar-header-title-font-size
    margin-inline-start: $calendar-header-title-margin-start
