.v-calendar-header
  align-items: center
  display: flex
  min-height: 64px

.v-calendar-header__today
  margin-inline-end: 24px

.v-calendar-header__title
  font-size: 1.5rem
  margin-inline-start: 24px
