@import './_variables.scss'

.v-calendar-weekly
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  // https://github.com/vuetifyjs/vuetify/issues/8319
  min-height: 0
  // Themed
  background-color: #fff

.v-calendar__container
  border-top: 1px solid #e0e0e0
  border-left: 1px solid #e0e0e0
  border-right: 1px solid #e0e0e0

.v-calendar-weekly__head
  display: flex
  user-select: none

.v-calendar-weekly__head-weekday
  flex: 1 0 20px
  user-select: none
  padding: $calendar-weekly-weekday-padding
  font-size: $calendar-weekly-weekday-font-size
  overflow: hidden
  text-align: center
  text-overflow: ellipsis
  text-transform: uppercase
  white-space: nowrap
  // Themed
  border-right: 1px solid #e0e0e0

  &:last-child
    border-right: none

.v-calendar-weekly__head-weeknumber
  position: relative
  flex: 0 0 $calendar-weekly-weeknumber-flex-basis

.v-calendar-weekly__week
  display: flex
  flex: 1
  height: unset
  // https://github.com/vuetifyjs/vuetify/issues/8319
  min-height: 0

.v-calendar-month__days
  display: grid
  grid-row-gap: 4px
  flex: 1 1

  &.days__0
    grid-template-columns: 1fr
    > .v-calendar-month__day
      border-right: none
  &.days__1
    grid-template-columns: 1fr
    > .v-calendar-month__day
      border-right: none
  &.days__2
    grid-template-columns: 1fr 1fr
    > .v-calendar-month__day:nth-child(2n)
      border-right: none
  &.days__3
    grid-template-columns: 1fr 1fr 1fr
    > .v-calendar-month__day:nth-child(3n)
      border-right: none
  &.days__4
    grid-template-columns: 1fr 1fr 1fr 1fr
    > .v-calendar-month__day:nth-child(4n)
      border-right: none
  &.days__5
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    > .v-calendar-month__day:nth-child(5n)
      border-right: none
  &.days__6
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    > .v-calendar-month__day:nth-child(6n)
      border-right: none
  &.days__7
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    > .v-calendar-month__day:nth-child(7n)
      border-right: none


.v-calendar-weekly__weeknumber
  display: flex
  flex: 0 0 $calendar-weekly-weeknumber-flex-basis
  height: unset
  min-height: 0
  padding-top: $calendar-weekly-weeknumber-padding-top
  text-align: center

  > small
    width: 100% !important
