@import './index'

// Block
.v-dialog
  z-index: $dialog-z-index

  .v-overlay__content
    > .v-sheet
      border-radius: $dialog-border-radius
      overflow: hidden

      @include elevation($dialog-elevation)

    > .v-card
      > .v-card__title
        font-size: $dialog-card-title-font-size
        font-weight: $dialog-card-title-font-weight
        letter-spacing: $dialog-card-title-letter-spacing
        padding: $dialog-card-title-padding

      > .v-card__text
        padding: $dialog-card-text-padding

      > .v-card__subtitle
        padding: $dialog-card-subtitle-padding

      > .v-card__actions
        padding: $dialog-card-actions-padding

.v-dialog--fullscreen
  --v-scrollbar-offset: 0px

  .v-overlay__content
    border-radius: 0
    margin: 0
    width: 100%
    height: 100%
    overflow-y: auto
    top: 0
    left: 0

    > .v-sheet
      min-height: 100%
      min-width: 100%
      margin: 0 !important
      padding: 0 !important
      border-radius: 0 !important

.v-dialog--scrollable .v-overlay__content,
.v-dialog--scrollable .v-overlay__content > form
  display: flex

  > .v-card
    display: flex
    flex: 1 1 100%
    flex-direction: column
    max-height: 100%
    max-width: 100%

    > .v-card__title,
    > .v-card__actions
      flex: 0 0 auto

    > .v-card__text
      backface-visibility: hidden
      flex: 1 1 auto
      overflow-y: auto
