.v-dialog {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.v-dialog > .v-overlay__content {
  max-height: calc(100% - 48px);
  width: calc(100% - 48px);
  max-width: calc(100% - 48px);
  margin: 24px;
  display: flex;
  flex-direction: column;
}
.v-dialog > .v-overlay__content > .v-card,
.v-dialog > .v-overlay__content > .v-sheet {
  --v-scrollbar-offset: 0px;
  border-radius: 4px;
  overflow-y: auto;
  box-shadow: 0px 11px 15px -7px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 24px 38px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 9px 46px 8px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}
.v-dialog > .v-overlay__content > .v-card {
  display: flex;
  flex-direction: column;
}
.v-dialog > .v-overlay__content > .v-card > .v-card-item {
  padding: 14px 24px 0;
}
.v-dialog > .v-overlay__content > .v-card > .v-card-item + .v-card-text {
  padding-top: 10px;
}
.v-dialog > .v-overlay__content > .v-card > .v-card-text {
  font-size: inherit;
  letter-spacing: 0.03125em;
  line-height: inherit;
  padding: 16px 24px 10px;
}

.v-dialog--fullscreen {
  --v-scrollbar-offset: 0px;
}
.v-dialog--fullscreen > .v-overlay__content {
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
}
.v-dialog--fullscreen > .v-overlay__content > .v-card,
.v-dialog--fullscreen > .v-overlay__content > .v-sheet {
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;
}

.v-dialog--scrollable > .v-overlay__content,
.v-dialog--scrollable > .v-overlay__content > form {
  display: flex;
}
.v-dialog--scrollable > .v-overlay__content > .v-card,
.v-dialog--scrollable > .v-overlay__content > form > .v-card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
}
.v-dialog--scrollable > .v-overlay__content > .v-card > .v-card-text,
.v-dialog--scrollable > .v-overlay__content > form > .v-card > .v-card-text {
  backface-visibility: hidden;
  overflow-y: auto;
}