$picker-border-radius: 2px !default;
$picker-title-padding: 16px !default;
$picker-inactive-btn-opacity: .6 !default;
$picker-active-btn-opacity: 1 !default;
$picker-landscape-title-width: 170px !default;
