@import '../../styles/styles.sass';

$chip-group-content-padding: 4px 0 !default;
$chip-group-margin: 4px 8px 4px 0 !default;
$chip-group-no-color-focus-opacity: .32 !default;
$chip-group-no-color-opacity: .22 !default;
