@use './variables' as *

// Block
.v-chip-group
  display: flex
  max-width: 100%
  min-width: 0
  overflow-x: auto
  padding: $chip-group-padding
  flex-wrap: wrap // TODO: replace with slide-group

  .v-chip
    margin: $chip-group-margin

    &.v-chip--selected:not(.v-chip--disabled)
      .v-chip__overlay
        opacity: $chip-group-selected-opacity

// Modifiers
.v-chip-group--column
  flex-wrap: wrap
  white-space: normal
