@import './_variables.scss'

// Block
.v-chip-group
  display: flex
  padding: $chip-group-padding
  min-width: 0
  max-width: 100%
  overflow-x: auto

  .v-chip
    margin: $chip-group-margin

    &.v-chip--selected:not(.v-chip--disabled)
      .v-chip__overlay
        opacity: $chip-group-selected-opacity

// Modifiers
.v-chip-group--column
  flex-wrap: wrap
  white-space: normal
