@use '../../styles/settings';

// VSheet
$sheet-background: rgb(var(--v-theme-surface)) !default;
$sheet-border-color: settings.$border-color-root !default;
$sheet-border-radius: 0 !default;
$sheet-border-style: settings.$border-style-root !default;
$sheet-border-thin-width: thin !default;
$sheet-border-width: 0 !default;
$sheet-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !default;
$sheet-elevation: 0 !default;
$sheet-positions: absolute fixed relative sticky !default;
$sheet-rounded-border-radius: settings.$border-radius-root !default;

// Lists
$sheet-border: (
  $sheet-border-color,
  $sheet-border-style,
  $sheet-border-width,
  $sheet-border-thin-width
) !default;

$sheet-theme: (
  $sheet-background,
  $sheet-color
) !default;
