@import '../../styles/styles.sass';

// Defaults
$sheet-border-color: $border-color-root !default;
$sheet-border-style: $border-style-root !default;
$sheet-border-width: 0 !default;
$sheet-elevation: 0 !default;

$sheet-query: () !default;
$sheet-query: map-deep-merge(
  (
    'border-color': $sheet-border-color,
    'border-style': $sheet-border-style,
    'border-width': $sheet-border-width,
    'elevation': $sheet-elevation
  ),
  $sheet-query
);
