// Defaults
$sheet-border-color: $border-color-root !default;
$sheet-border-style: $border-style-root !default;
$sheet-border-radius: 0 !default;
$sheet-rounded-border-radius: $border-radius-root !default;
$sheet-border-width: 0 !default;
$sheet-elevation: 0 !default;
$sheet-positions: absolute fixed !default;

$sheet-border: (
  $sheet-border-color,
  $sheet-border-style,
  $sheet-border-width
) !default;
