@use 'sass:math'
@forward './variables'
@use 'sass:map'
@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

.v-tabs
  display: flex

  @at-root
    @include tools.density('v-tabs', $tabs-density) using ($modifier)
      height: $tabs-height + $modifier

      &.v-tabs--stacked
        height: $tabs-stacked-height + $modifier

  &.v-slide-group--vertical
    height: auto

    .v-tab
      --v-btn-height: #{$tabs-height}

.v-tabs--align-with-title:not(.v-slide-group--has-affixes)
  .v-tab:first-child
    margin-inline-start: $tab-align-with-title-margin

.v-tabs--fixed-tabs,
.v-tabs--centered
  .v-slide-group__content > *:last-child
    margin-inline-end: auto

  .v-slide-group__content > *:first-child
    margin-inline-start: auto

.v-tabs--grow
  flex-grow: 1

  .v-tab
    flex: 1 0 auto
    max-width: none

.v-tabs--right
  .v-tab:first-child
    margin-inline-start: auto

  .v-tab:last-child
    margin-inline-end: 0

@media #{map-get(settings.$display-breakpoints, 'md-and-down')}
  .v-tabs.v-slide-group--is-overflowing:not(.v-slide-group--has-affixes)
    .v-tab:first-child
      margin-inline-start: 52px
    .v-tab:last-child
      margin-inline-end: 52px
