.v-tabs {
  display: flex;
  height: var(--v-tabs-height);
}
.v-tabs--density-default {
  --v-tabs-height: 48px;
}
.v-tabs--density-default.v-tabs--stacked {
  --v-tabs-height: 72px;
}

.v-tabs--density-comfortable {
  --v-tabs-height: 44px;
}
.v-tabs--density-comfortable.v-tabs--stacked {
  --v-tabs-height: 68px;
}

.v-tabs--density-compact {
  --v-tabs-height: 36px;
}
.v-tabs--density-compact.v-tabs--stacked {
  --v-tabs-height: 60px;
}

.v-tabs.v-slide-group--vertical {
  height: auto;
  flex: none;
  --v-tabs-height: 48px;
}

.v-tabs--align-tabs-title:not(.v-slide-group--has-affixes) .v-tab:first-child {
  margin-inline-start: 42px;
}

.v-tabs--fixed-tabs .v-slide-group__content > *:last-child,
.v-tabs--align-tabs-center .v-slide-group__content > *:last-child {
  margin-inline-end: auto;
}
.v-tabs--fixed-tabs .v-slide-group__content > *:first-child,
.v-tabs--align-tabs-center .v-slide-group__content > *:first-child {
  margin-inline-start: auto;
}

.v-tabs--grow {
  flex-grow: 1;
}
.v-tabs--grow .v-tab {
  flex: 1 0 auto;
  max-width: none;
}

.v-tabs--align-tabs-end .v-tab:first-child {
  margin-inline-start: auto;
}
.v-tabs--align-tabs-end .v-tab:last-child {
  margin-inline-end: 0;
}

@media (max-width: 1279.98px) {
  .v-tabs.v-slide-group--is-overflowing.v-slide-group--horizontal:not(.v-slide-group--has-affixes) .v-tab:first-child {
    margin-inline-start: 52px;
  }
  .v-tabs.v-slide-group--is-overflowing.v-slide-group--horizontal:not(.v-slide-group--has-affixes) .v-tab:last-child {
    margin-inline-end: 52px;
  }
}