@use 'sass:math';
@use 'sass:map';
@use '../../styles/settings';
@use '../../styles/tools';

$fab-border-radius: map.get(settings.$rounded, 'circle') !default;
$fab-border-radius-multiplier: 0 !default; // 2.4 for MD3
$fab-height: 56px !default;
$fab-font-size: tools.map-deep-get(settings.$typography, 'button', 'size') !default;
$fab-font-weight: tools.map-deep-get(settings.$typography, 'button', 'weight') !default;
$fab-transition-duration: 0.2s !default;
$fab-transition-timing-function: settings.$standard-easing !default;
$fab-width-ratio: math.div(16, 9) !default;
$fab-padding-ratio: 2.25 !default;

$fab-size-scales: (
  'x-small': -2,
  'small': -1,
  'default': 0,
  'large': 2,
  'x-large': 5
) !default;

$fab-sizes: () !default;
$fab-sizes: map.merge(
  (
    'height': $fab-height,
    'font-size': $fab-font-size,
    'width-ratio': $fab-width-ratio,
    'padding-ratio': $fab-padding-ratio
  ),
  $fab-sizes
);
