shadow-key-umbra-opacity = rgba(0,0,0, .2)
shadow-key-penumbra-opacity = rgba(0,0,0, .14)
shadow-ambient-shadow-opacity = rgba(0,0,0, .12)

elevation-0dp = 0 0px 0px shadow-key-umbra-opacity,
                0 0px 0px shadow-key-penumbra-opacity,
                0 0px 0px shadow-ambient-shadow-opacity

elevation-1dp = 0 1px 3px shadow-key-umbra-opacity,
                0 1px 1px shadow-key-penumbra-opacity,
                0 2px 1px -1px shadow-ambient-shadow-opacity

elevation-2dp = 0 1px 5px shadow-key-umbra-opacity,
                0 2px 2px shadow-key-penumbra-opacity,
                0 3px 1px -2px shadow-ambient-shadow-opacity

elevation-3dp = 0 1px 8px shadow-key-umbra-opacity,
                0 3px 4px shadow-key-penumbra-opacity,
                0 3px 3px -2px shadow-ambient-shadow-opacity

elevation-4dp = 0 2px 4px -1px shadow-key-umbra-opacity,
                0 4px 5px shadow-key-penumbra-opacity,
                0 1px 10px shadow-ambient-shadow-opacity

elevation-5dp = 0 3px 5px -1px shadow-key-umbra-opacity,
                0 5px 8px shadow-key-penumbra-opacity,
                0 1px 14px shadow-ambient-shadow-opacity

elevation-6dp = 0 3px 5px -1px shadow-key-umbra-opacity,
                0 6px 10px shadow-key-penumbra-opacity,
                0 1px 18px shadow-ambient-shadow-opacity

elevation-7dp = 0 4px 5px -2px shadow-key-umbra-opacity,
                0 7px 10px 1px shadow-key-penumbra-opacity,
                0 2px 16px 1px shadow-ambient-shadow-opacity

elevation-8dp = 0 5px 5px -3px shadow-key-umbra-opacity,
                0 8px 10px 1px shadow-key-penumbra-opacity,
                0 3px 14px 2px shadow-ambient-shadow-opacity

elevation-9dp = 0 5px 6px -3px shadow-key-umbra-opacity,
                0 9px 12px 1px shadow-key-penumbra-opacity,
                0 3px 16px 2px shadow-ambient-shadow-opacity

elevation-10dp = 0 6px 6px -3px shadow-key-umbra-opacity,
                 0 10px 14px 1px shadow-key-penumbra-opacity,
                 0 4px 18px 3px shadow-ambient-shadow-opacity

elevation-11dp = 0 6px 7px -4px shadow-key-umbra-opacity,
                 0 11px 15px 1px shadow-key-penumbra-opacity,
                 0 4px 20px 3px shadow-ambient-shadow-opacity

elevation-12dp = 0 7px 8px -4px shadow-key-umbra-opacity,
                 0 12px 17px 2px shadow-key-penumbra-opacity,
                 0 5px 22px 4px shadow-ambient-shadow-opacity

elevation-13dp = 0 7px 8px -4px shadow-key-umbra-opacity,
                 0 13px 19px 2px shadow-key-penumbra-opacity,
                 0 5px 24px 4px shadow-ambient-shadow-opacity

elevation-14dp = 0 7px 9px -4px shadow-key-umbra-opacity,
                 0 14px 21px 2px shadow-key-penumbra-opacity,
                 0 5px 26px 4px shadow-ambient-shadow-opacity

elevation-15dp = 0 8px 9px -5px shadow-key-umbra-opacity,
                 0 15px 22px 2px shadow-key-penumbra-opacity,
                 0 6px 28px 5px shadow-ambient-shadow-opacity

elevation-16dp = 0 8px 10px -5px shadow-key-umbra-opacity,
                 0 16px 24px 2px shadow-key-penumbra-opacity,
                 0 6px 30px 5px shadow-ambient-shadow-opacity

elevation-17dp = 0 8px 11px -5px shadow-key-umbra-opacity,
                 0 17px 26px 2px shadow-key-penumbra-opacity,
                 0 6px 32px 5px shadow-ambient-shadow-opacity

elevation-18dp = 0 9px 11px -5px shadow-key-umbra-opacity,
                 0 18px 28px 2px shadow-key-penumbra-opacity,
                 0 7px 34px 6px shadow-ambient-shadow-opacity

elevation-19dp = 0 9px 12px -6px shadow-key-umbra-opacity,
                 0 19px 29px 2px shadow-key-penumbra-opacity,
                 0 7px 36px 6px shadow-ambient-shadow-opacity

elevation-20dp = 0 10px 13px -6px shadow-key-umbra-opacity,
                 0 20px 31px 3px shadow-key-penumbra-opacity,
                 0 8px 38px 7px shadow-ambient-shadow-opacity

elevation-21dp = 0 10px 13px -6px shadow-key-umbra-opacity,
                 0 21px 33px 3px shadow-key-penumbra-opacity,
                 0 8px 40px 7px shadow-ambient-shadow-opacity

elevation-22dp = 0 10px 14px -6px shadow-key-umbra-opacity,
               0 22px 35px 3px shadow-key-penumbra-opacity,
               0 8px 42px 7px shadow-ambient-shadow-opacity

elevation-23dp = 0 11px 14px -7px shadow-key-umbra-opacity,
                 0 23px 36px 3px shadow-key-penumbra-opacity,
                 0 9px 44px 8px shadow-ambient-shadow-opacity

elevation-24dp = 0 11px 15px -7px shadow-key-umbra-opacity,
                 0 24px 38px 3px shadow-key-penumbra-opacity,
                 0 9px 46px 8px shadow-ambient-shadow-opacity

// MIXINS
elevation($z, important = false)
  box-shadow: elevation-+$z+dp (important ? !important : )

elevationTransition($duration = 280ms, $easing = cubic-bezier(.4, 0, .2, 1))
  transition: box-shadow $duration $easing
  will-change: box-shadow
