// Theme
$body-font-family := 'Roboto', san-serif
$body-bg := $shades.white
$font-size-root := 16px
$primary-color := $blue.base
$primary-color-accent := $blue.accent-4
$secondary-color := $grey.darken-3

// Grid
$grid-breakpoints := {
  xs: 0rem
  sm: 48rem
  md: 64rem
  lg: 75rem
}
$container-max-widths := {
  sm: $grid-breakpoints.sm * .9,
  md: $grid-breakpoints.md * .9,
  lg: $grid-breakpoints.lg * .9
}
$grid-gutter := 2rem
$grid-outer-margin := 2rem
$grid-gutter-full := $grid-gutter * .25 * -1
$grid-gutter-half := $grid-gutter * .25
$grid-columns := 12

// Spacing
$spacer := 1rem
$spacer-x := $spacer
$spacer-y := $spacer
$spacers := {
  none: {
    x: 0,
    y: 0
  },
  one: {
    x: $spacer-x,
    y: $spacer-y
  },
  one-half: {
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  },
  double: {
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  }
}

// Headings
$heading-color := $grey.darken-3
$heading-base := 4.2rem
$heading-growth := .64

// Transitions
$primary-transition := all 0.3s cubic-bezier(0, 0, .2, 1)
$secondary-transition := all 0.2s ease-out

// Alerts
$alert-padding := 1.5rem
$alert-border-radius := 4px
$alert-margin := $spacers.one.y auto

// Badges
$badge-color := $shades.white
$badge-font-family := $body-font-family
$badge-font-size := .9rem
$badge-height := 22px
$badge-top := -11px
$badge-right := 0
$badge-width := 22px

// Breadcrumbs
$breadcrumb-height := 40px
$breadcrumb-padding := 0 1rem

// Buttons
$button-background := $grey.lighten-2
$button-border := none
$button-border-radius := 2px
$button-color := $shades.black
$button-disabled-opacity := .5
$button-height := 2.6rem
$button-flat-hover := rgba(158, 158, 158, .2)
$button-floating-padding := .5rem
$button-font-size := .9rem
$button-font-weight := 500
$button-large-multiplier := 1.3
$button-letter-spacing := .5px
$button-padding-left := 1.3rem
$button-padding-top := 0
$button-small-multiplier := .7
$button-text-transform := uppercase
$button-transition := all .2s ease-out

// Card
$card-padding := .4rem
$card-title-text-size := 1.5rem
$card-title-text-letter-spacing := .1rem
$card-title-text-font-weight := 400
$card-actions-min-height := 3rem
$card-actions-font-size := .9rem
$card-actions-button-padding := .7rem

// Collapsible
$collapsible-collapse-height := 3rem
$collapsible-transition-height := 0.23s

// Footer
$footer-height := 3rem

// Navbar
$navbar-height := 4rem
$navbar-item-padding := 0 1.2rem

// Sidebar
$sidebar-height := 100vh
$sidebar-width := 240px
$sidebar-item-color := $grey.darken-3
$sidebar-item-padding := .7rem 2rem

// Slider
$slider-arrow-size := 2rem