// ============================================================
// Vuetify variables
// ============================================================



// Theme
// ============================================================
$body-font-family := 'Roboto', san-serif
$body-bg := #FFFFFF
$color-root := $grey.darken-3
$font-size-root := 14px
$line-height-root := 1.5
$theme := {
  primary: $blue.darken-2
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.accent-2
  success: $green.base
}

$color-pack := true


// Material Design
// ============================================================
$material-left-padding := 16px
$material-right-padding := 16px
$material-twelve-percent-light := rgba(#fff, 0.12)
$material-twelve-percent-dark := rgba(#000, 0.12)


// Grid
// ============================================================
$grid-breakpoints := {
  xs: 0
  sm: 576px
  md: 768px
  lg: 992px
  xl: 1200px
}

$container-max-widths := {
  sm: $grid-breakpoints.sm * .9
  md: $grid-breakpoints.md * .9
  lg: $grid-breakpoints.lg * .9
  xl: $grid-breakpoints.xl * .9
}

$grid-gutter := 2rem
$grid-outer-margin := 2rem
$grid-gutter-full := $grid-gutter * .25 * -1
$grid-gutter-half := $grid-gutter * .25
$grid-columns := 12


// Display
// ============================================================
$display-breakpoints := {
  sm-and-down: "only screen and (max-width: %s)" % ($grid-breakpoints.md - 1)
  sm-and-up: "only screen and (min-width: (%s))" % $grid-breakpoints.md
  md-only: "only screen and (min-width: %s) and (max-width: %s)" % $grid-breakpoints.md ($grid-breakpoints.lg  - 1)
  md-and-down: "only screen and (max-width: %s )" % ($grid-breakpoints.lg - 1)
  md-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.lg
  lg-only: "only screen and (min-width: %s) and (max-width: %s)" % $grid-breakpoints.lg ($grid-breakpoints.xl - 1)
  lg-and-down: "only screen and (max-width: (%s - 1))" % $grid-breakpoints.xl
  lg-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.xl
}


// Spacing
// ============================================================
$spacer := 1rem
$spacer-x := $spacer
$spacer-y := $spacer
$spacers := {
  zero: {
    x: 0,
    y: 0
  },
  one: {
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  },
  two: {
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  },
  three: {
    x: $spacer-x,
    y: $spacer-y
  },
  four: {
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  },
  five: {
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  }
}


// Headings
// ============================================================
$heading-color := $grey.darken-3
$headings := {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em },
  h2: { size: 56px, weight: 400, line-height: 1.35, letter-spacing: -.02em },
  h3: { size: 45px, weight: 400, line-height: 48px, letter-spacing: normal },
  h4: { size: 34px, weight: 400, line-height: 40px, letter-spacing: normal },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em }
}


// Transitions
$primary-transition := 0.3s cubic-bezier(0, 0, .2, 1)
$secondary-transition := 0.2s ease-out

$transition := {
  fast-out-slow-in: cubic-bezier(0.4, 0.0, 0.2, 1),
  linear-out-slow-in: cubic-bezier(0.0, 0.0, 0.2, 1),
  fast-out-linear-in: cubic-bezier(0.4, 0.0, 1, 1),
  ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1),
  fast-in-fast-out: cubic-bezier(.25,.8,.25,1),
  swing: cubic-bezier(.25,.8,.25,1)
}

// Components
// ============================================================

// Alerts
$alert-color := inherit
$alert-border-radius := 0
$alert-border-width := 4px 0 0 0
$alert-font-size := 1.1rem
$alert-icon-color := rgba(#000000, .3)
$alert-icon-font-size := 2rem
$alert-padding := 1.5rem
$alert-margin := $spacers.one.y auto

// Badges
$badge-border-radius := 50%
$badge-color := #FFFFFF
$badge-font-family := $body-font-family
$badge-font-size := .9rem
$badge-height := 22px
$badge-top := 0
$badge-right := 0
$badge-width := 22px

// Breadcrumbs
$breadcrumbs-flex := 0 1 auto
$breadcrumbs-height := 40px
$breadcrumbs-item-font-size := 1rem
$breadcrumbs-margin := 0
$breadcrumbs-padding := 0 1rem

/** Buttons */

// Base
$button-border-radius := 2px
$button-color := #fff
$button-background-color := #999999
$button-height := 36px
$button-font-size := 14px
$button-font-weight := 500
$button-margin := 6px
$button-min-width := 88px
$button-padding := 0 16px
$button-text-transform := uppercase

$button-dark-overlay := rgba(#fff, 0.12)
$button-dark-disabled-color := rgba(#fff, 0.3)
$button-light-overlay := rgba(#000, 0.12)
$button-light-disabled-color := rgba(#000, 0.26)

$button-small-height := 28px
$button-small-font-size := 13px

$button-large-height := 44px
$button-large-font-size := 15px

$button-floating-width := 56px
$button-floating-icon-height := 24px
$button-floating-icon-width := 24px
$button-floating-small-width := 40px
$button-floating-large-width := 72px
$button-floating-small-icon-width := 18px
$button-floating-large-icon-width := 30px

// Button Dropdown
$button-dropdown-font-size := 16px
$button-dropdown-font-weight := 500
$button-dropdown-overflow-editable-height := 42px
$button-dropdown-overflow-editable-min-width := 102px
$button-dropdown-overflow-editable-padding := 0 16px
$button-dropdown-border-bottom := 1px solid $material-twelve-percent-dark
$button-dropdown-input-width := calc(100% - 40px)
$button-dropdown-input-padding-left := 16px
$button-dropdown-background := #fff

// Card
$card-actions-border-top := 1px solid rgba(#000000, .1)
$card-background := #FFFFFF
$card-padding := 16px
$card-border-radius := 2px
$card-title-text-size := 1.5rem
$card-title-text-letter-spacing := .1rem
$card-title-text-font-weight := 400
$card-row-min-height := 36px
$card-actions-font-size := .9rem
$card-actions-button-padding := .7rem

// Chip
$chip-background := $grey.lighten-2
$chip-border := 1px solid $grey.lighten-2
$chip-border-radius := 2rem
$chip-font-size := 14px
$chip-label-border-radius := 0
$chip-icon-font-size := 24px
$chip-icon-color := rgba(#000, .54)
$chip-padding := 0 12px
$chip-removeable-padding := 0 4px 0 12px
$chip-outline-background := transparent !important
$chip-outline-color := $grey.base
$chip-height := 32px
$chip-margin := 8px
$chip-small-height := 26px

// Collapsible
$collapsible-collapse-height := 3rem
$collapsible-transition-height := 0.23s

// Footer
$footer-height := 45px

/** Lists */
$list-left-padding := 16px
$list-right-padding := 16px
$list-top-padding := 8px
$list-bottom-padding := 8px

$list-item-right-margin := 56px
$list-item-left-padding := 72px
$list-item-dense-top-padding := 4px

$list-item-font-size := 16px
$list-item-dense-font-size := 13px
$list-item-font-weight := 500

$list-item-single-height := 48px
$list-item-dense-single-height := 40px
$list-item-avatar-single-height := 56px
$list-item-dense-avatar-single-height := 48px

$list-item-double-height := 72px
$list-item-dense-double-height := 60px

$list-item-triple-height := 88px
$list-item-dense-triple-height := 76px

$subheader-inset-margin := $list-item-right-margin
$subheader-font-weight := 500
$subheader-height-font-size := 14px

$list-title-font-size := 16px
$list-title-font-weight := 500
$list-title-dense-font-weight := 400

$list-sub-title-font-size := 14px
$list-sub-title-font-weight := 400

$list-content-font-size := 15px

$list-group-tile-title-font-weight := 300
$list-group-tile-title-active-font-weight := 300

$list-action-text-font-size := 12px

// Toolbar
$toolbar-height := 64px
$toolbar-item-padding := 0 1.2rem
$toolbar-padding-y := 0
$toolbar-padding-x := 14px

// Progress Circular
$progress-circular-rotate-animation := progress-circular-rotate 1.4s linear infinite
$progress-circular-rotate-dash := progress-circular-dash 1.4s ease-in-out infinite
$process-circular-intermediate-svg-transition := all .2s ease-in-out
$progress-circular-underlay-stroke := rgba(#000, 0.1)
$progress-circular-overlay-transition := all .6s ease-in-out


/* Selection Controls */
$selection-switch-light-color := rgba(#000, .38)
$selection-switch-light-background := #fafafa
$selection-switch-light-label-color := #424242
$selection-switch-light-disabled-color := rgba(#000, .12)
$selection-switch-light-disabled-background := #bdbdbd

$selection-switch-dark-color := rgba(#fff, .30)
$selection-switch-dark-background := #bdbdbd
$selection-switch-dark-label-color := #fff
$selection-switch-dark-disabled-color := rgba(#fff, .10)
$selection-switch-dark-disabled-background := #424242

$selection-controls-light-color := rgba(#000, .54)
$selection-controls-light-disabled-color := rgba(#000, .26)
$selection-controls-light-label-color := #000

$selection-controls-dark-color := rgba(#fff, .70)
$selection-controls-dark-disabled-color := rgba(#fff, .30)
$selection-controls-dark-label-color := #fff


/* Sidebar */

$sidebar-height := 100vh
$sidebar-width := 300px

// Sidebar Item
$sidebar-item-color := #fff
$sidebar-item-height := 50px
$sidebar-item-active-color := #fff
$sidebar-item-active-background-color := $theme.primary
$sidebar-item-hover-background-color := rgba($theme.primary, .4)

// Sidebar Item Header
$sidebar-item-header-padding := .2rem .2rem .2rem 2rem
$sidebar-item-header-color := #fff
$sidebar-item-header-font-size := 90%
$sidebar-item-header-letter-spacing := .1px

// Sidebar Group
$sidebar-group-items-background-color := darken($theme.secondary, 15%)
$sidebar-group-header-active-sidebar-items-border := 1px solid rgba(#fff, .1)
$sidebar-group-header-active-sidebar-item-active-background-color := rgba($theme.primary, .4)

// Slider
$slider-arrow-size := 2rem


/* Slider */
$slider-light-off := rgba(#000, .26)
$slider-light-focus-off := rgba(#000, .38)
$slider-light-disabled := rgba(#000, .26)
$slider-light-label := #000
$slider-light-ticks := rgba(#000, .6)

$slider-dark-off := rgba(#fff, .3)
$slider-dark-focus-off := rgba(#fff, .3)
$slider-dark-disabled := rgba(#fff, .3)
$slider-dark-label := #fff
$slider-dark-ticks := rgba(#fff, .6)


/** Snackbar */
$snackbar-background-color := #323232


/* Text Input */
$input-group-height := 58px
$input-group-margin := 18px 0
$input-font-size := 16px
$label-font-size := 12px
$input-height := 30px

$input-group-light-normal := rgba(#000, .38)
$input-group-light-focus := rgba(#000, .87)

$input-group-dark-normal := rgba(#fff, .5)
$input-group-dark-focus := #fff


$label-padding-top := 16px
$label-padding-bottom := 8px
$input-padding-bottom := 8px

// Directives
// ============================================================

// Ripple animation
$ripple-container-color := currentColor
$ripple-animation-background := currentColor
$ripple-animation-transition := .4s $transition.linear-out-slow-in
$ripple-animation-visible-opacity := .15