@use '../../components/VKbd/variables' as vkdb;

$hotkey-gap: 4px !default;
$hotkey-icon-max-width: 0.75em !default;
$hotkey-divider-opacity: var(--v-medium-emphasis-opacity) !default;
$hotkey-divider-font-size: 0.75em !default;
$hotkey-combination-gap: 2px !default;
$hotkey-font-size: 0.75rem !default;
$hotkey-line-height: 1.5 !default;
$hotkey-padding: .2rem !default;
$hotkey-min-width: 20px !default;

$hotkey-inline-font-size: 1em !default;
$hotkey-inline-line-height: vkdb.$kbd-line-height !default;
$hotkey-inline-padding: 2px 4px !default;
$hotkey-inline-min-width: vkdb.$kbd-min-width !default;
$hotkey-inline-icon-max-height: calc(1ex + 2px) !default;
$hotkey-inline-divider-font-size: 0.875em !default;
