$hotkey-gap: 4px !default;
$hotkey-icon-max-width: 0.75em !default;
$hotkey-divider-opacity: var(--v-medium-emphasis-opacity) !default;
$hotkey-divider-font-size: 0.75em !default;
$hotkey-combination-gap: 2px !default;
