@use '../../styles/tools';

@include tools.layer('components') {
  .v-hotkey {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    &__key.v-kbd {
      text-align: center;
    }

    &__key-icon {
      padding: 4px 2px;
      .v-icon {
        max-width: 0.75rem;
        max-height: 0.75rem;
        min-width: unset;
      }
    }

    &__divider {
      opacity: 0.5;
      font-size: 0.75rem;
    }

    &__combination {
      display: inline-flex;
      align-items: center;
      gap: 2px;
    }
  }
}
