@mixin navigation-drawer-theme($material)
  background-color: map-get($material, 'cards')

  &:not(.v-navigation-drawer--floating)
    .v-navigation-drawer__border
      background-color: map-get($material, 'dividers')

  .v-divider
    border-color: map-get($material, 'dividers')
