.v-navigation-drawer {
  -webkit-overflow-scrolling: touch;
  background: rgb(var(--v-theme-surface));
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  pointer-events: auto;
  transition-duration: 0.2s;
  transition-property: box-shadow, transform, visibility, width, height, left, right, top, bottom;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  position: absolute;
  border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  border-style: solid;
  border-width: 0;
  box-shadow: 0px 0px 0px 0px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  background: rgb(var(--v-theme-surface));
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}
.v-navigation-drawer--border {
  border-width: thin;
  box-shadow: none;
}
.v-navigation-drawer--rounded {
  border-radius: 4px;
}
.v-navigation-drawer--top {
  top: 0;
  border-bottom-width: thin;
}
.v-navigation-drawer--bottom {
  left: 0;
  border-top-width: thin;
}
.v-navigation-drawer--left {
  top: 0;
  left: 0;
  right: auto;
  border-right-width: thin;
}
.v-navigation-drawer--right {
  top: 0;
  left: auto;
  right: 0;
  border-left-width: thin;
}
.v-navigation-drawer--floating {
  border: none;
}
.v-navigation-drawer--temporary {
  box-shadow: 0px 8px 10px -5px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 16px 24px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 6px 30px 5px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}
.v-navigation-drawer--sticky {
  height: auto;
  transition: box-shadow, transform, visibility, width, height, left, right;
}
.v-navigation-drawer .v-list {
  overflow: hidden;
}

.v-navigation-drawer__content {
  flex: 0 1 auto;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.v-navigation-drawer__img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.v-navigation-drawer__img img {
  height: inherit;
  object-fit: cover;
  width: inherit;
}

.v-navigation-drawer__scrim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}