@mixin simple-table-theme($material)
  background-color: map-get($material, 'cards')
  color: map-deep-get($material, 'text', 'primary')

  colgroup
    .divider
      border-right: 1px solid rgba(map-get($material, 'fg-color'), map-get($material, 'divider-percent'))

  &.v-data-table--fixed-header
    thead th
      background: white
      border-bottom: 0px !important
      box-shadow: inset 0 -1px 0 rgba(map-get($material, 'fg-color'), map-get($material, 'divider-percent'))

  thead
    tr
      &:last-child th
        border-bottom: 1px solid rgba(map-get($material, 'fg-color'), map-get($material, 'divider-percent'))

      th
        color: rgba(map-get($material, 'text-color'), map-get($material, 'secondary-text-percent'))

  tbody
    tr
      &:not(:last-child)
        border-bottom: 1px solid rgba(map-get($material, 'fg-color'), map-get($material, 'divider-percent'))

      &.active
        background: map-deep-get($material, 'table', 'active')

@mixin data-table-theme($material)
  tbody
    tr
      &:hover:not(.v-data-table__expand-row)
        background: map-deep-get($material, 'table', 'hover')

      &.expanded
        border-bottom: 0

        &.expanded__row
          background: map-deep-get($material, 'table', 'active')

        &.expanded__content
          box-shadow: inset 0px 4px 8px -5px rgba(50, 50, 50, 0.75), inset 0px -4px 8px -5px rgba(50, 50, 50, 0.75)

  .v-data-footer
    border-top: 1px solid rgba(map-get($material, 'fg-color'), map-get($material, 'divider-percent'))

@mixin data-table-header-theme($material)
  .v-data-table-header
    th.sortable
      .v-icon
        color: rgba(map-get($material, 'fg-color'), map-get($material, 'disabledORhints-text-percent'))

      &:hover
        color: rgba(map-get($material, 'fg-color'), map-get($material, 'primary-text-percent'))

      &.active
        color: rgba(map-get($material, 'fg-color'), map-get($material, 'primary-text-percent'))

        .v-icon
          color: rgba(map-get($material, 'fg-color'), map-get($material, 'primary-text-percent'))

  .v-data-table-header__sort-badge
    background-color: rgba(map-get($material, 'fg-color'), map-get($material, 'divider-percent'))
    color: map-deep-get($material, 'text', 'primary')
