$data-table-cell-border: 1px solid rgba(0, 0, 0, .12);
$data-table-cell-font-size: 13px;
$data-table-cell-font-weight: 400;
$data-table-cell-padding: 0 16px;
$data-table-dense-header-height: 32px;
$data-table-dense-row-height: 24px;
$data-table-divider-border: 1px solid lightgrey;
$data-table-expand-transition: all 0.3s ease-out;
$data-table-header-badge-font-size: 0.8rem;
$data-table-header-badge-size: 16px;
$data-table-header-font-size: 12px;
$data-table-header-font-weight: 500;
$data-table-header-transition: .3s map-get($transition, 'swing');
$data-table-mobile-cell-padding: 14px;
$data-table-mobile-checkbox-margin: 0 24px 0 0;
$data-table-pagination-margin: 0 32px 0 24px;
$data-table-resize-handle-width: 8px;
$data-table-row-group-height: 35px;
$data-table-row-header-font-weight: 600;
$data-table-row-height: 48px;
$data-table-scroller-width: 17px;
$data-table-select-font-size: 12px;
$data-table-select-margin: 0 14px 0 0;
$data-table-sort-icon-font-size: 18px;
$data-table-sort-icon-transition: .3s map-get($transition, 'swing');
$data-table-v-select-margin: 13px 0 13px 34px;
