@import '../../styles/styles.sass';

$data-table-scroll-bar-width: 17px !default;
$data-table-regular-row-height: 48px !default;
$data-table-regular-header-height: 48px !default;
$data-table-dense-row-height: 24px !default;
$data-table-dense-header-height: 32px !default;
