@import '../../styles/styles.sass'

@mixin small-dialog-theme($material)
  a
    color: rgba(map-get($material, 'fg-color'), map-get($material, 'primary-text-percent'))

  .v-small-dialog__content, .v-small-dialog__actions
    background: map-get($material, 'cards')

.v-small-dialog.theme--light
  +small-dialog-theme($material-light)
.v-small-dialog.theme--dark
  +small-dialog-theme($material-dark)

.v-small-dialog
  display: block
  width: 100%
  height: 100%

  &__content
    padding: 0 24px

  &__actions
    text-align: right
    white-space: pre

  a
    display: flex
    align-items: center

    height: 100%
    text-decoration: none

    > *
      width: 100%

  .v-menu__activator
    height: 100%
