@use '../../styles/settings';

$pie-underlay-inset: -8px !default;
$pie-legend-avatar-border: thin solid rgba(var(--v-theme-on-surface), .2) !default;
$pie-tooltip-avatar-border: thin solid rgba(var(--v-theme-on-surface-variant), .2) !default;