@use '../../styles/settings';

// Defaults
$select-content-border-radius: 4px !default;
$select-content-elevation: 4 !default;
$select-line-height: 1.75 !default;
$select-transition: .2s settings.$standard-easing !default;
$select-chips-control-min-height: 64px !default;
