.v-select .v-field .v-text-field__prefix,
.v-select .v-field .v-text-field__suffix,
.v-select .v-field .v-field__input, .v-select .v-field.v-field {
  cursor: pointer;
}
.v-select .v-field .v-field__input > input {
  align-self: flex-start;
  opacity: 0;
  flex: 0 0;
}
.v-select .v-field .v-field__append-inner > .v-icon {
  margin-inline-start: 4px;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.v-select .v-field--dirty .v-select__selection {
  margin-inline-end: 2px;
}
.v-select__content {
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.v-select__selection {
  display: inline-flex;
  letter-spacing: inherit;
  line-height: inherit;
}
.v-select--active-menu .v-field__append-inner > .v-icon {
  opacity: var(--v-high-emphasis-opacity);
  transform: rotate(180deg);
}
.v-select--chips .v-select__selection:first-child {
  margin-inline-start: 0;
}