.v-select .v-field .v-text-field__prefix,
.v-select .v-field .v-text-field__suffix,
.v-select .v-field .v-field__input, .v-select .v-field.v-field {
  cursor: pointer;
}
.v-select .v-field .v-field__input > input {
  align-self: flex-start;
  opacity: 1;
  flex: 0 0;
  position: absolute;
  width: 100%;
  transition: none;
  pointer-events: none;
}
.v-select .v-field--dirty .v-select__selection {
  margin-inline-end: 2px;
}
.v-select .v-field--single-line .v-select__selection-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v-select__content {
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  border-radius: 4px;
}
.v-select__selection {
  display: inline-flex;
  letter-spacing: inherit;
  line-height: inherit;
  max-width: 100%;
}
.v-select--chips .v-select__selection, .v-select--selection-slot .v-select__selection {
  margin-top: var(--v-input-chips-margin-top);
  margin-bottom: var(--v-input-chips-margin-bottom);
}
.v-select--chips .v-select__selection:first-child, .v-select--selection-slot .v-select__selection:first-child {
  margin-inline-start: 0;
}
.v-select--selected .v-field .v-field__input > input {
  opacity: 0;
}
.v-select__menu-icon {
  margin-inline-start: 4px;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.v-select--active-menu .v-select__menu-icon {
  opacity: var(--v-high-emphasis-opacity);
  transform: rotate(180deg);
}