@forward './variables'
@use 'sass:selector'
@use 'sass:math'
@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *
@use '../VInput/variables' as *

.v-select
  .v-field
    height: auto
    min-height: var(--v-input-control-height)

    .v-text-field__prefix,
    .v-text-field__suffix,
    .v-field__input
      cursor: inherit

  .v-field.v-field
    cursor: pointer

  .v-field__input
    $root: &

    @at-root
      @include tools.density('v-input', $input-density) using ($modifier)
        @at-root #{selector.append(&, $root)}
          line-height: $select-line-height + math.div($modifier * .125, settings.$spacer) * 1.5

  &__content
    overflow: hidden

    @include tools.elevation($select-content-elevation)
    @include tools.rounded($select-content-border-radius)

  &__menu-icon
    order: 1
    margin-inline-start: 4px
    transition: $select-transition

  &__selection
    display: inline-flex
    margin-inline-end: 2px

  &__selections
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity))
    display: flex
    flex-wrap: wrap
    max-width: 100%
    min-height: inherit
    min-width: 0
    overflow: hidden
    padding-bottom: var(--v-field-padding-bottom)
    padding-inline-end: var(--v-field-padding-after)
    padding-top: var(--v-field-padding-top)

    .v-text-field--prefixed &
      --v-field-padding-before: 6px

  input
    opacity: 0 !important // TODO: remove this

  &--active-menu
    .v-select__menu-icon
      color: inherit
      transform: rotate(180deg)

  &--chips
    .v-select__selection
      &:first-child
        margin-inline-start: 0
