@use 'sass:list';
@use '../settings';
@use '../tools';

@if (settings.$utilities != false and list.length(settings.$utilities) > 0) {
  @include tools.layer('utilities') {
    @each $size, $media-query in settings.$display-breakpoints {
      .hidden {
        &-#{$size} {
          @media #{$media_query} {
            display: none !important;
          }
        }
      }
    }
  }
}
