@use 'sass:list';
@use 'sass:map';
@use '../tools';
@use '../settings';

@if (settings.$utilities != false and map.get(settings.$misc, 'elevation') != false and list.length(settings.$utilities) > 0) {
  @include tools.layer('utilities.helpers') {
    @for $z from 0 through 5 {
      .elevation-#{$z} {
        @include tools.elevation($z);
      }
    }
  }
}
