@use 'sass:list'
@use '../settings'
@use '../tools'

@if (settings.$utilities != false and list.length(settings.$utilities) > 0)
  @include tools.layer('utilities')
    .pointer-events-none
      pointer-events: none !important

    .pointer-events-auto
      pointer-events: auto !important

    .pointer-pass-through
      pointer-events: none !important
      > *
        pointer-events: auto !important