@use '../../styles/settings';

// Defaults
$combobox-content-border-radius: 4px !default;
$combobox-content-elevation: 4 !default;
$combobox-line-height: 1.75 !default;
$combobox-transition: .2s settings.$standard-easing !default;
$combobox-chips-control-min-height: null !default;
$combobox-chips-margin-top: null !default;
$combobox-chips-margin-bottom: null !default;