@mixin pagination-theme($material)
  .v-pagination__item
    background: map-get($material, 'cards')
    color: map-deep-get($material, 'text', 'primary')
    min-width: 34px
    padding: 0 5px
    width: auto

    &--active
      color: map-deep-get($material, 'text', 'theme')

  .v-pagination__navigation
    background: map-get($material, 'cards')
