@use '../../styles/settings';

$menu-elevation: 8 !default;
$menu-z-index: $menu-elevation * 100;
$menu-content-border-radius: settings.$border-radius-root !default;
$menu-content-elevation: 8 !default;
