@import './index'

.v-menu
  z-index: $menu-z-index

  .v-overlay__content
    @include rounded($menu-content-border-radius)

    > .v-card,
    > .v-sheet
      border-radius: inherit
      overflow: hidden

      @include elevation($menu-elevation)
