// VKbd
$kbd-border-radius: 3px !default;
$kbd-display: inline !default;
$kbd-elevation: 0 !default;
$kbd-font-size: 85% !default;
$kbd-font-weight: normal !default;
$kbd-padding: .2em .4rem !default;

$kbd-border-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$kbd-border-style: solid !default;
$kbd-border-width: thin !default;
$kbd-border-thin-width: thin !default;
$kbd-border: (
  $kbd-border-color,
  $kbd-border-style,
  $kbd-border-width,
  $kbd-border-thin-width
) !default;
