// VKbd
// Kbd elements naturally use monospace fonts, if users want to change this, they can do so by setting the font-family on the v-kbd element.
$kbd-font-family: "Roboto", sans-serif !default;
$kbd-border-radius: 4px !default;
$kbd-display: inline-flex !default;
$kbd-elevation: 1 !default;
// Kbd elements are used inline with text, so we should use the same font size as the text it's with.
$kbd-font-size: 0.875em !default;
$kbd-font-weight: normal !default;
$kbd-line-height: 1 !default;
$kbd-padding: 3px 6px !default;;
$kbd-min-height: 1em !default;
$kbd-min-width: 20px !default;
$kbd-margin-inline: 1px !default;
$kbd-border-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$kbd-border-style: solid !default;
$kbd-border-width: thin !default;
$kbd-border-thin-width: thin !default;
$kbd-border: (
  $kbd-border-color,
  $kbd-border-style,
  $kbd-border-width,
  $kbd-border-thin-width
) !default;
