@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-kbd
    background: rgb(var(--v-theme-kbd))
    color: rgb(var(--v-theme-on-kbd))
    display: $kbd-display
    font-size: $kbd-font-size
    font-weight: $kbd-font-weight
    padding: $kbd-padding

    @include tools.border($kbd-border...)
    @include tools.elevation($kbd-elevation)
    @include tools.rounded($kbd-border-radius)
