.v-kbd {
  background: rgb(var(--v-kbd-background-color));
  border-radius: 3px;
  color: rgb(var(--v-kbd-color));
  font-size: 85%;
  font-weight: normal;
  padding: 0.2em 0.4rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}