$date-range-picker-divider-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$date-range-picker-footer-min-height: 52px !default;
$date-range-picker-footer-padding: .5rem !default;
$date-range-picker-footer-gap: .5rem !default;
