.v-date-range-card
  display: inline-flex

.v-date-range-card__divider
  width: 2px
  background: lightgrey

// .v-date-range-card__years
//   display: flex
//   flex-direction: column
//   height: 350px
//   width: #{328px * 2 + 2px}

//   > div
//     display: flex


.v-date-range-card
  .v-date-picker-month
    padding-left: 16px
    padding-right: 16px
    padding-bottom: 8px

    --v-date-picker-month-day-diff: 2px

    .v-date-picker-month__day
      height: 32px
      width: 32px

      .v-btn
        --v-btn-height: 16px
        --v-btn-size: 0.75rem

