.v-date-range-picker-month
  overflow-y: scroll
  height: 100%

.v-date-range-picker-month__header
  height: 48px
  margin-left: 48px
  display: flex
  align-items: center
  font-size: 0.9rem
  font-weight: bold
  color: grey
