.v-date-range-picker-header
  width: 100%
  height: 128px

.v-date-range-picker-header--calendar
  padding-left: 12px
  padding-right: 12px
  padding-bottom: 24px

  .v-date-range-picker-header__wrapper
    margin-left: 60px

.v-date-range-picker-header--keyboard
  padding-left: 24px
  padding-right: 24px
  padding-bottom: 20px
  padding-top: 24px

  .v-date-range-picker-header__title
    margin-bottom: 32px

.v-date-range-picker-header__buttons
  display: flex
  justify-content: space-between
  align-items: center

.v-date-range-picker-header__wrapper
  display: flex
  flex-direction: column

.v-date-range-picker-header__title
  text-transform: uppercase
  font-size: 0.7rem

.v-date-range-picker-header__text
  font-size: 1.7rem
  display: flex
  align-items: center
  justify-content: space-between
