$date-picker-width: 328px !default;
$date-picker-show-week-width: 368px !default;

$date-picker-landscape-header-width: 170px !default;
$date-picker-controls-height: var(--v-date-picker-controls-height, 56px) !default;
$date-picker-controls-padding: 4px 12px !default;
$date-picker-controls-docked-toggle-btn-padding: 12px 8px !default;
$date-picker-controls-docked-toggle-append-margin-inline: 4px -4px !default;

$date-picker-header-height: 70px !default;

$date-picker-month-btn-height: 24px !default;
$date-picker-month-btn-size: 0.875rem !default;
$date-picker-month-column-gap: 4px !default;
$date-picker-month-day-size: 40px !default;
$date-picker-month-font-size: 0.875rem !default;
$date-picker-month-padding: 0 12px 8px !default;

$date-picker-months-grid-gap: 0px 24px !default;
$date-picker-months-height: 288px !default;

$date-picker-years-height: 288px !default;
$date-picker-years-padding-inline: 32px !default;

$date-picker-event-size: 8px !default;
$date-picker-event-border-radius: 4px !default;
$date-picker-event-margin: 0 1px !default;
$date-picker-event-date-bottom: 8px !default;
