@use '../../styles/settings';

$ripple-animation-transition-in: transform .25s settings.$decelerated-easing,
                                 opacity .1s settings.$decelerated-easing !default;
$ripple-animation-transition-out: opacity .3s settings.$decelerated-easing !default;
$ripple-animation-visible-opacity: .15 !default;
