.v-date-picker-month
  display: flex
  justify-content: center
  min-width: 328px

  --v-date-picker-month-day-diff: 4px

.v-date-picker-month__weeks
  display: grid
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content
  row-gap: 4px
  font-size: .875rem

  + .v-date-picker-month__days
    grid-row-gap: 0

.v-date-picker-month__weekday
  font-size: .875rem

.v-date-picker-month__days
  display: grid
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content
  row-gap: 4px
  flex: 1 1
  justify-content: space-around

.v-date-picker-month__day
  align-items: center
  display: flex
  justify-content: center
  position: relative

  &--selected
    .v-btn
      background-color: rgb(var(--v-theme-surface-variant))
      color: rgb(var(--v-theme-on-surface-variant))

  &--week
    font-size: var(--v-btn-size)

.v-date-picker-month__day--adjacent
  opacity: 0.5

.v-date-picker-month__day--hide-adjacent
  opacity: 0
