.v-date-picker-years
  height: 308px
  overflow-y: scroll

.v-date-picker-years__content
  display: grid
  flex: 1 1
  justify-content: space-around
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 8px 24px
  padding-inline-start: 36px
  padding-inline-end: 36px

  .v-btn
    padding-inline-start: 8px
    padding-inline-end: 8px
