@use '../../styles/tools'

.v-date-picker__input
  padding-top: 16px
  padding-left: 24px
  padding-right: 24px

.v-date-picker
  overflow: hidden
  width: 358px

  .v-date-picker-month
    padding-bottom: 8px
    padding-inline-start: 12px
    padding-inline-end: 12px

    .v-date-picker-month__day
      height: 40px
      width: 40px

      .v-btn
        --v-btn-height: 24px
        --v-btn-size: 0.85rem
