.v-date-picker-years
  height: 320px
  overflow-y: scroll

.v-date-picker-years__content
  display: grid
  flex: 1 1
  justify-content: space-around
  grid-template-columns: repeat(3, 1fr)
  gap: 8px 24px
  padding-inline: 36px

  .v-btn
    padding-inline: 8px
