.v-date-picker-input
  width: 300px
  height: 350px
  overflow: hidden

  table
    width: 100%

.v-date-picker-input__header
  display: flex
  justify-content: space-between
  align-items: center

.v-date-picker-input__year
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 4px
