@use '../../styles/tools'

.v-date-picker__input
  padding-top: 16px
  padding-left: 24px
  padding-right: 24px

.v-date-picker
  overflow: hidden

  .v-date-picker-month
    padding-inline-start: 12px
    padding-inline-end: 12px

    .v-date-picker-month__day
      height: 48px
      width: 48px

      .v-btn
        --v-btn-height: 28px
        --v-btn-size: 0.85rem
