.v-date-picker-header
  width: 100%

.v-date-picker-header__wrapper
  padding-inline-start: 24px
  padding-inline-end: 12px
  padding-top: 12px
  padding-bottom: 12px
  display: flex
  flex-direction: column

.v-date-picker-header__text
  font-size: 2rem
  display: flex
  align-items: center
  justify-content: space-between
