.v-date-picker-controls
  display: flex
  align-items: center
  justify-content: space-between
  font-size: .875rem
  padding-inline-start: 24px
  padding-top: 4px
  padding-bottom: 4px
  padding-inline-end: 12px

  .v-btn:last-child
    margin-left: 4px

.v-date-picker-controls__date
  margin-right: 4px
