$switch-ripple-x: -14px
$switch-ripple-top: calc(50% - 24px)
$switch-track-border-radius: 8px
$switch-track-width: 36px
$switch-track-height: 14px
$switch-track-x: 2px
$switch-track-top: calc(50% - 7px)
$switch-track-opacity: .6
$switch-disabled-opacity: .6
$switch-thumb-width: 20px
$switch-thumb-height: 20px
$switch-thumb-top: calc(50% - 10px)
$switch-thumb-elevation: 4
$switch-dirty-offset-x: 20px
