@mixin input-theme($material)
  &:not(.v-input--is-disabled)
    input,
    textarea
      color: map-deep-get($material, 'text', 'primary')

  input::placeholder,
  textarea::placeholder
    color: map-deep-get($material, 'text', 'disabled')

  &--is-disabled
    .v-label,
    input,
    textarea
      color: map-deep-get($material, 'text', 'disabled')
