@use 'sass:map';
@use '../../styles/settings';
@use '../../styles/tools';

// CONTROL
$input-density: ('default': 0, 'comfortable': -2, 'compact': -4) !default;
$input-control-height: 56px !default;
$input-flex: 1 1 auto !default;
$input-font-size: var(--v-text--body-large-font-size) !default;
$input-font-weight: var(--v-text--body-large-font-weight) !default;
$input-line-height: 1.5 !default;

// CHIPS
$input-chips-margin-top: null !default;
$input-chips-margin-bottom: null !default;

// DETAILS
$input-details-font-size: .75rem !default;
$input-details-font-weight: 400 !default;
$input-details-letter-spacing: .0333333333em !default;
$input-details-line-height: normal !default;
$input-details-min-height: 22px !default;
$input-details-padding-above: 6px !default;
$input-details-padding-inline: 16px !default;
$input-details-transition: 150ms settings.$standard-easing !default;

// AFFIXES
$input-affix-margin-inside: 16px !default;
