// Defaults
$input-border-radius: $border-radius-root !default;
$input-border-width: 2px !default;
$input-control-contained-background: rgb(var(--v-theme-surface)) !default;
$input-control-contained-elevation: 2 !default;
$input-control-filled-background: rgba(var(--v-theme-on-surface), var(--v-idle-opacity)) !default;
$input-control-filled-border-bottom-left-radius: 0 !default;
$input-control-filled-border-bottom-right-radius: 0 !default;
$input-control-padding: 0 16px !default;
$input-control-single-line-border-radius: 0 !default;
$input-density: ('default': 0, 'comfortable': -2, 'compact': -4) !default;
$input-details-font-size: .75rem !default;
$input-details-font-weight: 400 !default;
$input-details-letter-spacing: .0333333333em !default;
$input-details-line-height: normal !default;
$input-details-min-height: 16px !default;
$input-details-padding: 6px 16px 0 !default;
$input-field-input-padding-top: 30px !default;
$input-field-input-prepended-padding-inline-start: 6px !default;
$input-font-size: 16px !default;
$input-height: 56px !default;
$input-input-opacity: var(--v-high-emphasis-opacity) !default;
$input-label-font-size: 1rem !default;
$input-label-reverse-end: 6px !default;
$input-label-reverse-prepended-padding-inline-end: 6px !default;
$input-label-reverse-prepended-padding-inline-start: 0 !default;
$input-label-reverse-start: auto !default;
$input-letter-spacing: .009375em !default;
$input-max-width: 100% !default;
$input-outline-notched-transition: opacity .15s $standard-easing !default;
$input-outline-opacity: .38 !default;
$input-outline-outlined-focused-border-width: 2px !default;
$input-outline-transition: opacity .15s $standard-easing !default;
$input-overlay-filled-opacity: 0.04 !default;
$input-overlay-transition: opacity 0.2s ease-in-out !default;
$input-prepend-outer-margin-inline-end: 16px !default;
$input-prepend-outer-margin-inline-start: 16px !default;
$input-single-line-margin-bottom: 4px !default;
$input-transition: color .2s $standard-easing !default;
