@import ./index

.v-input
  align-items: flex-start
  display: flex
  flex: 1 1 auto
  flex-wrap: wrap
  font-size: $input-font-size
  letter-spacing: $input-letter-spacing
  max-width: 100%
  height: 56px
  text-align: $input-text-align

  input
    width: 100%
    color: rgba(0, 0, 0, .87)

    &:focus,
    &:active
      outline: none

    // Remove Firefox red outline
    &:invalid
      box-shadow: none

.v-input__control
  align-items: center
  border-bottom: thin solid transparent
  border-radius: 4px 4px 0 0
  display: flex
  flex: 1 0
  height: 56px
  position: relative

.v-input__field
  position: relative
  flex: 1 0
  height: 100%

.v-input__prepend
  padding-inline-start: 16px
  padding-inline-end: 8px

.v-input__append
  padding-inline-start: 8px
  padding-inline-end: 16px

.v-label
  color: rgba(0, 0, 0, .6)
  font-size: 1rem
  line-height: 1.25rem
  max-width: 90%
  overflow: hidden
  pointer-events: none
  text-overflow: ellipsis
  white-space: nowrap

// Text Field
.v-input__control
  .v-text-field &
    background: #f5f5f5
    border-bottom-color: rgba(0, 0, 0, .42)

    input
      height: 100%
      padding: 20px 16px 6px

  .v-text-field.v-input--prepended &
    input
      padding-inline-start: 0

  .v-text-field.v-input--appended &
    input
      padding-inline-end: 0

.v-label
  transition: .2s $standard-easing
  transform-origin: top left

  .v-text-field &
    position: absolute
    left: 0
    top: 18px
    pointer-events: none

  .v-text-field--focused &,
  .v-text-field--dirty &
    max-width: 133%
    pointer-events: auto // Show title attr on label hover
    transform: translateY(-10px) scale(.75)
