@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use '../../styles/settings';
@use '../../styles/tools';
@use './variables' as *;

@mixin button-sizes ($map: $button-sizes, $immediate: false) {
  @each $sizeName, $multiplier in settings.$button-size-scales {
    $size: map.get($map, 'font-size') + math.div(2 * $multiplier, 16);
    $height: map.get($map, 'height') + (settings.$size-scale * $multiplier);
    $selector: '.v-btn--size-#{$sizeName}';
    @if $immediate {
      $selector: '#{&}#{$selector}';
    }

    #{$selector} {
      --v-btn-size: #{$size};
      --v-btn-height: #{$height};
      min-width: tools.roundEven($height * map.get($map, 'width-ratio'));

      @if ($sizeName == 'x-small') {
        --v-btn-height: 32px;
        font-size: 14px;
        font-weight: 500;
        padding: 0 12px;
      }

      @if ($sizeName == 'small') {
        --v-btn-height: 40px;
        font-size: 14px;
        font-weight: 500;
        padding: 0 16px;
      }

      @if ($sizeName == 'default') {
        --v-btn-height: 56px;
        font-size: 16px;
        font-weight: 500;
        padding: 0 24px;
      }

      @if ($sizeName == 'large') {
        --v-btn-height: 96px;
        font-size: 24px;
        font-weight: 400;
        padding: 0 48px;
      }

      @if ($sizeName == 'x-large') {
        --v-btn-height: 136px;
        font-size: 32px;
        font-weight: 400;
        padding: 0 64px;
    }
    }
  }
}

@mixin button-density ($properties, $densities) {
  @each $density, $multiplier in $densities {
    $value: calc(var(--v-btn-height) + #{$multiplier * settings.$spacer});

    &.v-btn--density-#{$density} {
      @if meta.type-of($properties) == "list" {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
      @else {
        #{$properties}: $value;
      }
    }
  }
}
