$btn-border-radius: 4px
$btn-font-size: 14px
$btn-icon-font-size: 18px
$btn-icon-padding: 12px
$btn-rounded-border-radius: 28px
$btn-outline-border-width: 2px
$btn-sizes: ('x-small': 20, 'small': 28, 'default': 36, 'large': 54, 'x-large': 70)
