$btn-border-radius: 4px !default;
$btn-font-size: .875rem !default;
$btn-font-weight: 500 !default;
$btn-letter-spacing: .0892857143em !default;
$btn-icon-font-size: 18px !default;
$btn-icon-padding: 12px !default;
$btn-outline-border-width: thin !default;
$btn-rounded-border-radius: 28px !default;
$btn-sizes: (
  'x-small': 20,
  'small': 28,
  'default': 36,
  'large': 54,
  'x-large': 70
) !default;
$btn-transition-duration: 0.28s !default;
$btn-transition-fn: map-get($transition, 'fast-out-slow-in') !default;
$btn-transition: opacity 0.2s map-get($transition, 'ease-in-out') !default;
