// Defaults
$button-border-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$button-border-radius: $border-radius-root !default;
$button-border-style: $border-style-root !default;
$button-border-width: thin !default;
$button-disabled-opacity: 0.26 !default;
$button-disabled-overlay: 0.12 !default;
$button-elevation: ('default': 2, 'hover': 4, 'active': 8) !default;
$button-font-size: map-deep-get($headings, 'button', 'size') !default;
$button-font-weight: map-deep-get($headings, 'button', 'weight') !default;
$button-height: 36px !default;
$button-icon-border-radius: map-get($rounded, 'circle') !default;
$button-icon-font-size: 24px !default;
$button-icon-size: 48px !default;
$button-line-height: normal !default;
$button-positions: absolute fixed !default;
$button-text-letter-spacing: map-deep-get($headings, 'button', 'letter-spacing') !default;
$button-text-transform: map-deep-get($headings, 'button', 'text-transform') !default;
$button-vertical-align: middle !default;

$button-density: ('default': 0, 'comfortable': -2, 'compact': -3) !default;
$button-icon-density: ('default': 3, 'comfortable': 0, 'compact': -2) !default;

$button-border: () !default;
$button-border: map-merge(
  (
    'border-color': $button-border-color,
    'border-style': $button-border-style,
    'border-width': $button-border-width,
  ),
  $button-border
);

$button-sizes: () !default;
$button-sizes: map-merge(
    (
      'height': $button-height,
      'font-size': $button-font-size
    ),
    $button-sizes
);

$button-icon-sizes: () !default;
$button-icon-sizes: map-merge(
  (
    'font-size': $button-icon-font-size,
    'size': $button-icon-size
  ),
  $button-icon-sizes
);
