// Imports
@import '../../scss/bootstrap';
@import '../../scss/components/_ripples';
@import '../../scss/settings/_theme';

// first function, should move to global functions
// does a deep map-get
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Mixins
@mixin button-theme($material) {
  color: map-deep-get($material, 'text', 'primary');

  &.v-btn--disabled {
    color: map-deep-get($material, 'buttons', 'disabled') !important;

    .v-icon,
    .v-btn__loading {
      color: map-deep-get($material, 'buttons', 'disabled') !important;
    }

    &:not(.v-btn--flat):not(.v-btn--outline) {
      background-color: map-deep-get($material, 'buttons', 'focused') !important;
    }
  }

  &:not(.v-btn--flat) {
    background-color: map-get($material, 'app-bar');
  }
}

@mixin button($minHeight) {
  min-height: #{$minHeight}px;
  min-width: #{round($minHeight * 1.777777777777778)}px; // default ratio
  padding: 0 #{$minHeight / 2}px;
}

@mixin fab($size) {
  height: #{$size}px;
  width: #{$size}px;

  .v-icon {
    font-size: #{round($size / 1.7)}px;
  }

  &.v-btn--absolute {
    &.v-btn--bottom {
      bottom: -#{$size / 2}px;
    }

    &.v-btn--top {
      top: -#{$size / 2}px;
    }
  }

  &.v-btn--fixed {
    &.v-btn--top {
      top: map-get($grid-gutters, 'lg');
    }
    &.v-btn--bottom {
      bottom: map-get($grid-gutters, 'lg');
    }
  }

  &.v-btn--absolute,
  &.v-btn--fixed {
    &.v-btn--left {
      left: map-get($grid-gutters, 'lg');
    }
    &.v-btn--right {
      right: map-get($grid-gutters, 'lg');
    }
  }
}

// Theme
.v-btn:not(.v-btn--outline) {
  &.primary,
  &.secondary,
  &.accent,
  &.success,
  &.error,
  &.warning,
  &.info {
    color: map-deep-get($material-dark, 'text', 'primary');
  }
}

.v-btn.theme--light {
  @include button-theme($material-light);
}
.v-btn.theme--dark {
  @include button-theme($material-dark);
}

// Block
.v-btn {
  @include button(36);
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 14px;
  justify-content: center;
  outline: 0;
  max-width: 100%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: $primary-transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:before {
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.12;
    right: 0;
    transition: $primary-transition;
  }

  &:not(.v-btn--disabled) {
    will-change: box-shadow;
  }

  &:not(.v-btn--round) {
    &.v-size--x-small {
      @include button(12);
    }

    &.v-size--small {
      @include button(28);
    }

    &.v-size--large {
      @include button(52);
    }

    &.v-size--x-large {
      @include button(68);
    }
  }

  &.v-btn--active,
  &:hover,
  &:focus {
    &:before {
      background-color: currentColor;
    }
  }

  &.v-btn--disabled {
    pointer-events: none;
  }

  &.v-btn--icon {
    &-left {
      padding-left: 12px;
    }
    &-right {
      padding-right: 12px;
    }
  }

  &.v-btn--loading {
    pointer-events: none;
    transition: none;

    .v-btn__content {
      opacity: 0;
    }
  }

  &__loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Elements
.v-btn__content {
  align-items: center;
  color: inherit;
  display: flex;
  justify-content: center;
}

// Modifiers
.v-btn--block {
  display: flex;
  flex: 1 0 auto;
  min-width: 100% !important;
  max-width: auto;
}

.v-btn--depressed {
  box-shadow: none !important;
  background: transparent !important;
}

.v-btn--fab {
  @include fab(40);
  min-height: 0;
  min-width: 0;
  padding: 0;

  &.v-btn--fixed,
  &.v-btn--absolute {
    z-index: 4;
  }

  &.v-size--x-small {
    @include fab(26);
  }

  &.v-size--small {
    @include fab(32);
  }

  &.v-size--large {
    @include fab(56);
  }

  &.v-size--x-large {
    @include fab(64);
  }
}

.v-btn--absolute {
  position: absolute;
}

.v-btn--fixed {
  position: fixed;
}

.v-btn--icon {
  .v-icon {
    font-size: 18px;
  }
}

.v-btn--outline {
  background: transparent !important;
  border: 2px solid currentColor;

  .v-icon {
    color: inherit;
  }
}

.v-btn--text,
.v-btn--flat {
  background: transparent !important;
}

.v-btn--round {
  border-radius: 50%;
}

.v-btn--rounded {
  border-radius: 28px;
}
