.v-infinite-carousel
  width: 100%
  overflow-x: scroll
  scrollbar-width: none

  display: flex
  flex-direction: row

.v-infinite-carousel::-webkit-scrollbar
  display: none

.v-infinite-carousel__inner
  width: fit-content
  height: 100%
