@use './variables' as *

.v-empty-state
  min-height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.v-empty-state__title
  font-size: $empty-state-title-font-size

.v-empty-state__subtitle
  font-size: $empty-state-subtitle-font-size

.v-empty-state__text
  font-size: $empty-state-text-font-size

.v-empty-state__content
  padding: $empty-state-content-padding
