@use '../../styles/tools';
@use './variables' as *;

@include tools.layer('components') {
  .v-heatmap {
    --v-heatmap-cell-width: #{$heatmap-cell-width};
    --v-heatmap-cell-height: #{$heatmap-cell-height};
    --v-heatmap-cell-gap: #{$heatmap-cell-gap};
    --v-heatmap-column-header-padding: #{$heatmap-column-header-padding};
    --v-heatmap-row-header-padding: #{$heatmap-row-header-padding};

    --v-heatmap-cell-border: #{$heatmap-cell-border-color};
    --v-heatmap-day-bg: #{$heatmap-cell-background};

    line-height: 1;
    overflow-x: auto;
  }

  .v-heatmap-cell {
    width: var(--v-heatmap-cell-width);
    height: var(--v-heatmap-cell-height);

    .v-heatmap--hover & {
      cursor: pointer;

      &:hover > .v-heatmap-cell__content {
        transform: scale(var(--v-heatmap-hover-scale, 0.85));
      }
    }
  }

  .v-heatmap-cell__content {
    width: 100%;
    height: 100%;
    border-radius: $heatmap-cell-border-radius;
    transition: .15s ease;
    transition-property: transform, background-color, color;
    background-color: var(--v-heatmap-day-bg);
    display: flex;
    align-items: center;
    justify-content: center;

    &.v-heatmap-cell--empty {
      box-shadow: inset 0 0 0 2px var(--v-heatmap-cell-border);
    }
  }

  .v-heatmap-cell__text {
    font-size: $heatmap-cell-font-size;
    user-select: none;
  }

  .v-heatmap-legend {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--v-heatmap-cell-gap);
    padding-top: calc(2 * var(--v-heatmap-column-header-padding));

    > .v-heatmap-legend__label {
      opacity: .6;
      padding: 0 8px;
    }

    > .v-heatmap-legend__cell {
      cursor: pointer;
    }
  }

  .v-heatmap--grid {
    display: inline-block;

    .v-heatmap__grid {
      display: grid;
      grid-template-columns: max-content repeat(var(--v-heatmap-grid-columns), var(--v-heatmap-cell-width));
      gap: var(--v-heatmap-cell-gap);
    }

    &.v-heatmap--hide-row-headers .v-heatmap__grid {
      grid-template-columns: repeat(var(--v-heatmap-grid-columns), var(--v-heatmap-cell-width));
    }

    .v-heatmap__column-spacer,
    .v-heatmap__column-header {
      padding-bottom: var(--v-heatmap-column-header-padding);
    }

    .v-heatmap__column-header {
      white-space: nowrap;
      justify-self: center;
      align-self: end;
      font-size: $heatmap-header-font-size;
    }

    .v-heatmap__row-header {
      display: flex;
      align-items: center;
      padding-right: var(--v-heatmap-row-header-padding);
      font-size: $heatmap-header-font-size;
      white-space: nowrap;
    }

  }

  .v-heatmap--calendar {
    --v-heatmap-month-limit: 12;

    display: grid;
    grid-template-columns: max-content repeat(var(--v-heatmap-month-limit), max-content);
    grid-template-rows: auto repeat(7, var(--v-heatmap-cell-height)) auto;
    gap: var(--v-heatmap-cell-gap);

    &.v-heatmap--merged-months {
      .v-heatmap-month--shifted {
        width: calc(
          (var(--v-heatmap-cell-columns) - 1) * var(--v-heatmap-cell-width) +
          (var(--v-heatmap-cell-columns) - 2) * var(--v-heatmap-cell-gap)
        );
        transform: translateX(calc(-1 * (var(--v-heatmap-cell-width) + var(--v-heatmap-cell-gap))));
      }
    }

    &.v-heatmap--separated-months {
      .v-heatmap-month--aligned {
        padding-left: calc((var(--v-heatmap-cell-width) + var(--v-heatmap-cell-gap)));
      }
    }

    .v-heatmap__weekdays {
      grid-row: 2 / 9;
      grid-column: 1;
      display: grid;
      gap: var(--v-heatmap-cell-gap);
      grid-template-rows: repeat(7, var(--v-heatmap-cell-height));
      align-items: center;
      padding-right: var(--v-heatmap-row-header-padding);
    }

    .v-heatmap__months {
      grid-row: 1;
      grid-column: 2 / -1;
      display: grid;
      grid-template-columns: subgrid;
      justify-items: center;
      padding-bottom: var(--v-heatmap-column-header-padding);
    }

    .v-heatmap__cells {
      grid-row: 2 / 9;
      grid-column: 2 / -1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    .v-heatmap__month-days {
      grid-row: 1 / 8;
      display: grid;
      gap: var(--v-heatmap-cell-gap);
      grid-template-columns: repeat(var(--v-heatmap-cell-columns), var(--v-heatmap-cell-width));
      grid-template-rows: repeat(7, var(--v-heatmap-cell-height));
      grid-auto-flow: column;

      &.v-heatmap-month--shift {
        width: calc(
          (var(--v-heatmap-cell-columns) + 1) * var(--v-heatmap-cell-width) +
          (var(--v-heatmap-cell-columns) - 2) * var(--v-heatmap-cell-gap)
        );
      }
    }

    .v-heatmap-legend {
      grid-row: 9;
      grid-column: 2 / -1;
    }
  }
}
