@mixin list-theme($material)
  background: map-get($material, 'cards')
  color: map-deep-get($material, 'text','primary')

  .v-list--disabled
    color: map-deep-get($material, 'text', 'disabled')

  .v-list__item__mask
    color: map-deep-get($material, 'text', 'disabled')
    background: map-deep-get($material, 'expansion-panels', 'focus')

  .v-list__group--active:before,
  .v-list__group--active:after
    background: map-get($material, 'dividers')

  // .v-list__group--disabled
  //   .v-list__item
  //     color: map-deep-get($material, 'text', 'disabled') !important

  //   .v-list__group__header__prepend-icon .v-icon
  //     color: map-deep-get($material, 'icons', 'inactive') !important

@mixin list-item-theme($material)
  color: map-deep-get($material, 'text', 'primary')

@mixin list-item-secondary-text-theme($material)
  color: map-deep-get($material, 'text', 'secondary')

@mixin list-rtl()
  &__item
    &__title
      text-align: right
    &__content
      text-align: right
