@import './index'

.v-list-item
  align-items: center
  background: $list-background
  display: flex
  position: relative

  @include states('.v-list-item__overlay')

  &--link
    cursor: pointer

.v-list-item-avatar
  align-self: center
  color: $list-item-avatar-color
  // margin: $list-item-avatar-padding
  height: 40px
  width: 40px

  &:first-child:not(:only-child)
    margin-right: $list-item-avatar-margin-start

  &:last-child:not(:only-child)
    margin-left: $list-item-avatar-margin-start

  .v-list--density-comfortable &
    height: 34px
    width: 34px

  .v-list--density-compact &
    height: 28px
    width: 28px

  .v-list--three-line &
    align-self: flex-start

  .v-list--three-line &
    margin-top: 4px

  .v-list--three-line.v-list--density-comfortable &,
  .v-list--three-line.v-list--density-compact &
      margin-top: 16px

.v-list-item-media
  .v-list--one-line &
    @include ltr()
      margin-left: $list-item-media-margin-start

    @include rtl()
      margin-right: $list-item-media-margin-start

  .v-list--two-line &
    margin-top:$list-item-media-two-line-margin-top
    margin-bottom:$list-item-media-two-line-margin-bottom

  .v-list:not(.v-list--one-line) &
    @include ltr()
      margin-left: $list-item-media-not-one-line-margin-start

    @include rtl()
      margin-right: $list-item-media-not-one-line-margin-start

.v-list-item-header
  flex: 1 1 auto
  min-width: 0

.v-list-item-subtitle
  color: $list-item-subtitle-color
  padding: $list-item-subtitle-padding

  @include typography($list-item-subtitle-typography...)

.v-list-item-title
  hyphens: $list-item-title-hyphens
  overflow-wrap: $list-item-title-overflow-wrap
  overflow: hidden
  padding: $list-item-title-padding
  white-space: nowrap
  text-overflow: ellipsis
  word-break: $list-item-title-word-break
  word-wrap: $list-item-title-word-wrap

  @include typography($list-item-title-typography...)

.v-list-item
  min-height: $list-item-min-height
  padding: $list-item-padding

  .v-list--two-line &
    min-height: $list-item-two-line-min-height
    padding: $list-item-two-line-padding

  .v-list--three-line &
    min-height: $list-item-three-line-min-height
    padding: $list-item-three-line-padding

  .v-list--density-comfortable &
    min-height: 44px
    padding: .25rem 1rem

  .v-list--density-compact &
    min-height: 40px
    padding: 0 1rem

  .v-list--density-comfortable.v-list--two-line &
    min-height: 60px

  .v-list--density-compact.v-list--two-line &
    min-height: 56px

  .v-list--density-comfortable.v-list--three-line &
    min-height: 84px

  .v-list--density-compact.v-list--three-line &
    min-height: 80px

.v-list-item__overlay
  background-color: currentColor
  border-radius: inherit
  bottom: 0
  left: 0
  opacity: 0
  pointer-events: none
  position: absolute
  right: 0
  top: 0
  transition: opacity 0.2s ease-in-out
