@import './_variables.scss'
@import './_mixins.sass'

// Theme
.v-list
  &.primary,
  &.secondary,
  &.accent,
  &.success,
  &.error,
  &.warning,
  &.info
    > .v-list-item
      color: map-deep-get($material-dark, 'text', 'primary')

+theme(v-list) using ($material)
  background: map-get($material, 'cards')
  color: map-deep-get($material, 'text','primary')

  .v-list--disabled
    color: map-deep-get($material, 'text', 'disabled')

  .v-list-group--active:before,
  .v-list-group--active:after
    background: map-get($material, 'dividers')

// Block
.v-list
  border-radius: $list-border-radius
  display: block
  padding: 8px 0
  position: static
  +elevationTransition()

// Modifier
.v-list--disabled
  pointer-events: none

.v-list--flat
  .v-list-item:before
    display: none

.v-list--dense
  .v-subheader
    font-size: $list-dense-subheader-font-size
    height: $list-dense-subheader-height
    padding: 0 8px

.v-list--nav,
.v-list--rounded
  .v-list-item:not(:last-child):not(:only-child)
    margin-bottom: 8px

  &.v-list--dense .v-list-item,
  .v-list-item--dense
    &:not(:last-child):not(:only-child)
      margin-bottom: 4px

.v-list--nav
  padding-left: 8px
  padding-right: 8px

  .v-list-item
    padding: 0 8px

  .v-list-item,
  .v-list-item:before
    border-radius: $list-border-radius

.v-list--shaped
  +list-shaped($list-item-min-height)

  &.v-list--two-line
    +list-shaped($list-item-two-line-min-height)

  &.v-list--three-line
    +list-shaped($list-item-three-line-min-height)

  +ltr()
    padding-right: 8px
  +rtl()
    padding-left: 8px

.v-list--rounded
  padding: 8px
  +list-rounded($list-item-min-height)

  &.v-list--two-line
    +list-rounded($list-item-two-line-min-height)

  &.v-list--three-line
    +list-rounded($list-item-three-line-min-height)

.v-list--subheader
  padding-top: 0
