@use '../../styles/settings';
@use '../../styles/tools';

$btn-toggle-background: rgba(var(--v-theme-on-background), var(--v-idle-opacity)) !default;
$btn-toggle-border-color: settings.$border-color-root !default;
$btn-toggle-border-radius: settings.$border-radius-root !default;
$btn-toggle-border-style: settings.$border-style-root !default;
$btn-toggle-border-thin-width: thin !default;
$btn-toggle-border-width: 0 !default;
$btn-toggle-color: rgb(var(--v-theme-on-background)) !default;
$btn-toggle-elevation: 0 !default;
$btn-toggle-tile-border-radius: 0 !default;

$btn-toggle-border: (
  $btn-toggle-border-color,
  $btn-toggle-border-style,
  $btn-toggle-border-width,
  $btn-toggle-border-thin-width
) !default;

$btn-toggle-theme: (
  $btn-toggle-background,
  $btn-toggle-color
) !default;
