@mixin expansion-panel-theme($material)
  .v-expansion-panel
    background-color: map-get($material, 'cards')
    color: map-deep-get($material, 'text', 'primary')

    &::after
      border-color: map-get($material, 'dividers')

    .v-expansion-panel-header
      .v-expansion-panel-header__icon
        .v-icon
          color: map-deep-get($material, 'icons', 'active')

    &--disabled
      color: map-deep-get($material, 'text', 'disabled')
