// Defaults
$footer-border-radius: map-get($rounded, 0) !default;
$footer-flex: 1 1 auto !default;
$footer-font-size: 14px;
$footer-elevation: 0 !default;
$footer-padding: 8px 24px !default;
$footer-positions: absolute fixed !default;

$footer-query: () !default;
$footer-query: map-deep-merge(
  (
    'border-radius': $footer-border-radius,
    'elevation': $footer-elevation,
    'position': $footer-positions
  ),
  $footer-query
) !default;
