@use '../../styles/tools'
@use './variables' as *

.v-footer
  align-items: center
  display: flex
  flex: $footer-flex
  padding: $footer-padding
  position: relative

  // missing from variables
  @include tools.border($footer-border...)
  @include tools.elevation($footer-elevation)
  @include tools.position($footer-positions)
  @include tools.rounded($footer-border-radius)
  @include tools.theme($footer-theme...)

  &--rounded
    @include tools.rounded($footer-rounded-border-radius)
