.v-footer {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  padding: 8px 16px;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0;
  background: rgb(var(--v-theme-surface));
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}
.v-footer--absolute {
  position: absolute;
}
.v-footer--fixed {
  position: fixed;
}
.v-footer--rounded {
  border-radius: 4px;
}