@use '../../styles/tools';

// Defaults
$color-input-pip-default-color: tools.theme-color('on-surface', var(--v-medium-emphasis-opacity)) !default;
$color-input-pip-avatar-size: 40px !default;
$color-input-pip-density: ('default': 0, 'comfortable': -2, 'compact': -3) !default;
