.alert
  border-radius: $alert-border-radius
  border-width: $alert-border-width
  border-style: solid
  color: $alert-color
  text-align: left
  padding: $alert-padding
  position: relative
  margin: $alert-margin
  
  &:after
    font-family: 'Material Icons'
    left: -13px
    top: 1rem
    color: #fff
    font-size: 1.2rem
    position: absolute
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    height: 22px
    width: 22px

  &--info
    alert($theme.info, $blue.lighten-2, 'notifications')
        
  &--error
    alert($theme.error, $red.lighten-2, 'priority_high')

  &--success
    alert($theme.success, $green.lighten-2, 'check')
    
  &--warning
    alert($theme.warning, $amber.lighten-2, 'notifications_active')