@import '../bootstrap'

.alert
  align-items: center
  border-radius: $alert-border-radius
  color: #fff
  display: flex
  font-size: $alert-font-size
  margin: $alert-margin
  padding: $alert-padding
  position: relative
  transition: $primary-transition
  
  &:before
    background: rgba(#000, .15)
    content: ''
    height: 4px
    left: 0
    position: absolute
    top: 0
    width: 100%

  .alert__icon.icon,
  &__dismissible .icon
    align-self: center
    color: $alert-icon-color
    font-size: $alert-icon-font-size

  &__icon
    margin-right: $alert-padding

  &__dismissible
    align-self: flex-start
    margin-left: $alert-padding
    margin-right: 0
    text-decoration: none
    transition: $primary-transition

    &:hover
      color: lighten($alert-icon-color, 10%)

  &--no-icon
    .alert__icon
      display: none

  > div
    flex: 1 1 auto

  @media screen and (max-width: $grid-breakpoints.sm)
    &__icon
      display: none
