@import '../bootstrap'
@import '../browsers'

.application
  display: flex
  background: var(--vuetify-app-background)
  color: var(--vuetify-app-color)

  a
    cursor: pointer

  &--is-rtl
    direction: rtl

  &--wrap
    flex: 1 1 auto
    backface-visibility: hidden
    display: flex
    flex-direction: column
    min-height: 100vh
    max-width: 100%
    position: relative

.application .text
  &--primary
    color: var(--vuetify-text-primary) !important

  &--secondary
    color: var(--vuetify-text-secondary) !important

  &--disabled
    color: var(--vuetify-text-disabled) !important

+firefox()
  @media print
    .application
      display: block

      &--wrap
        display: block
