@import '../bootstrap'
@import '../theme'

.application
  -webkit-backface-visibility: hidden
  display: flex
  flex-direction: column

  // TODO: Deprecate
  > main:not(.content)
    flex: 1 0 auto
    display: flex

application($material)
  background: $material.background
  color: $material.text.primary

  a
    color: $material.text.link

app(application)
