@import '../bootstrap'
@import '../theme'

.application
  -webkit-backface-visibility: hidden
  display: flex
  min-height: 100vh
  flex-wrap: wrap
  flex-direction: column
  
  > main
    display: flex
    flex: 1 0 auto

application($material)
  background: $material.background
  color: $material.text.primary

app(application)
