@import '../bootstrap'
@import '../theme'

v-autocomplete($material)
  //

theme(v-autocomplete, 'v-autocomplete')

.v-autocomplete
  input
    align-self: center

  &--is-selecting-index
    input
      opacity: 0

  &.v-select.v-text-field
    input
      pointer-events: auto
