@import '../bootstrap'

.v-avatar
  align-items: center
  border-radius: 50%
  display: inline-flex
  justify-content: center
  position: relative
  text-align: center
  vertical-align: middle

  img,
  .v-icon,
  .v-image
    border-radius: 50%
    display: inline-flex
    height: inherit
    width: inherit

  &--tile
    border-radius: 0

    img,
    .v-icon,
    .v-image
      border-radius: 0
