.badge
  position: relative
  
  &:after
    color: $badge-color
    content: attr(data-badge)
    display: flex
    position: absolute
    font-family: $badge-font-family
    top: -($badge-height / 2)
    right: -($badge-width)
    background-color: $theme.primary
    border-radius: $badge-border-radius
    height: $badge-height
    width: $badge-width
    font-size: $badge-font-size
    justify-content: center
    align-items: center
    flex-direction: row
    flex-wrap: wrap
  
  &--overlap
    &.badge--left
      &:after
        left: 0
        
    &:after
      top: 0
      right: 0
      
  &--icon
    &:after
      font-family: 'Material Icons'
      
  &--left
    &:after
      left: -($badge-width)