@import '../bootstrap'
@import '../theme'

.bottom-sheet.dialog
  align-self: flex-end
  border-radius: 0
  flex: 1 0 100%
  margin: 0
  min-width: 100%
  overflow: visible
  transition: .3s $transition.swing
