.breadcrumbs
  display: flex
  align-items: space-between
  flex-wrap: wrap
  flex: 0 1 auto
  margin: .5rem 0
  list-style-type: none
  
  li
    &:not(:last-child):after
      color: $grey.lighten-1
      content: attr(data-divider)
      vertical-align: text-top
      
    &:last-child a
      color: $grey.lighten-1
      
      &:hover
        color: $theme.secondary
      
  &--with-icons
    li
      &:not(:last-child):after
        font-family: 'Material Icons'
      
        
  &__item
    align-items: center
    color: $theme.primary
    display: inline-flex
    font-size: 1rem
    padding: $breadcrumb-padding
    height: $breadcrumb-height
    text-decoration: none
    line-height: $breadcrumb-height
    transition: $primary-transition
    
    &:hover
      color: $grey.darken-1
      
    &--disabled
      color: $grey.lighten-2
      pointer-events: none