.btn-dropdown
  display: inline-block
  
  .btn
    background: transparent
    box-shadow: initial
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 16px
    min-width: $button-min-width
    padding: 0
    border-bottom: 1px solid $material-twelve-percent-dark
    font-weight: 500
    text-transform: initial
    border-radius: 0
    
    .icon
      margin-left: 24px
      color: $grey.base
      margin-right: -9px
      
  &--segmented .btn, &--editable .btn--active
    &:before
      content: ''
      position: absolute
      top: 0
      right: 38px
      width: 1px
      height: 100%
      background: $material-twelve-percent-dark
      
  &--overflow, &--editable
    .btn
      border-top: 1px solid $material-twelve-percent-dark
      height: 42px
      min-width: 102px
      padding: 0 16px
      
      .icon
        transition: $primary-transition
      
      &:hover
        background: #fff
        
      &.btn--active
        background: #fff
        @extend .z-depth-1
        
        &:after
          bottom: -4px
          height: 3px
          top: initial
          background: #fff
          
        .icon
          transform: rotate(180deg)
          
    .menu
      border-top-left-radius: 0
      border-top-right-radius: 0
      border-top: 1px solid $material-twelve-percent-dark