@import '../bootstrap'

.v-btn-toggle
  background: var(--vuetify-cards-color)
  display: inline-flex
  border-radius: 2px
  transition: $primary-transition
  will-change: background, box-shadow

  .v-btn
    justify-content: center
    min-width: auto
    width: auto
    padding: 0 8px
    margin: 0
    opacity: .4
    border-radius: 0
    color: var(--vuetify-text-primary)

    &.v-btn--active:not(:last-child):not([data-only-child])
      border-right-color: var(--vuetify-btn-disabled-color)

    &:not(:last-child)
      border-right: 1px solid transparent

    &:after
      display: none

    &.v-btn--active
      opacity: 1

    span + .v-icon
      font-size: initial
      margin-left: 10px

    &:first-child
      border-radius: 2px 0 0 2px

    &:last-child
      border-radius: 0 2px 2px 0

  &--selected
    elevation(2)
