.btn-dropdown
  position: relative
  display: inline-flex
  
  .list
    transition: $primary-transition
    
  &--active
    .list
      opacity: 0
  
  button
    display: inline-flex
    font-size: 16px
    align-items: center
    justify-content: space-between
    min-width: $button-min-width
    padding-bottom: 3px
    border-bottom: 1px solid $material-twelve-percent-dark
    outline: 0
    
    span
      font-weight: 500
    
    .icon
      color: $grey.base
      width: 10px
      
  > .card
    max-height: 200px
    overflow-y: auto
    z-index: 4
    position: absolute
    overflow-x: hidden
    width: auto
    transition: .2s ease-in
    
    .list__tile, .list
      transition: opacity .4s linear, transform .4s linear
    
    .list__tile__content
      flex: 1 0 auto
      
    .list__tile--dropdown--active
      opacity: 1 !important
      transform: translateY(0) !important
      
.drop
  &-enter
    opacity: 0
    
    .list__tile
      transform: translateY(-4px)
      
  &-enter, &-leave-to
    .list__tile
      opacity: 0
    
  &-enter-to, &-leave
    .list__tile
      opacity: 1
      
  &-leave-to
    opacity: 0