.btn
  align-items: center
  background: $grey.lighten-2
  border-radius: $button-border-radius
  color: $button-color
  display: inline-flex
  height: $button-height
  font-size: $button-font-size
  font-weight: $button-font-weight
  justify-content: center
  margin: $button-margin
  min-width: $button-min-width
  outline: 0
  padding: $button-padding
  text-transform: uppercase
  text-decoration: none
  transition: $primary-transition
  position: relative
  vertical-align: middle
  
  &:after
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: $primary-transition
    
  &:disabled
    box-shadow: none !important
    color: $button-disabled-color !important
    background-color: $button-disabled-background-color !important
  
  &:focus
    &:after
      background-color: $button-focus-background-color
    
  &:disabled
    color: rgba(#000000, .26)
    pointer-events: none
    
  &--dark
    color: $button-dark-color
    
    &:disabled
      color: $button-disabled-dark-color !important
      background-color: $button-disabled-dark-background-color !important
      
  &--small
    font-size: $button-small-font-size
    height: $button-small-height

  &--flat
    background-color: transparent
    box-shadow: none !important
    
    &:focus
      &:after
        background-color: $button-flat-focus-background-color
    
    &:active
      &:after
        background: $button-flat-active-background-color
      
    &:disabled
      color: $button-flat-disabled-color
      
    &.btn--dark
      &:disabled
        color: $button-flat-dark-disabled-color
        
  &--raised
    will-change: box-shadow
    
    @extend .z-depth-1
    
    &:active
      @extend .z-depth-2
      
  &--icon
    background: transparent
    box-shadow: none !important
    border-radius: 50%
    justify-content: center
    height: $button-height
    width: $button-height
    min-width: auto
    padding: 0
    
    &:after
      border-radius: 50%
    
    &:focus, &:active
      border-radius: 50%
      
      &:after
        background-color: currentColor !important
        opacity: .12
        
    &:disabled
      background-color: transparent !important
      
  &--floating
    border-radius: 50%
    min-width: auto
    height: $button-floating-width
    width: $button-floating-width
    
    &:after
      border-radius: 50%
      
    .icon
      height: $button-floating-icon-width
      width: $button-floating-icon-width
      
    &.btn--small
      height: $button-floating-small-width
      width: $button-floating-small-width
      
    &.btn--large
      height: $button-floating-large-width
      width: $button-floating-large-width
      
  &--outline
    border: 1px solid currentColor
    background: transparent
    box-shadow: none
    
    &:hover
      box-shadow: none
      
  &--block
    display: flex
    flex: 1
    
  &--round
    border-radius: 28px
    
  &--progress
    box-shadow: none

  .icon
    &--right
      margin-left: 16px
      
    &--left
      margin-right: 16px