.btn
  background: $grey.lighten-2
  color: $button-color
  height: $button-height
  margin: $button-margin
  border-radius: $button-border-radius
  padding: $button-padding
  font-size: $button-font-size
  font-weight: $button-font-weight
  min-width: $button-min-width
  text-transform: uppercase
  outline: 0
  transition: $primary-transition
  position: relative
  
  &:after
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: $primary-transition
    
  &:disabled
    box-shadow: none !important
    color: $button-disabled-color !important
    background-color: $button-disabled-background-color !important
  
  &:focus
    &:after
      background-color: $button-focus-background-color
    
  &:disabled
    color: rgba(#000000, .26)
    pointer-events: none
    
  &--dark
    color: $button-dark-color
    
    &:disabled
      color: $button-disabled-dark-color !important
      background-color: $button-disabled-dark-background-color !important

  &--flat
    background-color: transparent
    box-shadow: none !important
    
    &:focus
      &:after
        background-color: $button-flat-focus-background-color
    
    &:active
      &:after
        background: $button-flat-active-background-color
      
    &:disabled
      color: $button-flat-disabled-color
      
    &.btn--dark
      &:disabled
        color: $button-flat-dark-disabled-color
        
  &--raised
    will-change: box-shadow
    
    @extend .z-depth-1
    
    &:active
      @extend .z-depth-2