.btn-dropdown
  display: inline-block
  position: relative
  
  input
    background: transparent
    font-size: $button-dropdown-font-size
    font-weight: $button-dropdown-font-weight
    height: calc(100% - 2px)
    left: 0
    outline: none
    padding-left: $button-dropdown-input-padding-left
    position: absolute
    top: 1px
    width: $button-dropdown-input-width
    z-index: 2
    
    &.active
      background: #fff
  
  .btn
    align-items: center
    background: transparent
    border-bottom: $button-dropdown-border-bottom
    border-radius: 0
    box-shadow: initial
    display: flex
    font-size: $button-dropdown-font-size
    font-weight: $button-dropdown-font-weight
    justify-content: space-between
    width: 100%
    padding: 0
    text-transform: initial
    z-index: 1
    
  .icon:not(.btn-dropdown__arrow)
    padding: 0 6px
    
  &__arrow
    color: $grey.base
    margin-left: 24px
    margin-right: -9px
    transition: $primary-transition
    cursor: pointer
      
  &--segmented .btn, &--editable .btn--active
    &:before
      background: $material-twelve-percent-dark
      content: ''
      height: 100%
      position: absolute
      right: 38px
      top: 0
      width: 1px
      
  &--overflow, &--editable
    .btn
      border-top: 1px solid $material-twelve-percent-dark
      height: $button-dropdown-overflow-editable-height
      min-width: $button-dropdown-overflow-editable-min-width
      padding: $button-dropdown-overflow-editable-padding
      
      &:hover
        background: $button-dropdown-background
        
      &.btn--active
        background: $button-dropdown-background
        border-top-left-radius: 2px
        border-top-right-radius: 2px
        @extend .z-depth-2
        
        &:after
          background: #fff
          bottom: -4px
          height: 3px
          top: initial
          
        .btn-dropdown__arrow
          transform: rotate(-180deg)
  
  &--overflow, &--editable, &--segmented
    .btn
      margin: 0
      
  &--editable
    .btn
      pointer-events: none
      
      span
        opacity: 0