.with.dark
  .card
    background: $body-bg-dark

.with.light
  .card
    background: $body-bg-light

.card
  elevation(2)
  position: relative
  border-radius: $card-border-radius
  min-width: 0

  &--raised
    elevation(3, true)

  &--hover
    cursor: pointer
    transition: all .4s cubic-bezier(.25, .8, .25, 1)
    transition-property: box-shadow

    &:hover
      elevation(8, true)

  &--horizontal
    display: flex
    flex-flow: row nowrap

    > .card__row
      flex: 0 1 30%

  &__column, &__row
    display: flex

    &:first-child
      border-top-left-radius: inherit
      border-top-right-radius: inherit

    &:last-child
      border-bottom-left-radius: inherit
      border-bottom-right-radius: inherit

  &__column
    flex: 1
    flex-flow: column nowrap

  &__row
    align-items: center
    margin-top: auto
    flex: 1 1 auto
    flex-flow: row nowrap
    min-height: $card-row-min-height

    .card__text
      height: 100%

    &--actions
      padding: 8px
      height: 52px
      flex: 0 0 auto
      justify-content: flex-end
      width: 100%

      .btn
        margin: 0
        padding: 0 8px

      &-stacked
        flex-direction: column
        margin: 0 !important
        padding: 0 0 8px !important

        > .btn
          width: 100%
          height: 48px
          margin: 0 !important
          padding: 0 16px !important
          display: flex
          flex-direction: row-reverse

          span
            display: table

  &__title
    font-size: $card-title-text-size
    font-weight: $card-title-text-font-weight
    letter-spacing: $card-title-text-letter-spacing
    display: flex
    flex: 1
    align-self: center
    align-items: center
    padding: $card-padding

    .btn
      margin: 0

  &__text
    padding: $card-padding
    width: 100%
