.card
  @extend .z-depth-1
  background: $card-background
  position: relative
  display: flex
  flex-flow: column nowrap
  border-radius: $card-border-radius
  overflow: hidden
  
  &--horizontal
    flex-flow: row nowrap
    
    > .card__row
      flex: 0 1 30%
      
  &__column
    display: flex
    flex: 1
    flex-flow: column nowrap
    
  &__row
    align-items: center
    display: flex
    padding: $card-padding
    margin-top: auto
    flex: 1 1 auto
    flex-flow: row nowrap
    min-height: $card-row-min-height
    
    &--actions
      border-top: $card-actions-border-top
      padding: ($card-padding / 2)
      min-height: ($card-row-min-height / 2)
      flex: 0 0 auto
  
  &__title
    font-size: $card-title-text-size
    font-weight: $card-title-text-font-weight
    letter-spacing: $card-title-text-letter-spacing
    display: flex
    align-self: center
    align-items: center
      
  &__text
    padding: $card-padding