.chip
  align-items: center
  background: $chip-background
  border: $chip-border
  border-radius: $chip-border-radius
  cursor: default
  display: inline-flex
  justify-content: space-between
  font-size: $chip-font-size
  padding: $chip-padding
  margin: 8px
  height: $chip-height
  transition: .3s $transition.ease-in-out
  vertical-align: middle
  
  img
    border-radius: 50%
    height: $chip-height
    margin-left: -12px
    margin-right: 8px
    
  &:focus
    @extend .z-depth-1
    outline: none
    
  &--label
    border-radius: $chip-label-border-radius
  
  &--outline
    background: $chip-outline-background
    color: $chip-outline-color
    
  &--small
    min-height: $chip-small-min-height
    padding: $chip-small-padding
    
  &__close
    color: inherit
    display: flex
    align-items: center
    text-decoration: none
    font-size: $chip-icon-font-size
    margin-left: 4px
    transition: .3s $transition.ease-in-out

    &:hover
      opacity: .8
      
  &--removable
    padding: $chip-removeable-padding
    
  .icon--right
    margin-left: 4px
    
  .icon--left
    margin-right: 4px