.collapsible
  background: #fff
  text-align: left
  list-style-type: none
  border-top: 1px solid #ddd
  border-right: 1px solid #ddd
  border-left: 1px solid #ddd
  padding: 0
  width: 100%
  @extend .z-depth-1
  
  li    
    &:not(:first-child) .collapsible__header
      border-top: 1px solid #ddd
  
  &__header
    height: $collapsible-collapse-height
    padding-left: 1rem
    cursor: pointer
    display: flex
    align-items: center
    position: relative
    
    i
      margin-right: 1rem
    
  &__body
    background-color: rgba(0, 0, 0, 0.03)
    transition: $primary-transition
    overflow: hidden
    position: relative
    
    .card
      border-radius: 0
    
    &:last-child
      border-bottom: 1px solid #ddd