@import '../bootstrap'

.v-date-picker-years
  font-size: 16px
  font-weight: 400
  height: 334px
  list-style-type: none
  overflow: auto
  padding: 0
  text-align: center

  li
    cursor: pointer
    padding: 8px 0
    transition: none

    &.active
      font-size: 26px
      font-weight: 500
      padding: 10px 0

    &:hover
      background: rgba(0, 0, 0, 0.12)

.v-picker--landscape
  .v-date-picker-years
    height: 286px
