@import '../bootstrap'
@import '../theme'

date-picker-header($material)
  .date-picker-header__value:not(:hover)
    color: $material.text.primary !important

theme(date-picker-header, "date-picker-header")

.date-picker-header
  padding: 4px 16px

  align-items: center
  display: flex
  justify-content: space-between
  position: relative

  .btn
    margin: 0
    z-index: auto

.date-picker-header__value
  flex: 1
  text-align: center
  position: relative
  overflow: hidden
  cursor: pointer

  strong
    transition: $primary-transition
    display: block
    width: 100%

.date-picker-header__value--disabled
  pointer-events: none
