@import '../bootstrap'

.date-picker-title
  justify-content: space-between
  flex-direction: column
  flex-wrap: wrap

.date-picker-title__year
    align-items: center
    display: inline-flex
    font-size: 14px
    font-weight: 500

.date-picker-title__date
    font-size: 34px
    text-align: left
    font-weight: 500

    > div
      position: relative
