@import '../bootstrap'
@import '../theme'

/** Themes */
date-picker($material)
  .picker--date__years
    li
      color: $material.text.primary

      &.active, &:hover
        color: $theme.primary

  .picker--date__header
    color: $material.text.primary

    &-selector-date
      strong:hover
        color: $material.picker.date

    &-selector
      .btn
        color: $material.text.primary

  .picker--date__title-year, .picker--date__title-date
    &:not(.active)
      opacity: 0.6

  .picker--date__table
    th
      color: $material.text.primary

    .btn.btn--date-picker
      &:not(.btn--disabled)
        &:hover
          color: #fff

        &.btn--active
          color: #fff

      &:not(.btn--disabled):not(.btn--active)
        color: $material.text.primary

      &.btn--disabled
        color: $material.buttons.disabled

      &.btn--outline
        border-color: $theme.primary

      &.btn--active:after
        background-color: $material.picker.date

      &:not(.btn--active):hover
        color: #fff

        &:after
          background-color: $material.picker.date
          opacity: .6

theme(date-picker, "picker--date")

.picker--date
  width: 100%

/** Years */
.picker--date__years
  font-size: 16px
  font-weight: 400
  list-style-type: none
  max-height: 290px
  overflow: auto
  padding: 0
  text-align: center

  li
    cursor: pointer
    margin: 16px 0
    transition: none

    &.active
      font-size: 24px
      font-weight: 500
      margin: 20px 0


/** Title */
.picker--date__title
  justify-content: space-between
  flex-direction: column
  flex-wrap: wrap

  &-year
    align-items: center
    display: inline-flex
    font-size: 14px

  &-date
    font-size: 34px
    text-align: left

    > div
      position: relative

  &-year, &-date
    font-weight: 500
    transition: .3s $transition.swing
    width: 100%

    &:not(.active)
      cursor: pointer

/** Header */
.picker--date__header
  padding: 4px 16px

  &-selector
    align-items: center
    display: flex
    justify-content: space-between
    position: relative

    .btn
      margin: 0

    .icon
      cursor: pointer
      user-select: none

    &-date
      flex: 1
      text-align: center
      position: relative
      overflow: hidden

      strong
        cursor: pointer
        transition: .3s $transition.swing
        display: block
        width: 100%

.picker--date
  .btn
    z-index: auto

  &__table
    position: relative

  table
    transition: .3s $transition.swing
    top: 0

    thead
      th
        padding: 8px 0

    th
      font-weight: 600
      font-size: 12px

    th, td
      text-align: center
      width: 45px

    .btn
      margin: 0
      transition: none

      &:hover, .btn__content:before
        background-color: transparent !important

      &:after
        position: absolute
        content: ''
        left: 0
        top: 0
        height: 100%
        width: 100%

      &__content
        overflow: visible
        transition: none
        z-index: 1

    .btn.btn--date-picker
      height: 32px
      width: 32px

      &:after
        transform: scale(0)

      &:not(.btn--active):not(.btn--current):not(.btn--disabled):hover
        &:after
          transform: scale(1)

    .btn.btn--date-picker.btn--active
      &:after
        transform: none

.picker--landscape
  .picker--date__years
    width: 330px

.picker--month__table
  table
    width: 100%

    td
      width: 33.333333%
      height: 56px
      vertical-align: middle

  // .picker--date__title-date > div
  //   white-space: pre
  //   overflow: hidden
  //   text-overflow: ellipsis
