@import '../bootstrap'
@import '../theme'

dataiterator($material)
  .data-iterator__actions
    color: rgba($material.fg-color, $material.secondary-text-percent)

    &__select
      .input-group--select
        .input-group__selections__comma
          color: rgba($material.fg-color, $material.secondary-text-percent) !important

        .input-group__append-icon
          color: rgba($material.fg-color, $material.secondary-text-percent) !important

theme(dataiterator, "data-iterator")

/** Actions */
.data-iterator__actions
  display: flex
  justify-content: flex-end
  align-items: center
  font-size: 12px
  flex-wrap: wrap-reverse

  .btn
    color: inherit

    &:last-of-type
      margin-left: 14px

  &__range-controls
    display: flex
    align-items: center
    min-height: 48px

  &__pagination
    display: block
    text-align: center
    margin: 0 32px 0 24px

  &__select
    display: flex
    align-items: center
    justify-content: center
    margin-right: 14px

    .input-group--select
      margin: 13px 0 13px 34px
      padding: 0
      position: initial

      .input-group__selections__comma
        font-size: 12px
