.date-picker
  background: $theme.primary
  border-radius: $card-border-radius
  color: #fff
  display: flex
  flex-direction: column
  width: 350px

/** Years */
.date-picker__years
  background: #fff
  color: #000
  list-style-type: none
  max-height: 408px
  overflow: auto
  text-align: center
  font-size: 18px
  font-weight: 400
  
  li
    margin: 16px 0
    cursor: pointer
    transition: .3s $transition.swing
    
    &:hover
      color: $theme.primary

    &.active
      color: $theme.primary
      font-weight: 500
      margin: 20px 0
      font-size: 24px
  

/** Header */
.date-picker__header
  height: 105px
  justify-content: space-between
  flex-direction: column
  flex-wrap: wrap
  width: 100%
  
  &-year
    font-size: 14px
    
  &-date
    font-size: 34px
  
  &-year, &-date
    font-weight: 500
    transition: .3s $transition.swing
    width: 100%
    
    &:not(.active)
      cursor: pointer
      opacity: .8
      
    &:hover
      opacity: 1
    

/** Body */
.date-picker__body
  background: #fff
  color: #000
  
  &-selector
    display: flex
    align-items: center
    justify-content: space-between
    
    .btn
      color: #000
      margin: 0
    
    .icon
      cursor: pointer
      user-select: none

table
  background: #fff
  padding-bottom: 8px
  
  thead
    th
      padding: 16px 0

  th
    color: rgba(#000, .54)
    font-weight: 600
    font-size: 12px
    
  tr
    height: 40px

  th, td
    width: 50px
    text-align: center
    
  .btn
    margin: 0
    
  .btn.btn--floating.btn--current:not(.btn--active)
    color: rgba($theme.primary, .6)
    
  .btn.btn--floating
    transition: none !important

    &:after
      background: $theme.primary !important
      opacity: 0
      transform: scale(0)
      
    &:not(.btn--active):hover
      color: #fff

      &:after
        opacity: .6
        transform: scale(1)

  .btn.btn--floating.btn--active
    color: #fff
    
    &:after
      background: $theme.primary !important
      opacity: 1
      transform: none