@import '../bootstrap'

.date-picker-title
  display: flex
  justify-content: space-between
  flex-direction: column
  flex-wrap: wrap
  line-height: 1

.date-picker-title__year
    align-items: center
    display: inline-flex
    font-size: 14px
    font-weight: 500
    margin-bottom: 8px

.date-picker-title__date
    font-size: 34px
    text-align: left
    font-weight: 500
    position: relative
    overflow: hidden

    > div
      position: relative
