.dialog
  // width 500px
  // margin 100px auto

  .card
    elevation(24)

    &__title
      padding 24px 24px 0

    &__text
      padding 20px 24px 24px

    &__row--actions
      border initial

      .btn
        padding-right: 0
