.dialog
  // width 500px
  // margin 100px auto

  .card
    elevation(24)

    &__title
      padding 24px 24px 0

    &__text
      padding 20px 24px 24px

    &__row--actions
      border initial
      padding: 8px 0

      .btn
        margin-right: 8px

  &--stacked-actions
    .card__row--actions
      flex-direction: column
      margin: 0
      padding: 0 0 8px

      .btn
        width: 100%
        height: 48px
        margin: 0
        padding: 0 16px
        display: flex
        flex-direction: row-reverse
        span
          display: table

