@import '../bootstrap'
@import '../theme'

v-divider($material)
  border-color: $material.dividers

theme(v-divider, "v-divider")

.v-divider
  display: block
  flex: 1 1
  width: 100%
  border: solid
  border-width: thin 0 0 0

  &--inset:not(.v-divider--vertical)
    margin-left: 72px
    width: calc(100% - 72px)

  &--vertical
    flex: 0 1 auto
    height: 100%
    border: solid
    border-width: 0 thin 0 0

    &.v-divider--inset
      height: calc(100% - 16px)
