.divider
  background: $material-twelve-percent-dark
  border: none
  display: block
  height: 1px
  flex: 1
  width: 100%
  
  &--inset
    margin-left: 72px
    
  &--light
    background: $material-twelve-percent-light