.dropdown
  list-style-type: none
  padding: 0
  background-color: #fff
  position: absolute
  white-space: nowrap
  z-index: 2
  transform-origin: top left
  @extend .z-depth-1
  
  &--open-from-right
    transform-origin: top right
  
  li
    text-align: left
    
  &__item
    text-decoration: none
    display: inline-flex
    justify-content: space-between
    align-items: center
    text-transform: none
    padding: 1rem
    width: 100%
    font-weight: 500
    font-size: 1rem
    color: $theme.primary
    
    &:hover
      background-color: rgba(0, 0, 0, 0.1)