.dropdown
  list-style-type: none
  padding: 0
  background-color: #fff
  position: absolute
  white-space: nowrap
  z-index: 3
  display: flex
  @extend .z-depth-1
  
  li
    text-align: left
  
  .list
    width: 100%
    
    .list__row
      margin: 0
      
    .list__tile__content
      overflow: initial
      
    .list__tile__action, .list__tile__avatar
      flex: 0 1 auto
      
    .list__tile__action
      .icon
        width: 42px
        height: 42px