@import '../bootstrap'
@import '../theme'

/** Theme */
v-expansion-panel($material)
  .v-expansion-panel__container
    background: $material.cards

    &::after
      border-color: $material.dividers

    &--disabled
      color: $material.text.disabled

  &--focusable
    .v-expansion-panel__container:focus
      background-color: $material.expansion-panels.focus

theme(v-expansion-panel, "v-expansion-panel")

.v-expansion-panel
  display: flex
  flex-wrap: wrap
  justify-content: center
  position: relative
  z-index: 1

  &__activator
    cursor: pointer
    display: flex
    transition: $primary-transition

    > .v-list__item
      padding: 0 0 0 0

  &__container
    flex: 1 0 100%
    padding: 0 24px
    max-width: 100%
    outline: none
    position: relative
    transition: $primary-transition

    &::before
      elevation(2)
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: -1
      transition: inherit

    &:not(:first-child)::after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      border-top: thin solid
      transition: opacity $primary-transition

    &--active
      &:not(:first-child)
        margin-top: $spacers.three.y

      &::after
        opacity: 0

      + .v-expansion-panel__container
        margin-top: $spacers.three.y

        &::after
          opacity: 0

      .v-expansion-panel__container::before
        elevation(3)

      > .v-expansion-panel__activator
        padding: 8px 0

        .v-list__item__icon > .v-icon
          transform: rotate(-180deg)

    &--disabled
      .v-expansion-panel__activator
        pointer-events: none

  &__icon
    align-items: center
    align-self: center
    margin-left: auto

  &--popout,
  &--popin,
  &--inset
    .v-expansion-panel__container--active::before
      opacity: 0

  &--popout,
  &--inset
    .v-expansion-panel__container--active
      margin: $spacers.three.x

  &--popin
    .v-expansion-panel__container--active
      margin: $spacers.three.y 0

  &--popout
    .v-expansion-panel__container
      max-width: 95%

      &--active
        max-width: 100%

  &--inset
    .v-expansion-panel__container--active
      max-width: 95%
