.fab
  position: fixed


/** Variations */
.fab
  &--absolute
    position: absolute
  
  &--hidden
    .fab__activator
      transform: scale(0) rotate(-45deg)
      
  &--top
    &:not(.fab--absolute)
      top: $grid-gutters.sm

    &.fab--absolute
      bottom: 100%
      transform: translateY(50%)
  
  &--bottom
    &:not(.fab--absolute)
      bottom: $grid-gutters.sm
      
    &.fab--absolute
      top: 100%
      transform: translateY(-50%)
    
  &--left
    left: $grid-gutters.sm
    
  &--right
    right: $grid-gutters.sm

  &--is-changing
    .fab__activator
      animation-duration: .6s
      animation-name: is-changing
      animation-delay: 50ms
    
    .fab__activator .icon
      animation-name: lateral
      animation-duration: .6s

  .btn
    @extend .btn--floating

/** Actions */      
.fab--list
  &-top
    .fab__speed-dial .btn
      transform: translateY(20px) scale(.25)
  
  &-right
    .fab__speed-dial .btn
      transform: translateX(-20px) scale(.25)
  
  &-bottom
    .fab__speed-dial .btn
      transform: translateY(-20px) scale(.25)
  
  &-left
    .fab__speed-dial .btn
      transform: translateX(20px) scale(.25)

.fab
  .fab__speed-dial .btn
    opacity: 0
    
  &--is-active
    .fab__speed-dial .btn
      transform: none
      opacity: 1


/** Elements */
.fab__activator
  transition: $primary-transition

.fab__speed-dial
  align-items: center
  display: flex
  justify-content: center
  flex-direction: column-reverse
  
  .btn
    for n in (1..7)
      &:nth-child({n})
        transition-delay: "%ss" % (n * .05)

/** Animations */
.fab
  &-transition
    &-enter-active, &-leave-active
      transition: transform .1s linear, opacity .1s $transition.swing

    &-enter, &-leave-to
      opacity: .5
      
  &--is-active
    .fab-transition
      &-enter
        transform: rotate(-45deg)
        
      &-leave-to
        transform: rotate(45deg)

  &:not(.fab--is-active)
    .fab-transition
      &-enter
        transform: rotate(45deg)
        
      &-leave-to
        transform: rotate(-45deg)

  @keyframes is-changing
    0%
      transform: scale(1)
    
    50%
      transform: scale(0)
      
    100%
      transform: scale(1)
  
  @keyframes lateral
    0%
      opacity: 0
      
    60%
      opacity: 0
      transform: rotate(45deg)

    100%
      opacity: 1
      transform: rotate(0)

/** Themes */
.fab
  &.primary,
  &.secondary,
  &.success,
  &.error,
  &.warning,
  &.info
    .icon
      color: $material-dark.text.primary