.fab
  position: fixed
  
  &--absolute
    position: absolute
  
  &--hidden
    .fab__activator
      transform: scale(0) rotate(-45deg)
      
  &--top
    &:not(.fab--absolute)
      top: $grid-gutters.sm

    &.fab--absolute
      bottom: 100%
      transform: translateY(50%)
  
  &--bottom
    &:not(.fab--absolute)
      bottom: $grid-gutters.sm
      
    &.fab--absolute
      top: 100%
      transform: translateY(-50%)
    
  &--left
    left: $grid-gutters.sm
    
  &--right
    right: $grid-gutters.sm

  &--is-changing
    .fab__activator
      animation-duration: .6s
      animation-name: is-changing
      animation-delay: 50ms
    
    .fab__activator .icon
      animation-name: lateral
      animation-duration: .6s

  &.fab--small
    height: $button-floating-small-width
    width: $button-floating-small-width

    .icon
      font-size: $button-floating-small-icon-width
      height: $button-floating-small-icon-width
      width: $button-floating-small-icon-width


  &.fab--large
    height: $button-floating-large-width
    width: $button-floating-large-width

    .icon
      font-size: $button-floating-large-icon-width
      height: $button-floating-large-icon-width
      width: $button-floating-large-icon-width
      

/** Elements */
.fab__activator
  transition: $primary-transition

  > *:focus
    transform: rotate(45deg)


/** Animations */
.fab
  @keyframes is-changing
    0%
      transform: scale(1)
    
    50%
      transform: scale(0)
      
    100%
      transform: scale(1)
  
  @keyframes lateral
    0%
      opacity: 0
      
    60%
      opacity: 0
      transform: rotate(45deg)

    100%
      opacity: 1
      transform: rotate(0)

/** Themes */
.fab
  &.primary,
  &.secondary,
  &.success,
  &.error,
  &.warning,
  &.info
    .icon
      color: $material-dark.text.primary