@import '../bootstrap'

.v-file-upload
  .v-btn
    margin: 0 0 0 8px

  input
    opacity: 0
    max-width: 1px

  &__selection
    align-items: center
    color: rgba(0, 0, 0, .87)
    display: inline-flex
