@import '../bootstrap'
@import '../theme'

v-footer($material)
  background: $material.app-bar
  color: $material.text.primary

theme(v-footer, "v-footer")

.v-footer
  align-items: center
  display: flex
  flex: 0 1 auto !important // Don't let devs break their code
  min-height: $footer-height
  transition: .2s $transition.fast-out-slow-in

  &--absolute,
  &--fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 3

  &--inset
    z-index: 2

  &--absolute
    position: absolute

  &--fixed
    position: fixed

