@import '../bootstrap'

.v-form
  > .container
    padding: $grid-gutters.xl

    .layout
      .flex
        padding: ($grid-gutters.xl / 2)

    .layout:only-child
      margin: -($grid-gutters.xl / 2)

    .layout:not(:only-child)
      margin: auto -($grid-gutters.xl / 2)

    *:not(:only-child)
      .layout:first-child
        margin-top: -($grid-gutters.xl / 2)

      .layout:last-child
        margin-bottom: -($grid-gutters.xl / 2)
