.input-group
  position: relative
  margin-bottom: 1rem
  width: 100%
    
  input
    &[type=text]
      border-bottom: 1px solid #ddd
      height: 3rem
      width: 100%
      position: relative
      
      &:focus
        outline: none
        
    &[type=radio]
      display: none
      
      &:disabled
        + label
          &:before
            border-color: $grey.lighten-2
            
        &:checked
          + label
            &:before
              border-color: $grey.lighten-2
              
            &:after
              background: $grey.lighten-2
      
      + label
        padding-left: 1.5rem
        cursor: pointer
        position: relative
        
        &:before
          content: ""
          position: absolute
          left: 0
          top: 2px
          width: 1rem
          height: 1rem
          border-radius: 50%
          border: 2px solid $grey.darken-1
          z-index: 1
          transition: $secondary-transition

        &:after
          content: ""
          position: absolute
          left: 0
          top: 2px
          width: 1rem
          height: 1rem
          transform: scale(0)
          border-radius: 50%
          z-index: 2
          background: transparent
          transition: $secondary-transition
          
      &:checked
        + label
          &:before
            border: 2px solid $theme.secondary
            background: transparent
            
          &:after
            background: $theme.secondary
            transform: scale(1)

      &.gap
        &:checked
          + label
            &:after
              transform: scale(.45)
              
    &[type=checkbox]
      display: none
      
      &:disabled
        + label
          &:before
            background: $grey.lighten-2
            border-color: $grey.lighten-2
            
        &:checked
          + label
            &:before
              background: transparent
              border-bottom-color: $grey.lighten-2
              border-right-color: $grey.lighten-2
      
      + label
        padding-left: 1.5rem
        cursor: pointer
        position: relative
        
        &:before
          content: ""
          position: absolute
          left: 0
          top: 2px
          width: 1rem
          height: 1rem
          z-index: 2
          transition: $secondary-transition
          border: 2px solid $grey.darken-1
          transform-origin: 100% 100%
          
      &:checked
        + label
          &:before
            border-bottom-color: $theme.secondary
            border-left-color: transparent
            border-right-color: $theme.secondary
            border-top-color: transparent
            transform: rotate(40deg)
            width: .5rem
            top: 0
            left: -2px
            
      &.filled
        + label
          &:before
            border-color: transparent
            left: -4px
            
          &:after
            content: ""
            width: 1.2rem
            height: 1.2rem
            background: transparent
            position: absolute
            left: -1.7px
            top: 1px
            border: 2px solid $grey.darken-1
            border-radius: .15rem
            transition: $secondary-transition
            
        &:checked
          + label
            &:before
              border-bottom: 2px solid #fff
              border-right: 2px solid #fff
              top: -1px
              left: -1px
              transform: rotate(37deg) scale(.8)
            
            &:after
              background: $theme.secondary
              border-color: $theme.secondary
              
      &:indeterminate
        + label    
          &:before
            border-right-color: $theme.secondary
            left: -20px
            top: -8px
            border-top: 0px solid transparent
            border-left: 0px solid transparent
            border-bottom: 0px solid transparent
            transform: rotate(90deg)
            width: 1.2rem
            height: 1.2rem
            
          &:after
            border: none
            background: transparent
              
  select
    @extend .input-group input[type=text]
    width: 100%
    
    &[multiple]
      border: 1px solid #ddd
      height: 10rem
      top: 9px
      margin-bottom: 1rem
      
  label
    color: $theme.primary
    position: absolute
    top: 15px
    transition: $primary-transition
  
  &:after
    content: ""
    width: 0%
    height: 2px
    background-color: $theme.primary
    position: absolute
    bottom: -1px
    left: 0
    transition: $primary-transition
  
  &--focused, &--dirty
    label
      top: -9px
      font-size: .8rem
  
  &--focused
    &:after
      width: 100%