@import '../bootstrap'

.v-form
  > .v-container
    padding: $grid-gutters.lg

    > .v-layout > .v-flex
      padding: ($grid-gutters.lg / 2)

    > .v-layout:only-child
      margin: -($grid-gutters.lg / 2)

    > .v-layout:not(:only-child)
      margin: auto -($grid-gutters.lg / 2)
