.icon
  span
    display: inline-block
    overflow: hidden
    
  &--large
    font-size: 2.5rem
    padding: .6rem
    
    span
      width: 2.5rem
    
  &--medium
    font-size: 2rem
    padding: .3rem
    
    span
      width: 2rem
    
  &--x-large
    font-size: 3rem
    padding: 1rem
    
    span
      width: 3rem