@import '../bootstrap'

.v-image
  position: relative
  transition: padding-bottom .2s ease-in-out
  overflow: hidden

  &__image,
  &__placeholder
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &__image
    &--preload
      filter: blur(2px)

    &--contain
      background-size: contain

    &--cover
      background-size: cover
