@import '../bootstrap'
@import '../theme'

/* Theme */
v-input($material)
  input::placeholder,
  textarea::placeholder
    color: $material.text.disabled

  &:not(.v-input--has-state)
    input,
    textarea
      color: $material.text.primary

    &--is-disabled
      .v-input__label,
      input,
      textarea
        color: $material.text.disabled

theme(v-input, "v-input")

.v-input
  align-items: flex-start
  display: flex
  font-size: 16px
  margin-top: 16px
  text-align: left

  input,
  textarea
    flex: 1 1 auto
    padding: 8px 0 8px
    line-height: 1
    width: auto

    &:focus,
    &:active
      outline: none

  .progress-linear
    bottom: -1px
    height: 2px
    left: 0
    margin: 0
    padding: 0
    position: absolute

  &__append-outer,
  &__prepend-outer
    display: inline-flex

    .v-input__icon
      margin: 4px 16px


  &__control
    display: flex
    height: auto
    flex-grow: 1
    flex-wrap: wrap
    position: relative

  &__icon
    align-items: center
    display: inline-flex
    height: 24px
    flex: 1 0 auto
    justify-content: center
    min-width: 24px
    width: 24px

    &--clear
      border-radius: 50%

  &__slot
    align-items: center
    color: inherit
    display: flex
    margin-bottom: 8px
    position: relative
    width: 100%

  &--is-disabled
    pointer-events: none
