.input-group
  display: flex
  flex: 1
  flex-wrap: wrap
  min-width: 24px
  margin: $input-group-margin
  position: relative
  width: 100%
  outline: none


/** Label */
.input-group
  label
    font-size $input-font-size
    line-height: $input-font-size * 2
    height: $input-height
    max-width: 80%
    transition: .4s $transition.fast-in-fast-out
    z-index: 0

/** Blocks */
.input-group
  &__input
    display: flex
    flex: 1 0 100%
    min-width: 0
    min-height: $input-height


/** States */
.input-group
  &--disabled
    .input-group__details:before
      background-color: transparent
      background-position: bottom
      background-size: 3px 1px
      background-repeat: repeat-x

  &--focused, &:focus
    &:not(.input-group--disabled)
      .input-group__details
        &:after
          transform: scaleX(1)

  &--active
    //

  &--error
    .input-group__details:after
      background-color: $theme.error

/** Icons */
.input-group
  &__icon-cb
    cursor: pointer
    
.input-group
  &.input-group--prepend-icon,
  &.input-group--append-icon
    &.input-group--focused
      .input-group__input .icon
        color: $theme.primary

/** Details */
.input-group
  .slide-y-transition-leave,
  .slide-y-transition-leave-to
    position: absolute

  &__details
    display: flex
    padding-top: 4px
    flex: 1 0 100%
    font-size: 12px
    min-height: 22px
    position: relative
    width: 100%

    &:after, &:before
      content: ''
      position: absolute
      left: 0

    &:after
      background-color: $theme.primary
      top: -1px
      height: 2px
      transition: .3s $transition.fast-out-slow-in
      transform: scaleX(0)
      transform-origin: center center 0
      width: 100%
      z-index: 1

    &:before
      top: 0
      height: 1px
      width: 100%
      z-index: 0

  &--hide-details
    .input-group__details
      min-height: 0
      padding: 0

/** Hint */
.input-group
  &__hint
    // flex: 1 0
    transition: .3s $transition.fast-in-fast-out

/** Error */
.input-group
  .input-group__error
    flex: 1 0
    transition: .3s $transition.fast-in-fast-out
    color: $theme.error
    

/** Types */
.input-group
  &--overflow, &--segmented, &--editable
    &.input-group--active
      background-color: #fff
