@import '../bootstrap'
@import '../theme'

v-label($material)
  color: $material.text.secondary

  &--is-disabled
    color: $material.text.disabled

theme(v-label, "v-label")

.v-label
  font-size: 16px
  line-height: 1
  min-height: 8px
  transition: .3s $transition.swing
