.list
  list-style-type: none
  padding: 0
  transition: $primary-transition
  
  .input-group
    margin: 0
    
  &__sub-header
    height: 48px
    display: flex
    align-items: center
    font-size: 14px
    color: $grey.darken-1
    font-weight: 500
    padding: 0 16px
    
    &--inset
      margin-left: 56px
  
  &__row
    li.disabled
      pointer-events: none
      
    &:first-child
      margin-top: 8px
      
  &__tile
    color: $color-root
    display: flex
    height: 56px
    text-decoration: none
    align-items: center
    padding: 8px 16px
    margin: 0
    
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 1px
      opacity: 0
      width: 100%
      transition: $primary-transition
      background-color: rgba(#fff, .12)
    
    &:hover
      background: rgba(#000, 0.1)
    
    &__content,
    &__action,
    &__avatar
      height: 100%
      
    &__title, &__sub-title
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: 100%
    
    &__title
      font-size: 16px
      line-height: 1.15
      font-weight: 500
      transition: $primary-transition
      position: relative
      
      &:not(:only-child)
        margin-bottom: 4px
      
    &__sub-title
      color: $grey.base
      font-size: 14px
      line-height: 1.3
      font-weight: 400
    
    &__action, &__avatar
      display: flex
      justify-content: flex-start
      align-items: center
      flex: 1 0 56px
      
    &__action
      align-items: flex-start
      flex-direction: column
      justify-content: center
      
      .icon
        transition: $primary-transition
      
      &--stack
        justify-content: space-between
        align-items: flex-end
      
    &__avatar        
      img, .icon
        height: 42px
        width: 42px
        border-radius: 50%
      
    &__content
      text-align: left
      flex: 0 1 100%
      font-size: 15px
      overflow: hidden
      display: flex
      align-items: flex-start
      justify-content: center
      flex-direction: column
      
      + .list__tile__avatar
        justify-content: flex-end
        
      + .list__tile__action
        flex: 1 0 48px
        align-items: center
            
    &--active
      .list__tile__title
        color: $theme.primary
  
  &--dense
    .list__row      
      &:first-child
        margin-top: 4px
        
    .list__tile
      height: 48px
      font-size: 13px
      
    .list__tile__title
      font-size: 13px
      font-weight: 500
      
    .list__tile__sub-title
      font-size: 13px
      
  &--two-line
    .list__tile
      height: 72px
      
    &.list--dense
      .list__tile
        height: 60px
        
  &--three-line
    .list__tile
      height: 88px
      
    .list__tile__action
      align-items: flex-start
      
    .list__tile__sub-title
      white-space: initial
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      display: -webkit-box
      
    &.list--dense
      .list__tile
        height: 76px    
        
  &--group
    overflow: hidden
    position: relative
    
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      height: 1px
      opacity: 0
      width: 100%
      background-color: rgba(#fff, .12)
    
    .list__tile
      padding-left: 72px
      
      .list__tile__title
        font-weight: 300
      
    .list__tile--active
      .list__tile__title
        color: $theme.primary
        font-weight: 500
        
    &__header
      + .list--group
        &:after
          opacity: 1
            
      &.list__tile
        background: rgba(#000, 0.1)
        
        &:after
          opacity: 1
        
        .list__tile__title
          color: inherit
          
        .list__tile__action:last-of-type
          .icon
            transform: rotate(180deg)