@import '../bootstrap'
@import '../theme'

/* Theme */
v-messages($material)
  color: $material.text.secondary

theme(v-messages, "v-messages")

.v-messages
  flex: 1 1 auto
  font-size: 12px
  min-height: 12px
  min-width: 1px // Ensure takes up space with no messages and inside of flex
  position: relative

  &__message
    line-height: 1
    transition: $primary-transition

    &.slide-y-transition-leave,
    &.slide-y-transition-leave-active
      position: absolute
