.modal
  display: block
  position: relative
  min-width: 280px
  max-width: 80%
  max-height: 80%
  margin: auto
  z-index: 1001
  transition: .3s ease-in-out
  max-height: 55%
  overflow: hidden
  @extend .z-depth-3
  
  .card
    .title
      margin: 0

  &__container
    position: relative