.morph
  &__toolbar
    transition: none !important
    top: inherit !important
    bottom: 0
    will-change: clip-path, opacity !important

  &__button
    transition: none !important
    will-change: transform, opacity !important

  svg
    position: fixed
    bottom: 0
    left: 0
