.morph
  .btn
    margin: 0

  &--content
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)

  &--toolbar &--activator
    z-index: 10

  &--toolbar &--content
    position: fixed
    left: 0
    bottom: 0

    .toolbar
      box-shadow: none

  &--sheet &--content
    position: relative

  &--dialog &--content
    position: fixed
    bottom: 16px
    right: 16px
    margin: 4px
