.navbar
  background-color: $theme.primary
  display: flex
  flex-wrap: wrap
  position: relative
  width: 100%
  @extend .z-depth-1
  
  &--fixed
    position: fixed
    top: 0
    left: 0
    z-index: 4
    
  &__side-icon
    display: inline-flex
    align-items: center
    margin: 0 1rem
    
    a
      color: #FFFFFF
      display: flex
      align-items: center
      flex: 1
      font-size: 1rem
      text-decoration: none
      
      i
        font-size: 3rem
  
  &__logo
    color: #fff
    font-size: 3rem
    flex: 1;
    text-decoration: none
    padding: 0 2rem
    display: flex
    align-items: center
  
  &__items
    list-style-type: none
    padding: 0
    background-color: inherit
    display: flex
    align-items: center    

    > li
      display: flex
      align-items: center
      height: 100%
      
  &__item
    align-items: center
    color: #fff
    display: flex
    padding: $navbar-item-padding
    text-decoration: none
    transition: all 0.3s ease-out
    position: relative
    height: 100%
    
    i
      font-size: 2rem
    
    &:hover
      background: rgba(#fff,0.2)
      
  &__group
    position: relative
    background-color: inherit
    
    .navbar__items
      position: absolute
      top: 0
      right: 0
      z-index: 99
      background-color: #fff
      transform-origin: top right
      flex-direction: column
      overflow: hidden
      @extend .z-depth-1
      
      li
        width: 100%
      
        
      .navbar__item
        padding: 1rem
        white-space: nowrap
        color: $theme.primary
        font-weight: 500
        width: 100%
        
        &:hover
          background-color: rgba(0,0,0,0.1)
        
    &-header
      @extend .navbar__item
      padding-right: 45px
      
      &:after
        content: 'keyboard_arrow_left'
        font-family: 'Material Icons'
        font-size: 1.5rem
        position: absolute
        right: 15px
        top: calc(50% - 16px)
        color: inherit
        transition: transform 0.3s cubic-bezier(0, 0, .2, 1)
        transform: rotate(-90deg)