.navbar
  background-color: $theme.primary
  display: flex
  flex-wrap: wrap
  height: $navbar-height
  position: relative
  width: 100%
  @extend .z-depth-1
  
  ul
    list-style: none
    
  li
    height: 100%

  &--fixed
    position: fixed
    top: 0
    left: 0
    z-index: 4
    
  &__toolbar
    display: flex
    flex: 1 1 auto
    padding: 14px
    align-items: center
    
  &__sub
    flex: 1 0 100%
    padding: 24px 0 24px 72px
    
  &__side-icon
    display: inline-flex
    align-items: center
    margin: 0 14px 0 0
    
    a
      color: inherit
      display: flex
      align-items: center
      flex: 1
      font-size: 1rem
      text-decoration: none
      
      i
        font-size: 24px
  
  &__logo
    color: #fff
    font-size: 3rem
    flex: 1;
    text-decoration: none
    padding: 0 2rem
    display: flex
    align-items: center
    
  > .list:not(.list--group)
    display: flex
    
    > .list__row
      margin: 0
      
      .list--group__container
        height: $navbar-height
        position: relative
        
      .list--group__container > li,
      > li
        display: flex
        align-items: center
        position: relative
        height: $navbar-height
        
        > .list__tile
          justify-content: center
          height: 100%
          
          .list__tile__action
            .icon
              color: #fff
          
          .list__tile__avatar
            color: #fff
            flex: initial
          
          .list__tile__title
            color: #fff
            
          .list__tile__sub-title
            color: darken(#fff, 10%)
            
          .list__tile__content
            overflow: initial
            padding: 0 8px
    
  > .list
    .list--group
      background: #fff
      position: absolute
      top: 100%
      left: 0
      width: 100%
      z-index: 3
      @extend .z-depth-1
      
      .list__row
        &:first-child
          margin: 0
          
      .list__tile
        color: initial
        padding-left: 16px
        height: 100%
    
  &__title
    color: #fff
    font-size: $headings.h6.size
    flex: 1;
    padding: 0 2rem