.navbar
  background-color: $theme.primary
  min-height: $navbar-min-height
  display: flex
  flex-wrap: wrap
  position: relative
  width: 100%
  @extend .z-depth-1
  
  &--fixed
    position: fixed
    top: 0
    left: 0
    
  &__side-icon
    display: inline-flex
    align-items: center
    margin: 0 1rem
    
    a
      color: #FFFFFF
      display: flex
      align-items: center
      flex: 1
      font-size: 1rem
      text-decoration: none
      
      i
        font-size: 3rem
  
  &__logo
    color: #fff
    font-size: 3rem
    flex: 1;
    text-decoration: none
    padding: 0 2rem
    display: flex
    align-items: center
    min-height: $navbar-min-height
  
  &__items
    list-style-type: none
    padding: 0
    
    > li
      float: left
      
    a
      color: #fff
      
  &__item
    align-items: center
    color: #fff
    display: inline-flex
    padding: $navbar-item-padding
    text-decoration: none
    transition: all 0.3s ease-out
    min-height: $navbar-min-height
    
    i
      font-size: 2rem
      line-height: $navbar-min-height
    
    &:hover
      background: rgba(0,0,0,0.1)