@import '../bootstrap'
@import '../theme'

/* Themes */
v-paper($material)
  background-color: $material.cards

theme(v-paper, "v-paper")

.v-paper
  border-radius: $paper-border-radius
  transition: $primary-transition

  &--angled
    //

  &--tile
    border-radius: 0
