@import '../bootstrap'
@import '../theme'

v-radio($material)
  &--is-disabled
    label
      color: $material.text.disabled

    .v-icon
      // needed for helper override
      color: $material.buttons.disabled !important

theme(v-radio, "v-radio")

.v-radio
  align-items: center
  display: flex
  height: auto
  margin-right: 16px
  outline: none

  &--is-disabled
    pointer-events: none
