@import '../bootstrap'
@import '../theme'

.v-radio
  align-items: center
  display: flex
  height: auto
  margin-right: 16px
  outline: none

  // .input-group__details:before, .input-group__details:after
  //   display: none

  // .input-group
  //   padding: 0

  // &--column
  //   .input-group__input
  //     display: block

  // &--row
  //   .input-group__input
  //     flex-direction: row

  // &.input-group--error
  //   .radio
  //     label,
  //     .icon--selection-control
  //       color: inherit
