@import '../bootstrap'

.v-radio
  align-items: center
  display: flex
  height: auto
  margin-right: 16px
  outline: none

  &--is-disabled
    pointer-events: none

    label
      color: var(--vuetify-text-disabled)

    .v-icon
      // needed for helper override
      color: var(--vuetify-btn-disabled-color) !important
