@import '../bootstrap'
@import '../theme'

.v-input--radio-group
  .v-radio
    margin-bottom: 8px

  &__input
    display: flex
    width: 100%

    & > .v-label
      padding-bottom: 8px

  &--row
    .v-input--radio-group__input
      flex-direction: row
      flex-wrap: wrap

  &--column
    .v-input--radio-group__input
      flex-direction: column
