.input-group--selection-controls
  &.input-group--tab-focused
    .input-group--selection-controls__ripple
      &:before
        transform: translate3d(-50%, -50%, 0) scale(1)
        opacity: $ripple-animation-visible-opacity