@import '../bootstrap'
@import '../theme'

/** Theme */
radio($material)
  label
    color: $material.text.primary

  color: $material.selection-controls.active

  .icon, &:not(.input-group--active) .input-group__input
    color: $material.text.secondary

  &.input-group--active
    .icon
      color: inherit

  &.input-group--disabled
    .input-group__input
      color: $material.text.disabled

      .icon
        color: inherit

theme(radio, "radio")

.input-group--selection-controls
  &.input-group--tab-focused
    .input-group--selection-controls__ripple
      &:before
        transform: translate3d(-50%, -50%, 0) scale(1)
        opacity: $ripple-animation-visible-opacity