@import '../bootstrap'
@import '../theme'

radiogroup($material)
  .input-group--selection-controls
    //

theme(radiogroup, "radio-group")

.v-input--radio-group
  .v-radio
    margin-bottom: 8px

  &__input
    display: flex
    width: 100%

  &--row
    .v-input--radio-group__input
      flex-direction: row
      flex-wrap: wrap

  &--column
    .v-input--radio-group__input
      flex-direction: column
