@import '../bootstrap'
@import '../theme'

radiogroup($material)
  .input-group--selection-controls
    //

theme(radiogroup, "radio-group")

.radio-group
  .input-group__details:before, .input-group__details:after
    display: none

  .input-group
    padding: 0

  &--column
    .input-group__input
      display: block

  &--row
    .input-group__input
      flex-direction: row
