@import '../bootstrap'

/** Input Group */
.v-input--range-slider
  &.v-input--slider.v-input--is-disabled
    .v-slider.v-slider
      .v-slider__thumb
        background: var(--vuetify-selection-controls-thumb-disabled-color)
        border-color: transparent

  &.v-input--is-disabled
    .v-slider__track-fill
      display: none
