@import '../bootstrap'
@import '../theme'

/* Theme */
v-range-slider($material)
  &.v-input--slider.v-input--is-disabled
    .v-slider.v-slider
      .v-slider__thumb
        background: $material.selection-controls.thumb.disabled

theme(v-range-slider, "v-input--range-slider")

/** Input Group */
.v-input--range-slider
  &.v-input--is-disabled
    .v-slider__track-fill
      display: none

    &.v-input--slider
      .v-slider.v-slider
        .v-slider__thumb
          border-color: transparent
