@import '../bootstrap'

.v-responsive
  position: relative
  overflow: hidden
  flex: 1 0 auto
  display: flex

  &__content
    flex: 1 0 0px

  &__sizer
    transition: padding-bottom 0.2s $transition.swing
    flex: 0 0 0px
