.ripple    
  &__container
    position: absolute
    width: calc(100% + 1px)
    height: 100%
    left: 0
    overflow: hidden
    z-index: 0
    color: $ripple-container-color
    pointer-events: none
          
  &__animation
    position: absolute
    top: 0
    left: 0
    border-radius: 50%
    background: $ripple-animation-background
    opacity: 0
    transition: $ripple-animation-transition
    pointer-events: none
    overflow: hidden
    will-change: opacity
      
    &--enter
      transition: none
      
    &--visible
      opacity: $ripple-animation-visible-opacity