.input-group--select
  .input-group--select__autocomplete
    display: block
    opacity: 0
    height: 0

  .input-group__append-icon
    transition: .3s $transition.linear-out-slow-in

  &.input-group--focused
    .input-group--select__autocomplete
      flex: 1 0 100%
      opacity: 1
      height: 30px

    .input-group__append-icon
      transform: rotate(-180deg)

  .input-group__input, input
    cursor: pointer

  &.input-group--disabled
    cursor: not-allowed
    pointer-events: none

.input-group--select
  .input-group__selections
    display: flex
    flex-wrap: wrap
    width: 100%
    position: relative

    > div
      display: flex
      flex-wrap: wrap
      flex: 1

    &__comma
      display: inline-block
      font-size: 16px
      height: 30px
      padding-top: 4px
      padding-right: 4px

.input-group--select
  .menu
    display: inline

  .fade-transition-leave-active
    position: absolute
    left: 0


.input-group
  &--overflow, &--editable, &--segmented
    .input-group__input
      transition: .3s $transition.swing

    .input-group__input:hover
      background: #fff

    &.input-group--focused
      .input-group__input
        background: #fff
        elevation(8)
    
    label
      left: 16px !important

    .input-group__details      
      &:after
        display: none

    .input-group__input
      padding: 0 16px

      &:before
        content: ''
        position: absolute
        left: 0
        width: 100%
        height: 1px
        top: 0
    
