.sidebar
  background-color: $theme.secondary
  overflow-y: auto
  padding: 0 0 100px
  transition: transform .3s cubic-bezier(0,0,.2,1)
  width: $sidebar-width
  z-index: 3
  @extend .z-depth-2

  ul
    list-style-type: none
    width: 100%
    padding: 0
    
  li.disabled
    opacity: 0.4
    
  &--right
    order: +1
  
  &--fixed
    top: 0
    left: 0
    position: fixed
    z-index: 5
    
    &-right
      right: 0
      left: initial
    
  &--drawer
    flex-basis: 0
    transform: translateX(-($sidebar-width + 25))
    
  &--drawer--right
    transform: translateX($sidebar-width + 25)
    
  &--open
    transform: translateX(0) !important
    width: $sidebar-width
    
  &--close
    transform: translateX(-($sidebar-width + 25))
    flex-basis: 0 !important
    
    &.sidebar--fixed-right
      transform: translateX($sidebar-width + 25)
    
  &--mobile
    @media screen and (max-width: $grid-breakpoints.sm)
      transform: translateX(-($sidebar-width + 25))
      flex-basis: 0 !important
      
      &.sidebar--fixed-right
        transform: translateX($sidebar-width + 25)
    
  .list
    transition: $primary-transition
    
    li
      margin: 0
    
  .list__item
    color: $sidebar-item-color
    display: flex
    align-items: center
    text-decoration: none
    transition: $primary-transition
    font-weight: 300
    height: $sidebar-item-height
    position: relative
    
    .list__item__avatar, .list__item__action, .icon
      color: $sidebar-item-color
      
    .list__item__action
      justify-content: center
      
    .list__item__title
      font-weight: 300
  
    &--active
      background-color: $sidebar-item-active-background-color
      color: $sidebar-item-active-color
      
    &--disabled
      opacity: .4
      pointer-events: none
    
    &:hover:not(&--active)
      background-color: $sidebar-item-hover-background-color
      color: $sidebar-item-active-color
      
  .list--group
    .list__item--active
      background-color: $sidebar-group-header-active-sidebar-item-active-background-color !important