.sidebar
  background-color: $theme.secondary
  overflow-y: auto
  padding: 0 0 100px
  transition: transform .3s cubic-bezier(0,0,.2,1)
  width: $sidebar-width
  z-index: 3
  @extend .z-depth-2
    
  li.disabled
    opacity: 0.4
    
  &--right
    order: +1
  
  &--fixed
    top: 0
    left: 0
    position: fixed
    z-index: 5
    
    &-right
      right: 0
      left: initial
    
  &--drawer
    flex-basis: 0
    transform: translateX(-($sidebar-width + 25))
    
  &--drawer--right
    transform: translateX($sidebar-width + 25)
    
  &--open
    transform: translateX(0) !important
    width: $sidebar-width
    
  &--close
    transform: translateX(-($sidebar-width + 25))
    
    &.sidebar--fixed-right
      transform: translateX($sidebar-width + 25)
    
  &--mobile
    @media screen and (max-width: $grid-breakpoints.lg)
      transform: translateX(-($sidebar-width + 25))
      
      &.sidebar--fixed-right
        transform: translateX($sidebar-width + 25)
    
  .list__tile
    color: $sidebar-item-color
    transition: $primary-transition
    position: relative
    
    .list__tile__avatar, .list__tile__action, .icon
      color: $sidebar-item-color
      
    &--disabled
      opacity: .4
      pointer-events: none
    
    &:hover:not(&--active)
      background-color: $sidebar-item-hover-background-color
      color: $sidebar-item-active-color
      
    &:after
      background: $material-twelve-percent-light
      
  .list--group
    > .list__tile--active
      color: $sidebar-item-color

    &:after
      background: $material-twelve-percent-light