@import '../bootstrap'

.v-slide-group
  contain: content
  display: flex
  flex-wrap: nowrap

  &__append,
  &__prepend
    align-items: center
    display: flex
    flex: 0 1 auto

  &__content
    display: block
    flex: 1 1 auto
    overflow: hidden

  &__container
    display: flex
    flex: 1 1 auto
    // padding: 16px
    position: relative
    transition: transform .6s $transition.swing

    > *
      flex: 1 0 100%
      width: 100%
