.slider
  height: 500px
  width: 100%
  background: $shades.black
  position: relative
  @extend .z-depth-1
  
  &__item
    height: 100%
    width: 100%
    background: #ccc
    position: relative
    transition: .6s ease-out
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    display: none
    justify-content: flex-start
    align-items: flex-start
    padding: calc(5% + 2rem)
    color: #fff
    z-index: 1
    
    h1
      color: $shades.white
      font-weight: 100
      font-size: 5rem
      
    &--active
      display: block
      left: 0
      transform: translate3d(0, 0, 0)
      
    &--left
      display: block
      position: absolute
      top: 0
      transform: translate3d(-100%, 0, 0)
    
    &--right
      display: block
      position: absolute
      top: 0
      transform: translate3d(100%, 0, 0)
      
    &--next&--left
      transform: translate3d(100%, 0, 0) !important
      
    &--next&--right
      transform: translate3d(-100%, 0, 0) !important
      
  &__left
    position: absolute
    top: calc(50% - 50px)
    z-index: 3
    left: 0
    
    .btn
      color: $shades.white
      margin: 0 !important
      
      i
        font-size: 4rem
        
      &:hover
        background: none
      
  &__right
    @extend .slider__left
    left: initial
    right: 0
  
  &__controls
    background: rgba(0, 0, 0, .5)
    align-items: center
    bottom: 0
    display: flex
    justify-content: center
    left: 0
    position: absolute
    height: 50px
    list-style-type: none
    width: 100%
    z-index: 4
    
    &__item
      color: $shades.white
      width: 10px
      margin: 0 1rem !important
      
      i
        opacity: .5
        transition: $primary-transition
      
      &--active
        i
          opacity: 1
          vertical-align: middle
          font-size: 2rem !important
      
      &:hover
        background: none
        
        i
          opacity: .8
