.slider
  height: 500px
  width: 100%
  background: #000000
  position: relative
  overflow: hidden
  @extend .z-depth-1
  
  &__slides
    margin: 0
    padding: 0
    display: flex
    height: 100%
    position: relative
    left: -100%
    transform: translateX(100%)
    
    &--is-reversing
      transform: translateX(-100%)
    
    &--is-set
      transform: none
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1)
  
  &__item
    display: flex
    align-items: center
    justify-content: center
    flex: 1 0 100%
    order: 2
    height: 100%
    background-size: cover
    background-position: center center
  
  &__left
    position: absolute
    top: calc(50% - 50px)
    z-index: 10
    left: 0
    
    .btn
      color: #FFFFFF
      margin: 0 !important
      
      i
        font-size: 4rem
        
      &:hover
        background: none
      
  &__right
    @extend .slider__left
    left: initial
    right: 0
  
  &__controls
    background: rgba(0, 0, 0, .5)
    align-items: center
    bottom: 0
    display: flex
    justify-content: center
    left: 0
    position: absolute
    height: 50px
    list-style-type: none
    width: 100%
    z-index: 4
    
    &__item
      color: #FFFFFF
      width: 10px
      margin: 0 1rem !important
      
      i
        opacity: .5
        transition: $primary-transition
      
      &--active
        i
          opacity: 1
          vertical-align: middle
          font-size: 2rem !important
      
      &:hover
        background: none
        
        i
          opacity: .8
