@import '../bootstrap'
@import '../theme'

small-dialog($material)
  &__content
    background: $material.cards

  &__actions
    background: $material.cards

  a
    color: rgba($material.fg-color, $material.primary-text-percent)

theme(small-dialog, "small-dialog")

.small-dialog
  display: block
  height: 100%

  &__content
    padding: 0 24px

  &__actions
    text-align: right

  a
    display: flex
    align-items: center

    height: 100%
    text-decoration: none

    > *
      width: 100%

  .menu__activator
    height: 100%
