@import '../bootstrap'
@import '../theme'

v-small-dialog($material)
  a
    color: rgba($material.fg-color, $material.primary-text-percent)

theme(v-small-dialog, "v-small-dialog")
theme(@($material) { background: $material.cards }, "v-small-dialog__content")
theme(@($material) { background: $material.cards }, "v-small-dialog__actions")

.v-small-dialog
  display: block
  width: 100%
  height: 100%

  &__content
    padding: 0 24px

  &__actions
    text-align: right
    white-space: pre

  a
    display: flex
    align-items: center

    height: 100%
    text-decoration: none

    > *
      width: 100%

  .v-menu__activator
    height: 100%
