.small-dialog
  display: block
  height: 100%

  &__content
    padding: 0 24px
    
  a
    display: flex
    align-items: center
    color: rgba(#000, .87)
    height: 100%
    
  .menu__activator
    height: 100%