.stepper
  overflow: hidden
  position: relative
  elevation(2)

.stepper
  .divider
    align-self: center
    margin: 0 -16px

.stepper
  &__header
    align-items: stretch
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    elevation(2)


.stepper
  &__step__step
    align-items: center
    background: rgba($material-theme.fg-color, $material-theme.disabledORhints-text-percent)
    border-radius: 50%
    color: $material-theme.bg-color
    display: flex
    font-size: 12px
    justify-content: center
    height: 24px
    margin-right: 8px
    width: 24px
    transition: .3s $transition.fast-in-fast-out

    .icon
      font-size: 18px
      color: rgba($material-theme.bg-color)

.stepper
  &__step
    align-items: center
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding: 24px
    position: relative

    &--active
      .stepper__label
        text-shadow: 0px 0px 0px black
        transition: .3s $transition.ease-in-out

      .stepper__step__step
        background: $theme.primary
        // font-size: 12px

    &--editable
      cursor: pointer

      &:hover
        background: rgba($material-theme.fg-color, .06)
        text-shadow: 0px 0px 0px black

    &--inactive
      .stepper__label
        color: rgba($material-theme.fg-color, $material-theme.disabledORhints-text-percent)

        small
          color: rgba($material-theme.fg-color, $material-theme.disabledORhints-text-percent)

      .stepper__step__step:not(&.stepper__step--error)
        color: $material-theme.bg-color
        background: rgba($material-theme.fg-color, $material-theme.disabledORhints-text-percent)

        &:hover
          background: rgba(#000, .50)

      &.stepper__step--editable
        &:hover
          .stepper__step__step
            background: rgba(#000, .5)

    &--error
      .stepper__step__step
        background: transparent
        color: $theme.error

        .icon
          font-size: 24px
          color: $theme.error

      .stepper__label
        color: $theme.error
        text-shadow: none
        font-weight: 500

        small
          color: $theme.error

    &--complete
      .stepper__label
        color: rgba($material-theme.fg-color, $material-theme.primary-text-percent)

      .stepper__step__step
        background: $theme.primary

.stepper
  &__label
    align-items: flex-start
    display: flex
    flex-direction: column
    text-align: left
    color: rgba($material-theme.fg-color, $material-theme.disabledORhints-text-percent)

    small
      font-size: 12px
      font-weight: 300
      color: rgba($material-theme.fg-color, $material-theme.secondary-text-percent)
      text-shadow: none

.stepper
  &__wrapper
    overflow: hidden
    transform: translateZ(0) // fix for #512
    transition: .4s $transition.ease-in-out

.stepper
  &__content
    top: initial
    bottom: 0
    padding: 16px
    overflow: hidden
    transition: .4s $transition.ease-in-out
    flex: 1
    width: 100%

    .btn
      margin-left: 0

.stepper
  &--non-linear
    .stepper__label:not(& .stepper__step--complete)
      color: rgba($material-theme.fg-color, $material-theme.secondary-text-percent)

  &--vertical
    padding-bottom: 36px

    .stepper__content
      margin: -8px 0 -16px 36px
      padding: 16px 60px 16px 23px
      width: auto

    .stepper__content:not(:last-child)
      border-left: 1px solid $material-twelve-percent-dark

    .stepper__step
      padding: 24px 24px 16px

    .stepper__step__step
      margin-right: 12px

  &--alt-labels
    .divider
      margin: 35px -67px 0
      align-self: flex-start

    .stepper__step
      flex-direction: column
      justify-content: flex-start
      align-items: center
      flex-basis: 175px

      small
        align-self: center

    .stepper__step__step
      margin-right: 0
      margin-bottom: 12px

@media $display-breakpoints.sm-and-down
  .stepper:not(.stepper--vertical)
    .stepper__label
      display: none

    .stepper__step__step
      margin-right: 0

