@import '../bootstrap'
@import '../theme'

subheader($material)
  color: $material.text.primary

theme(subheader, "subheader")

.subheader
  height: $list-item-single-height
  display: flex
  align-items: center
  font-size: $subheader-height-font-size
  font-weight: $subheader-font-weight
  padding: 0 $list-right-padding 0 $list-left-padding

  &--inset
    margin-left: $subheader-inset-margin