@import '../bootstrap'

.v-subheader
  align-items: center
  display: flex
  height: $list-item-single-height
  font-size: $headings.body-2.size
  font-weight: $headings.body-2.weight
  color: var(--vuetify-text-secondary)
  padding: 0 $list-right-padding 0 $list-left-padding

  &--inset
    margin-left: $subheader-inset-margin
