@import '../bootstrap'
@import '../theme'

/* Theme */
system-bar($material)
  background-color: $material.status-bar.regular
  color: $material.text.secondary

  .icon
    color: $material.text.secondary

  &--lights-out
    background-color: $material.status-bar.lights-out !important

theme(system-bar, "system-bar")

.system-bar
  align-items: center
  display: flex
  font-size: $headings.body-2.size
  font-weight: $headings.body-2.weight
  left: 0
  padding: 0 8px
  position: fixed
  top: 0
  width: 100%
  z-index: 2

  .icon
    font-size: $headings.subheading.size

  &--status
    .icon
      margin-right: 4px

  &--window
    .icon
      font-size: $headings.h6.size
      margin-right: 8px

  &--status
    + .navigation-drawer
      margin-top: 24px
      max-height: "calc(100vh - %s)" % 24px

  &--window
    + .navigation-drawer
      margin-top: 32px
      max-height: "calc(100vh - %s)" % 32px