.system-bar
  align-items: center
  display: flex
  padding: 0 8px
  font-size: $headings.body-2.size
  font-weight: $headings.body-2.weight
  
  .icon
    font-size: $headings.subheading.size

  &--status
    height: 24px
    
    .icon
      margin-right: 4px
  
  &--window
    height: 32px
  
    .icon
      font-size: $headings.h6.size
      margin-right: 8px
