.tabs
  overflow: hidden
  position: relative
  width: 100%
  
  &--grow
    .tabs__li
      flex: 1

  &--fixed    
    .tabs__li
      min-width: 160px
      max-width: 264px
      flex: 0 1 160px

      @media $display-breakpoints.xs-only
        min-width: 72px

  &--centered
    .tabs__container
      justify-content: center

  &--icons
    .tabs__bar
      height: 72px
      
    .tabs__item
      flex-direction: column

  &--scroll-bars
    &.tabs--mobile
      .tabs__bar
        padding: 0 35px

        .icon--left, .icon--right
          display: flex

        .tabs__container
          width: calc(100% - 70px)

  &:not(.tabs--centered)
    .tabs__bar
      padding-left: 62px

  &__bar
    background-color: $theme.primary
    width: 100%
    position: relative
    height: 48px
    
    @media $display-breakpoints.sm-and-down
      padding-left: 0

    .icon--left, .icon--right
      position: absolute
      top: 0
      width: 35px
      display: none
      align-items: center
      height: 100%
      cursor: pointer
      user-select: none

    .icon--left
      left: 0

    .icon--right
      right: 0

  &__container
    overflow-x: auto
    overflow-y: hidden
    display: flex
    height: 100%
    width: 100%
    position: absolute
    padding: 0
    top: 0
    align-items: center
    list-style: none

    > li:not(.tabs__slider)
      height: 100%

    &-left
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 35px
      display: flex
      align-items: center

  &__item
    align-items: center
    display: flex
    flex-shrink: 0
    justify-content: center
    height: 100%
    padding: 0 12px
    position: relative
    text-align: center
    text-decoration: none
    text-transform: uppercase
    text-overflow: ellipsis
    transition: $primary-transition
    white-space: nowrap

    .icon
      color: inherit
      margin: 0 0 5px

    &--disabled
      pointer-events: none

  &__items
    position: relative
    border-width: 0 1px 1px 1px
    border-style: solid
    border-color: rgba($material-theme.fg-color, .1)
    overflow: hidden

  &__content
    transition: $primary-transition
    width: 100%

  &__slider
    position: absolute
    bottom: 0
    height: 2px
    background: $theme.accent
    transition: $primary-transition
