.tabs
  margin-bottom: $spacers.five.y
  overflow: hidden
    
  &--grow
    .tabs__tab
      flex-grow: 1
      
  &--centered
    .tabs__tabs
      justify-content: center
  
  > .card
    background: inherit
    box-shadow: none
  
  &__tab
    color: $grey.lighten-2
    text-decoration: none
    padding: 1rem
    text-align: center
    text-transform: uppercase
    transition: $primary-transition
    display: flex
    flex-shrink: 0
    position: relative
    
    &--active
      color: #fff
      
      &:after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 5px
        background: $theme.accent
        
  &__tabs
    display: flex
    overflow-x: auto
    overflow-y: hidden
    background: $theme.primary
    
  &__items
    overflow: hidden
    position: relative
    
  &__item
    transition: .2s ease-out
  
    > .card
      box-shadow: none