.table
  &__overflow
    width: 100%
    overflow: auto
    
table
  border-radius: 2px
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  max-width: 100%
  @extend .z-depth-1
  
  td, th
    padding: 8px
    text-align: left
    
  thead
    
    th
      color: $grey.darken-1
      font-weight: 600
      font-size: .95rem
      
  tbody
    
    tr
      border-top: 1px solid $grey.lighten-2
      transition: background $primary-transition
      will-change: background
      
      &:hover
        background: $grey.lighten-3
        
    td
      font-weight: 500
    
  .input-group--selection-controls
    margin: 0
    
    &__details
      display: none
      
    &.checkbox
      .icon
        left: 50%
        transform: translateX(-50%)

      .input-group--selection-controls__ripple
        left: 50%
        transform: translate3d(-50%, -50%, 0)
