.table
  &__overflow
    width: 100%
    overflow-x: auto
    overflow-y: hidden
    
table
  border-radius: 2px
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  max-width: 100%

  td, th
    text-align: left
    
  tr
    border-bottom: 1px solid $grey.lighten-2
  
  thead, tbody
    td, th
      &:not(:nth-child(1)), &:first-child
        padding: 0 24px

  thead
    tr
      height: 56px

    th
      color: rgba(#000, .54)
      font-weight: 600
      font-size: 12px
      transition: .3s $transition.swing
      white-space: nowrap
      user-select: none
      
      &.sortable
        pointer-events: auto
      
      > div
        width: 100%
      
  tbody
    tr
      transition: background $primary-transition
      will-change: background
        
      &[active]
        background: #f5f5f5
      
      &:hover
        background: #eeeeee
        
    td, th
      height: 48px

    td
      font-weight: 500
      color: rgba(#000, .87)
      font-size: 13px
    
  .input-group--selection-controls
    margin: 0
    
    .input-group__details
      display: none
      
    &.checkbox
      .icon
        left: 50%
        transform: translateX(-50%)

      .input-group--selection-controls__ripple
        left: 50%
        transform: translate3d(-50%, -50%, 0)
  tfoot
    tr
      height: 56px