.table
  &__overflow
    width: 100%
    overflow-x: auto
    overflow-y: hidden

table.table
  border-radius: 2px
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  max-width: 100%

  tr:not(:last-child)
    border-bottom: 1px solid rgba($material-theme.fg-color, $material-theme.divider-percent)

  thead, tbody
    td, th
      &:not(:nth-child(1)), &:first-child
        padding: 0 24px

  thead
    tr
      height: 56px

    th
      color: rgba($material-theme.text-color, $material-theme.secondary-text-percent)
      font-weight: 500
      font-size: 12px
      transition: .3s $transition.swing
      white-space: nowrap
      user-select: none

      &.sortable
        pointer-events: auto

      > div
        width: 100%

    &:last-of-type
      border-bottom: 1px solid rgba($material-theme.fg-color, $material-theme.divider-percent)

  tbody
    tr
      transition: background $primary-transition
      will-change: background

      &[active]
        background: $grey.lighten-4

      &:hover
        background: $grey.lighten-3

    td, th
      height: 48px

    td
      font-weight: 400
      font-size: 13px

  .input-group--selection-controls
    margin: 0

    .input-group__details
      display: none

    &.checkbox
      .icon
        left: 50%
        transform: translateX(-50%)

      .input-group--selection-controls__ripple
        left: 50%
        transform: translate3d(-50%, -50%, 0)
  tfoot
    tr:not(:last-child)
      height: 48px

      &:not(:only-child)
        td
          padding: 0 24px

    tr
      height: 56px
      border-top: 1px solid rgba($material-theme.fg-color, $material-theme.divider-percent)
