@import '../bootstrap'
@import '../theme'

v-text-field($material)
  &:not(.v-input--has-state)
    .v-input__slot:before
      background-color: $material.input-bottom-line

    &:hover
      .v-input__slot:before
        background-color: $material.text.primary

  &.v-input--is-disabled
    .v-input__slot:before
      background-color: transparent
      background-image: linear-gradient(
        to right,
        $material.text.disabled 0,
        $material.text.disabled 33%,
        transparent 0
      )

  &.v-text-field--solo
    background: $material.cards

  &.v-text-field--solo-inverted
    background: rgba($material.inputs.solo-inverted)

    &.v-input--is-focused
      background: rgba($material.inputs.solo-inverted-focused)

  &.v-text-field--box
    background: $material.buttons.focused-alt

  &__prefix,
  &__suffix
    color: $material.text.secondary

theme(v-text-field, "v-text-field")

.v-text-field
  &__details
    display: flex
    flex: 1 0 auto
    justify-content: space-between
    max-width: 100%

  &__prefix,
  &__suffix
    height: 32px
    line-height: 18px

  &__prefix
    padding: 8px 4px 8px 0

  &__suffix
    padding: 8px 0 8px 4px

  &__slot
    display: flex
    flex: 1 1 auto
    position: relative

  &--box
    border-radius: 4px
    position: relative

    .v-input__control
      position: static

      .v-input__slot:before
        border-radius: 4px
        height: 2px

  &--solo
    padding: 8px 16px
    margin-bottom: 12px

    &:not(.v-text-field--box)
      elevation(2)

      .v-input__slot
        &:before,
        &:after
          display: none

    .v-input__icon--prepend
      margin-left: 0

    .v-input__icon--appendOuter
      margin-right: 0

    .v-input__slot
      margin-bottom: 0
      position: static

    .v-text-field__details
      bottom: -22px
      position: absolute
      width: 100%

  input
    max-height: 32px

  .v-counter
    white-space: nowrap

  .v-label
    line-height: normal // needed because of hidden overflow clips y axis of text
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
    top: calc(50% - 11px)
    transform-origin: top left
    white-space: nowrap

    &--active
      transform: translateY(-19px) scale(0.75)

  &.v-input--is-focused
    .v-input__slot:after
      transform: scaleX(1)

  &.v-input--has-state
    .v-input__slot:before
      background-color: currentColor

  .v-input__append-inner
    display: inline-flex
    padding: 4px 0 4px 8px
    margin-left: auto

  .v-input__slot
    &:before,
    &:after
      bottom: -1px
      content: ''
      left: 0
      position: absolute
      transition: $primary-transition
      width: 100%

    &:before
      background-color: transparent
      background-position: bottom
      background-size: 3px 1px
      background-repeat: repeat-x
      height: 1px

    &:after
      background-color: currentColor
      height: 2px
      transform: scaleX(0)
