@import '../bootstrap'
@import '../theme'

v-timeline($material)
  &:before
    background: $material.dividers

theme(v-timeline, "v-timeline")

.v-timeline
  padding-bottom: 24px
  position: relative

  &:before
    bottom: 0
    content: ''
    height: 100%
    left: calc(50% - 1px)
    position: absolute
    top: 0
    width: 2px

  .v-timeline-item
    display: flex
    flex-direction: row-reverse
    margin-bottom: 24px

    &:nth-child(odd):not(.v-timeline-item--right), &--left
      flex-direction: row

    &__btn
      align-self: center
      left: calc(50% - 28px)

    &__body
      height: 100%
      flex: 1 1 100%
      max-width: calc(50% - 56px)

    &__opposite
      flex: 1 1 auto
      align-self: center
      max-width: calc(50% - 56px)

    &:nth-child(odd):not(.v-timeline-item--right), &--left
      .v-timeline-item__opposite
        margin-left: 112px
        text-align: left

    &:nth-child(even):not(.v-timeline-item--left), &--right
      .v-timeline-item__opposite
        margin-right: 112px
        text-align: right


  @media $display-breakpoints.sm-and-down
    &:before
      left: 27px // -1 for line width

    .v-timeline-item
      &:nth-child(odd):not(.v-timeline-item--right), &--left
        flex-direction: row-reverse

      .v-btn
        left: 0
        transition: color .3s $transition.swing

      &__body
        max-width: calc(100% - 84px)

      &__opposite
        display: none
