@import '../bootstrap'
@import '../theme'

v-timeline($material)
  &:before
    background: $material.dividers

  .v-timeline-item
    &__dot
      background: $material.cards

    &__body
      &:before
        border-color: transparent $material.dividers transparent transparent

      &:after
        border-color: transparent $material.cards transparent transparent

theme(v-timeline, "v-timeline")

.v-timeline
  padding-top: 24px
  position: relative

  &:before
    bottom: 0
    content: ''
    height: 100%
    left: calc(50% - 1px)
    position: absolute
    top: 0
    width: 2px

  .v-timeline-item
    display: flex
    flex-direction: row-reverse
    padding-bottom: 24px

    &:nth-child(odd):not(.v-timeline-item--right), &--left
      flex-direction: row

      .v-timeline-item__body:before, .v-timeline-item__body:after
        transform: rotate(180deg)
        right: -($timeline-wedge-size)

      .v-timeline-item__opposite
        margin-left: 72px
        text-align: left

    &:nth-child(even):not(.v-timeline-item--left), &--right
      .v-timeline-item__body:before, .v-timeline-item__body:after
        left: -($timeline-wedge-size)

      .v-timeline-item__opposite
        margin-right: 72px
        text-align: right

    &__dot
      elevation(1)

      position: absolute
      align-self: center
      border-radius: 50%
      width: 38px
      height: 38px
      left: calc(50% - 19px)

      &--small
        width: 24px
        height: 24px
        left: calc(50% - 12px)

        .v-timeline-item__inner-dot
          margin: 3px
          width: 18px
          height: 18px

    &__inner-dot
      margin: 4px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      width: 30px
      height: 30px

    &__body
      position: relative
      height: 100%
      flex: 1 1 100%
      max-width: calc(50% - 36px)

      &:before, &:after
        content: ''
        position: absolute
        border-style: solid
        border-width: $timeline-wedge-size $timeline-wedge-size $timeline-wedge-size 0
        top: 'calc(50% - %s)' % $timeline-wedge-size

      &:before
        top: 'calc(50% - %s + 2px)' % $timeline-wedge-size

    &__opposite
      flex: 1 1 auto
      align-self: center
      max-width: calc(50% - 36px)

  @media $display-breakpoints.sm-and-down
    &:before
      left: 18px // -1 for line width

    .v-timeline-item
      &:nth-child(odd):not(.v-timeline-item--right), &--left
        flex-direction: row-reverse

        .v-timeline-item__body
          &:before, &:after
            right: initial
            left: -($timeline-wedge-size)
            transform: none

      &__dot
        left: 0

      &__dot--small
        left: 7px // -1 for line width

      &__body
        max-width: calc(100% - 84px)

      &__opposite
        display: none
