.toast
  position: fixed
  z-index: 99999999999999
  
  &--right
    top: 5%
    right: 2%
  
  &--left
    top: 5%
    left: 2%
  
  &--top
    top: 5%
    left: 50%
  
  &--bottom
    bottom: 5%
    left: 50%
    
  &--snack
    bottom: 0
    left: 50%
    
    .toast__content
      margin-bottom: 0
      opacity: 1
      
      &--remove
        margin-top: 0
        transform: translate3d(0, 3rem, 0)
    
  &__content
    background: $theme.secondary
    border-radius: $button-radius
    color: #fff
    padding: 1rem 2rem
    margin: 1rem 0
    opacity: 0
    transform: translate3d(0, 3rem, 0)
    transition: $primary-transition
    @extend .z-depth-1
    
    &--active
      transform: translate3d(0, 0, 0)
      opacity: 1
      
    &--remove
      margin-top: -3rem
      opacity: 0