[data-tooltip]
  position: relative
  
  &:before
    background: $grey.darken-2
    border-radius: .2rem
    color: #FFFFFF
    content: attr(data-tooltip)
    font-size: 10px
    display: flex
    align-items: center
    opacity: 0
    height: 22px
    padding: 0 8px
    position: absolute
    pointer-events: none
    transition: $secondary-transition
    visibility: hidden
    width: auto
    white-space: pre
    z-index: 99
    elevation(2)

  &:hover
    &:before
      opacity: 1
      visibility: visible
    
  &[data-tooltip-location='bottom']
    &:before
      top: 100%
      left: 50%
      transform: translate(-50%, -14px) scale(0.1)
      transform-origin: center top
      
    &:hover
      &:before
        transform: translate(-50%, 14px)
      
  &[data-tooltip-location='top']
    &:before
      bottom: 100%
      left: 50%
      transform: translate(-50%, 14px) scale(0.1)
      transform-origin: center bottom
      
    &:hover
      &:before
        transform: translate(-50%, -14px)

  &[data-tooltip-location='left']
    &:before
      right: 100%
      transform: translate(14px, 0%) scale(0.1)
      transform-origin: center right
      
    &:hover
      &:before
        transform: translate(-14px, 0)
      
  &[data-tooltip-location='right']
    &:before
      left: 100%
      transform: translate(-14px, 0%) scale(0.1)
      transform-origin: center left
      
    &:hover
      &:before
        transform: translate(14px, 0)
    
  @media $display-breakpoints.sm-and-down
    &:before
      padding: 0 16px
      height: 32px
      
    &[data-tooltip-location='bottom']
      &:hover
        &:before
          transform: translate(-50%, 24px)
      
    &[data-tooltip-location='top']
      &:hover
        &:before
          transform: translate(-50%, -24px)
      
    &[data-tooltip-location='left']
      &:hover
        &:before
          transform: translate(-24px, 0%)
      
    &[data-tooltip-location='right']
      &:hover
        &:before
          transform: translate(24px, 0%)