@import '../bootstrap'
@import '../theme'

tooltip($material)
  &__content
    background: $material.tooltips.background
    color: $material.tooltips.text

theme(tooltip, "tooltip")

.tooltip
  position: relative

  &__content
    border-radius: 2px
    font-size: 12px
    display: inline-block
    padding: 5px 8px
    position: absolute
    text-transform: initial
    transition: .15s $transition.swing
    width: auto
    elevation(2)

    &[class*="-active"] {
      pointer-events: none
    }

  @media $display-breakpoints.sm-and-down
    .tooltip__content
      padding: 10px 16px
