.toolbar
  align-items: center
  background-color: $theme.primary
  display: flex
  flex-wrap: wrap
  height: $toolbar-height
  position: relative
  padding: $toolbar-padding-y $toolbar-padding-x
  width: 100%
  @extend .z-depth-1

  ul
    list-style: none

  li
    height: 100%

  i
    font-size: 24px

  .menu__activator
    height: 100%

  .btn:not(.toolbar__side-icon)
    margin: 0 6px

    &:first-child
      margin-left: -6px

    &:last-child
      margin-right: 0
      
  &__sub
    flex: 1 0 100%
    padding: 24px 0 24px 72px

  &__side-icon
    display: inline-flex
    align-items: center
    position: relative
    margin-left: 10px

  &__logo
    color: #fff
    font-size: 3rem
    flex: 1;
    text-decoration: none
    padding: 0
    display: flex
    align-items: center

  &__title
    color: #fff
    font-size: $headings.h6.size
    flex: 1;
    padding: 0 16px

    &:first-child
      padding-left: 2px

  &__items
    list-style-type: none
    padding: 0
    background-color: inherit
    display: flex
    align-items: center
    height: 100%

    > li
      display: flex
      align-items: center

  &__item
    align-items: center
    color: #fff
    display: flex
    padding: $toolbar-item-padding
    text-decoration: none
    transition: all 0.3s ease-out
    position: relative
    height: 100%

    i
      font-size: 2rem

    &:hover, &--active
      background: rgba(#000,0.1)

    &--disabled
      opacity: .5
      pointer-events: none

  &__group
    position: relative
    background-color: inherit
    color: #fff
    height: 100%

    .toolbar__items
      position: absolute
      top: 100%
      left: 0
      z-index: 3
      min-width: 100%
      background-color: $theme.secondary
      overflow: hidden
      transition: .3s cubic-bezier(0,0,.2,1)
      flex-wrap: wrap
      height: auto
      @extend .z-depth-1

      li
        width: 100%

      .toolbar__item
        padding: 1rem
        white-space: nowrap
        color: inherit
        font-weight: 500
        width: 100%

        &:hover
          background-color: rgba(#fff,.2)

    &-header
      @extend .toolbar__item
      padding-right: 45px

      &:after
        content: '\E314'
        font-family: 'Material Icons'
        font-size: 1.5rem
        position: absolute
        right: 15px
        top: calc(50% - 16px)
        color: inherit
        transition: transform 0.3s cubic-bezier(0, 0, .2, 1)
        transform: rotate(-90deg)
