@import '../bootstrap'
@import '../theme'

/* Theme */
v-toolbar($material)
  background-color: $material.app-bar
  color: $material.text.primary

theme(v-toolbar, "v-toolbar")

.v-toolbar
  bootable()
  elevation(4)

  display: block
  position: relative
  width: 100%
  will-change: padding-left

  .v-text-field--enclosed,
  .v-text-field--box
    margin: 0

    .v-text-field__details
      display: none

/** Children */
.v-toolbar
  .v-tabs
    width: 100%

  &__title
    font-size: $headings.h6.size
    font-weight: $headings.h6.weight
    letter-spacing: $headings.h6.letter-spacing
    margin-left: $grid-gutters.lg
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    &:not(:first-child)
      margin-left: 20px

  &__content, &__extension
    align-items: center
    display: flex

    > .v-list
      flex: 1 1 auto
      margin: 0 !important // come back to this
      max-height: 100%

    > .v-btn:not(.v-btn--icon)
      margin-left: $grid-gutters.sm
      margin-right: $grid-gutters.sm

    > .v-btn--icon,
    > .v-menu > .v-menu__activator > .v-btn,
    > .v-tooltip .v-btn
      margin-left: 6px
      margin-right: 6px

    > .v-btn:first-child
      margin-left: $grid-gutters.lg

    > .v-btn:last-child
      margin-right: $grid-gutters.lg

    > .v-btn--icon:first-child
      margin-left: 10px

    > .v-btn--icon:last-child
      margin-right: 10px

    > .v-menu:first-child,
    > .v-tooltip:first-child
      margin-left: $grid-gutters.sm

    > .v-menu:last-child,
    > .v-tooltip:last-child
      margin-right: $grid-gutters.sm

    > *:not(.v-btn):not(.v-menu):not(.v-tooltip):first-child:not(:only-child)
      margin-left: $grid-gutters.lg

    > *:not(.v-btn):not(.v-menu):not(.v-tooltip):last-child:not(:only-child)
      margin-right: $grid-gutters.lg

  &__items
    display: flex
    height: inherit
    max-width: 100%
    padding: 0

    .v-btn
      align-items: stretch

    .v-tooltip,
    .v-tooltip > span
      height: inherit

    .v-btn,
    .v-menu,
    .v-menu__activator
      height: inherit
      margin: 0

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
    v-toolbar-content(7px)

/** Types */
.v-toolbar
  .v-overflow-btn,
  .v-btn-toggle
    elevation(0)

  .v-overflow-btn
    margin: 0

    .v-input__control,
    .v-input__slot
      &:before
        display: none

  &--card
    border-radius: $card-border-radius $card-border-radius 0 0
    elevation(0)

  &--fixed
    position: fixed
    z-index: 2

  &--fixed, &--absolute
    top: 0
    left: 0

  &--absolute
    position: absolute
    z-index 2

  &--floating
    display: inline-flex
    margin: $grid-gutters.lg
    width: auto

  &--clipped
    z-index: 3

  &--prominent
    v-toolbar-content(15px)

  &--dense
    v-toolbar-content(7px)

v-toolbar-content(left)
  .v-toolbar__content,
  .v-toolbar__extension
    > *:first-child
      margin-left: left

    > *:last-child
      margin-right: left
