@import '../bootstrap'
@import '../theme'

/* Theme */
v-treeview($material)
  color: $material.text.primary

v-treeview($direction)
  margin-{$direction}: 0

theme(v-treeview, "v-treeview")

.v-treeview

  &-node
    margin-left: 24px

    &--active
      > .v-treeview-node__root
        background: rgba(0,0,0,0.15)

    &--click:not(&--leaf)
      > .v-treeview-node__root > .v-treeview-node__content > *
        cursor: pointer
        user-select: none

    &--leaf
      margin-left: 48px

    &__root
      display: flex
      align-items: center
      height: 32px

    &__content
      display: flex
      flex-grow: 1
      flex-shrink: 0
      align-items: center
      padding-left: 4px

      // TODO: this is temporary fix for d-flex * shenanigans
      .v-btn
        flex-grow: 0 !important
        flex-shrink: 1 !important

    &__label
      font-size: 1.2rem
      padding-left: 0.25rem

      .v-icon
        padding-right: 8px

    &__spacer
      width: 24px
      height: 24px

    &__checkbox
      user-select: none
      padding-left: 4px

    &__toggle
      user-select: none
      transform: rotate(-90deg)

      &--open
        transform: none

      &--loading
        animation: progress-circular-rotate 1s linear infinite

    &__children
      transition: all $treeview-transition
