@import '../bootstrap'
@import '../theme'

/* Theme */
v-treeview($material)
  color: $material.text.primary

v-treeview($direction)
  margin-{$direction}: 0

theme(v-treeview, "v-treeview")

.v-treeview

  &-node
    margin-left: 24px

    &--leaf
      margin-left: 48px

    &__root
      display: flex
      align-items: center
      height: 32px

      &--active
        background: rgba(0,0,0,0.15)

    &__content
      display: flex
      flex-grow: 1
      flex-shrink: 0
      align-items: center
      padding-left: 4px

      // TODO: this is temporary fix for d-flex * shenanigans
      .v-btn
        flex-grow: 0 !important
        flex-shrink: 1 !important

    &__label
      font-size: 1.2rem
      padding-left: 0.25rem

      .v-icon
        padding-right: 8px

    &__spacer
      width: 24px
      height: 24px

    &__checkbox
      user-select: none
      padding-left: 4px

    &__toggle
      user-select: none

      &--open
        transform: rotate(90deg)

      &--loading
        animation: rotation 1s infinite linear

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(359deg)
  }
}
