// Defaults
$file-input-chip-margin-inline-end: 4px !default;
$file-input-chips-margin-top: ('default': 1, 'comfortable': 2, 'compact': 1) !default;
$file-input-chips-margin-bottom: ('default': 3, 'comfortable': 1, 'compact': 1) !default;
