// Defaults
$file-input-chip-margin-inline-end: null !default;
$file-input-chips-margin-top: null !default;
$file-input-chips-margin-bottom: null !default;
$file-input-dragging-border-color: rgb(var(--v-theme-primary)) !default;
$file-input-dragging-opacity: 0.12 !default;
