// Defaults
$file-input-chip-margin-inline-end: null !default;
$file-input-chips-margin-top: null !default;
$file-input-chips-margin-bottom: null !default;
$file-input-details-padding-inline: 16px !default;
