@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-counter
    color: $counter-color
    flex: $counter-flex
    font-size: $counter-font-size
    transition-duration: $counter-transition-duration
