@import '../../styles/styles.sass';

$carousel-controls-bg: rgba(0, 0, 0, .3) !default;
$carousel-controls-size: 50px !default;
$carousel-dot-margin: 0 8px !default;
$carousel-dot-inactive-opacity: .5 !default;
$carousel-dot-active-opacity: 1 !default;
$carousel-dot-hover-opacity: .8 !default;
