@import '../../styles/styles.sass'

.v-carousel
  width: 100%
  position: relative
  overflow: hidden
  +elevation(2)

  &__controls
    background: rgba(0, 0, 0, .5)
    align-items: center
    bottom: 0
    display: flex
    justify-content: center
    left: 0
    position: absolute
    height: 50px
    list-style-type: none
    width: 100%
    z-index: 1

    > .v-item-group
      flex: 0 1 auto

    &__item
      margin: 0 8px !important

      .v-icon
        opacity: .5
        transition: $primary-transition

      &--active
        .v-icon
          opacity: 1
          vertical-align: middle

      &:hover
        background: none

        .v-icon
          opacity: .8

// Modifier
.v-carousel--show-arrows-on-hover
  .v-window__next,
  .v-window__prev
    transition: .2s transform map-get($transition, 'swing')

  .v-window__prev
    transform: translateX(-200%)

  .v-window__next
    transform: translateX(200%)

  &:hover
    .v-window__next,
    .v-window__prev
      transform: translateX(0)
