@use '../../styles/settings';
@use '../../styles/tools';

$checkbox-flex: 0 1 auto !default;
$checkbox-disabled-color: tools.theme-color('on-surface', var(--v-disabled-opacity)) !default;
$checkbox-error-color: rgb(var(--v-theme-error)) !default;
