@forward './variables'
@use 'sass:map'
@use 'sass:list'
@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

.v-selection-control
  border: thin solid red

  $root: &

  align-items: center
  contain: layout
  display: flex
  flex: 1 0
  grid-area: control
  position: relative
  user-select: none

  &:not(.v-selection-control--dirty):not(.v-selection-control--error)
    .v-icon
      color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity))

  &--disabled
    opacity: var(--v-disabled-opacity)
    pointer-events: none

  &--error
    &,
    .v-field-label,
    .v-icon
      color: rgb(var(--v-theme-error))

  + .v-input__details
    padding: 0 12px

  @at-root
    @include tools.density('v-selection-control', $selection-control-density) using ($modifier)
      .v-selection-control__input
        width: $selection-control-size + $modifier
        height: $selection-control-size + $modifier
        --v-selection-control-size: #{$selection-control-size + $modifier} / 4

.v-selection-control__input
  align-items: center
  display: flex
  flex: none
  justify-content: center
  position: relative
  border-radius: 50%

  input
    cursor: pointer
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0

  &::before
    @include tools.absolute()
    border-radius: 100%
    background-color: currentColor
    opacity: 0
    pointer-events: none

  &:hover::before
    opacity: calc(#{map.get(settings.$states, 'hover')} * var(--v-theme-overlay-multiplier))

  .v-selection-control--focus-visible &::before
    opacity: calc(#{map.get(settings.$states, 'focus')} * var(--v-theme-overlay-multiplier))
