@import './settings/_theme.styl'

app($component)
  .application
    &--light
      $component($material-light)
    &--dark
      $component($material-dark)

theme($component, $name)
  light($component, $name)
  dark($component, $name)

light($component, $name)
  .application--light .{$name}
    $component($material-light)
  .application .theme--light.{$name}
    $component($material-light)

dark($component, $name)
  .application--dark .{$name}
    $component($material-dark)
  .application .theme--dark.{$name}
    $component($material-dark)

theme-inheritable($component, $name)
  light-inheritable($component, $name)
  dark-inheritable($component, $name)

light-inheritable($component, $name)
  .application--light .{$name}:not(.theme--light):not(.theme--dark)
    $component($material-light)
  .application .theme--light.{$name}
    $component($material-light)

dark-inheritable($component, $name)
  .application--dark .{$name}:not(.theme--light):not(.theme--dark)
    $component($material-dark)
  .application .theme--dark.{$name}
    $component($material-dark)
