// Defaults
$card-actions-min-height: 52px !default;
$card-actions-padding: 8px !default;
$card-avatar-margin-end: 1rem !default;
$card-avatar-margin-start: 1rem !default;
$card-border-color: $border-color-root !default;
$card-border-elevation: 0 !default;
$card-border-radius: $border-radius-root !default;
$card-border-style: $border-style-root !default;
$card-border-thin-width: thin !default;
$card-border-width: 0 !default;
$card-disabled-opacity: 0.6 !default;
$card-elevation: 1 !default;
$card-hover-elevation: 8 !default;
$card-item-padding: .5rem 1rem !default;
$card-positions: absolute fixed !default;
$card-subtitle-color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity)) !default;
$card-subtitle-font-size: map-deep-get($typography, 'body-2', 'size') !default;
$card-subtitle-font-weight: map-deep-get($typography, 'body-2', 'weight') !default;
$card-subtitle-letter-spacing: map-deep-get($typography, 'body-2', 'letter-spacing') !default;
$card-subtitle-line-height: map-deep-get($typography, 'body-2', 'line-height') !default;
$card-subtitle-padding: 0 16px !default;
$card-subtitle-text-transform: none !default;
$card-text-color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity)) !default;
$card-text-font-size: map-deep-get($typography, 'body-2', 'size') !default;
$card-text-font-weight: map-deep-get($typography, 'body-2', 'weight') !default;
$card-text-letter-spacing: map-deep-get($typography, 'body-2', 'letter-spacing') !default;
$card-text-line-height: map-deep-get($typography, 'body-2', 'line-height') !default;
$card-text-padding-bottom: 16px !default;
$card-text-padding: 1rem !default;
$card-text-text-transform: map-deep-get($typography, 'body-2', 'text-transform') !default;
$card-tile-border-radius: 0 !default;
$card-title-font-size: map-deep-get($typography, 'h6', 'size') !default;
$card-title-font-weight: map-deep-get($typography, 'h6', 'weight') !default;
$card-title-letter-spacing: map-deep-get($typography, 'h6', 'letter-spacing') !default;
$card-title-line-height: map-deep-get($typography, 'h6', 'line-height') !default;
$card-title-padding-top: 16px !default;
$card-title-padding: 1rem 1rem 0 !default;
$card-title-text-transform: none !default;

$card-border: (
  $card-border-color,
  $card-border-style,
  $card-border-width
) !default;
