@use '../../styles/settings';

// VWindow
$window-transition: .3s cubic-bezier(.25, .8, .50, 1) !default;
$window-controls-padding: 0 16px !default;
$window-controls-vertical-gap: 12px !default;
$window-crossfade-blend-mode: plus-lighter !default;
