@use '../../styles/settings';

// Defaults
$text-field-affix-color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !default;
$text-field-border-radius: settings.$border-radius-root !default;
$text-field-details-padding-inline: 16px !default;
$text-field-disabled-affix-color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity)) !default;
$text-field-input-flex: 1 !default;
$text-field-input-padding-end: 0 !default;
$text-field-input-padding-start: 6px !default;
$text-field-input-transition: .15s opacity settings.$standard-easing !default;
