@forward './variables'
@use 'sass:selector'
@use '../../styles/settings'
@use './variables' as *

// TODO: abstract variables

.v-text-field
  .v-field--active
    input,
    .v-text-field__prefix,
    .v-text-field__suffix
      opacity: 1

  &__prefix,
  &__suffix
    color: $text-field-affix-color
    display: flex
    align-items: center
    cursor: default
    opacity: 0
    transition: .15s opacity settings.$standard-easing
    white-space: nowrap
    padding-top: var(--v-field-padding-top)

  &__prefix
    padding-inline-end: var(--v-field-padding-before)

  &__suffix
    padding-inline-end: var(--v-field-padding-end)

  .v-field__input
    @at-root #{selector.append('.v-text-field--prefixed', &)}
      --v-field-padding-start: 6px
    @at-root #{selector.append('.v-text-field--suffixed', &)}
      --v-field-padding-end: 0

  &--flush-details
    .v-input__details
      padding: 0

  .v-field
    cursor: text

    &--single-line
      input
        transition: none

  .v-input__details
    padding-inline-start: $text-field-details-padding-inline
    padding-inline-end: $text-field-details-padding-inline

  input
    flex: 1
    opacity: 0
    transition: .15s opacity settings.$standard-easing

    &:focus,
    &:active
      outline: none

    // Remove Firefox red outline
    &:invalid
      box-shadow: none

  .v-field--disabled
    .v-text-field__prefix,
    .v-text-field__suffix
      color: $text-field-disabled-affix-color
