@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-video
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    --v-video-outline-width: thin
    --v-video-controls-height: 44px

    &__video
      --v-outline-opacity: .12
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      z-index: 0
      outline: var(--v-video-outline-width) solid rgba(var(--v-theme-on-surface), var(--v-outline-opacity))

      & ~ *
        z-index: 1

    &__content
      position: relative
      cursor: pointer
      border-radius: inherit

      > .v-overlay
        &, > *
          pointer-events: none

    &:has(.v-video-controls:not(.v-video-controls--detached))
      .v-overlay__content
        padding-bottom: var(--v-video-controls-height) // controls size

    &__center-icon.v-icon-btn
      border: 5px solid currentColor
      opacity: .6
      transform: scale(.9)
      transition: all .2s ease-in-out

    &__content:hover &__center-icon
      transform: scale(1)
      opacity: 1

    &__volume-menu .v-slider.v-input--vertical > .v-input__control
      min-height: 50px

    &__track
      position: relative
      z-index: 1
      margin-inline: 14px
      width: 100%

      > .v-input__control
        min-height: 4px !important

    &__time
      font-size: 0.875rem
      line-height: 1
      letter-spacing: 0.02em

    &--variant-background
      outline: none
      position: absolute
      pointer-events: none
      width: 100%
      height: 100%

      > .v-video__content
        width: 100%
        height: 100%

    &-controls
      --v-background-opacity: .8
      flex: 1 0 100%
      align-self: stretch
      padding: 8px
      display: flex
      align-items: center
      position: relative
      gap: 12px
      min-height: var(--v-video-controls-height)
      backdrop-filter: blur(5px)
      background-color: rgba(var(--v-theme-surface), var(--v-background-opacity))

      opacity: 0

      &, &--pills > .v-video-control__pill
        transition: .6s ease-in-out
        transition-property: opacity, background-color

      &:hover
        --v-background-opacity: 1

      .v-video__track
        width: auto

      .v-video-control__pill
        display: flex
        align-items: center
        gap: 8px

      &--pills
        --v-background-opacity: 1
        --v-video-controls-height: 64px
        backdrop-filter: none

        &:not(:empty)
          background: transparent !important

        > .v-slider.v-video__track
          margin-inline: 12px !important

        > .v-video-control__pill
          backdrop-filter: blur(5px)
          background: rgba(var(--v-theme-surface), var(--v-background-opacity))
          border-radius: 20px
          min-height: 42px
          padding: 0 10px
          gap: 12px

          &:empty
            display: none

          &:has(> *:only-child)
            width: 42px
            padding-inline: 0
            justify-content: center

        > .v-video__action-play
          min-height: 50px
          border-radius: 25px
          width: 52px !important

        > .v-video__time
          padding: 0 16px

      &--variant-tube
        .v-slider.v-video__track
          position: absolute
          top: -4px
          left: 0
          right: 0
          margin-inline: 4px

          .v-slider-track
            height: 4px !important

      &--split-time
        padding-inline: 20px

      &:not(.v-video-controls--detached)
        margin-top: calc(-1 * var(--v-video-controls-height) - 1px)

      &:not(.v-video-controls--floating)
        border-bottom-left-radius: inherit
        border-bottom-right-radius: inherit

      &:not(.v-video-controls--floating):not(.v-video-controls--pills)
        border-top: thin solid rgba(var(--v-theme-surface-variant), .2)

      &--floating
        --v-background-opacity: 1
        border-radius: inherit
        margin-inline: 12px
        width: calc(100% - 24px)

      &--floating:not(.v-video-controls--detached)
        margin-top: calc(-1 * var(--v-video-controls-height) - 12px)

      &--detached
        --v-background-opacity: 1
        position: relative
        margin-block-start: 12px
        padding-inline: 12px
        backdrop-filter: none
        border-top: none
        border-radius: inherit
        opacity: 1

    &:not(.v-video--playing),
    &:hover
      .v-video-controls
        opacity: 1

    &--rounded
      border-radius: $video-rounded-border-radius


  .poster-fade-out
    &-leave-active
      transition: opacity 1s linear 0.3s
    &-leave-to
      opacity: 0
