@use '../../styles/tools'
@use './variables' as *

.v-img
  --v-theme-overlay-multiplier: 3
  z-index: 0

  &--booting .v-responsive__sizer
    transition: none

.v-img__img,
.v-img__picture,
.v-img__gradient,
.v-img__placeholder,
.v-img__error
  z-index: -1

  @include tools.absolute()

.v-img__img
  &--preload
    filter: $img-preload-filter

  &--contain
    object-fit: contain

  &--cover
    object-fit: cover

.v-img__gradient
  background-repeat: no-repeat
