@use "../../styles/settings";
@use "../../styles/settings/variables";

// VFeatureDiscovery
$feature-discovery-background-color: rgba(var(--v-theme-surface-variant), 0.96) !default;
$feature-discovery-text-color: rgb(var(--v-theme-on-surface-variant)) !default;
$feature-discovery-font-size: .875rem !default;
$feature-discovery-line-height: 1.6 !default;
$feature-discovery-transition-enter-duration: 150ms !default;
$feature-discovery-transition-leave-duration: 75ms !default;
$feature-discovery-padding: 40px !default;
$feature-discovery-overflow-wrap: break-word !default;

$feature-discovery-transition: opacity variables.$standard-easing, top 1ms, left 1ms, transform variables.$standard-easing, top 1ms, left 1ms;
$feature-discovery-wrap-transition: .2s opacity slow-in-fast-out;
