@use '../../styles/settings'
@use '../../styles/tools'
@use './mixins' as *
@use './variables' as *

@include tools.layer('components')
  // Element
  .v-feature-discovery
    display: block
    vertical-align: middle
    position: relative

    &--inline
      display: inline-block

    &__content
      position: absolute !important
      top: 50%
      left: 50%
      height: 0
      width: 0
      display: inline-block !important
      border-radius: 100%

      &--active
        display: inline-block

      &:not(&--no-ripple) .v-feature-discovery__highlight:before
        content: ''
        position: absolute
        height: 100%
        width: 100%
        background-color: inherit
        border-radius: inherit
        transition: $feature-discovery-transition
        animation: pulse-animation 1.4s cubic-bezier(0.24, 0, 0.38, 1) infinite
        pointer-events: none
        z-index: 10

      &--fixed
        position: fixed

    &__backdrop, &__highlight
      position: absolute
      border-radius: 100%
      transform: scale(0)
      transition: $feature-discovery-transition

    &__backdrop
      opacity: 0
      +tools.elevation(4)

    &__highlight
      background: white

    &__wrap
      position: absolute
      transition: $feature-discovery-wrap-transition
      opacity: 0

  // Modifier
  .v-feature-discovery__content
    &--active
      .v-feature-discovery__backdrop
        opacity: 0.96

      .v-feature-discovery__backdrop, .v-feature-discovery__highlight
        transform: scale(1)

      .v-feature-discovery__wrap
        opacity: 1

    &:not(&--active)
      pointer-events: none

    &--flat
      .v-feature-discovery__backdrop
        +tools.elevation(0)

  // Animations
  @keyframes pulse-animation
    from
      opacity: 1
      transform: scale(1)

    20%
      opacity: 1

    to
      opacity: 0
      transform: scale(1.5)
