@import "../../styles/styles.sass"
@import "./_mixins.sass"

.v-feature-discovery.theme--light
  +feature-discovery-theme($material-light)
.v-feature-discovery.theme--dark
  +feature-discovery-theme($material-dark)

.v-feature-discovery
  overflow: hidden
  transition: $primary-transition
  position: fixed
  height: 400px
  width: 400px
  z-index: 10

  &:not(.v-feature-discovery--flat)
    +elevation(4)

  &--active
    transform: translate3d(0, 0, 0) !important

  &--top-left
    transform: translate3d(-100%, -100%, 0)
    border-radius: 0 0 100% 0
    top: 0
    left: 0

  &--top-right
    transform: translate3d(100%, -100%, 0)
    border-radius: 0 0 0 100%
    top: 0
    right: 0

  &--bottom-left
    transform: translate3d(-100%, 100%, 0)
    border-radius: 0 100% 0 0
    bottom: 0
    left: 0

  &--bottom-right
    transform: translate3d(100%, 100%, 0)
    border-radius: 100% 0 0 0
    bottom: 0
    right: 0
