@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-highlight
    &__mark
      background: var(--v-highlight-background, #{$highlight-background})
      border-radius: var(--v-highlight-border-radius, #{$highlight-border-radius})
      color: var(--v-highlight-color, #{$highlight-color})

      @media (forced-colors: active)
        background: buttontext !important
