@forward '../VInput/variables';
@use '../../styles/settings';

// Defaults
$autocomplete-content-border-radius: 4px !default;
$autocomplete-content-elevation: 4 !default;
$autocomplete-focused-input: 64px !default;
$autocomplete-line-height: 1.75 !default;
$autocomplete-selection-gap: 2px !default;
$autocomplete-transition: .2s settings.$standard-easing !default;
$autocomplete-chips-control-min-height: 64px !default;
$autocomplete-chips-margin-top: null !default;
$autocomplete-chips-margin-bottom: null !default;
