@forward './variables'
@use 'sass:selector'
@use 'sass:math'
@use '../../styles/settings'
@use '../../styles/tools'
@use './variables' as *
@use '../VInput/variables' as *

.v-autocomplete
  .v-field
    .v-text-field__prefix,
    .v-text-field__suffix,
    .v-field__input,
    &.v-field
      cursor: text

.v-autocomplete
  &__content
    overflow: hidden

    @include tools.elevation($autocomplete-content-elevation)
    @include tools.rounded($autocomplete-content-border-radius)

  &__search-input
    opacity: 0

  &__menu-icon
    order: 1
    margin-inline-start: 4px
    transition: $autocomplete-transition

  &__mask
    background: rgb(var(--v-theme-on-surface-variant))

  &__selection
    display: inline-flex
    margin-inline-end: 2px

  &__selections
    align-items: flex-start
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity))
    display: flex
    flex: 0 1

  &--active-menu
    .v-autocomplete__menu-icon
      color: inherit
      transform: rotate(180deg)

  &--chips
    .v-autocomplete__selection
      &:first-child
        margin-inline-start: 0

  &--single
    input.v-field__input
      position: absolute
      left: 0
      opacity: 0

    .v-field--focused
      input.v-field__input
        opacity: 1

      .v-autocomplete__selections
        opacity: 0

    .v-field--active:not(.v-field--focused)
      input.v-field__input
        opacity: 0
        transition: none

  &--multiple
    input.v-field__input
      padding-inline-start: 0

    .v-autocomplete__selections
      padding-inline-end: 0
