.v-autocomplete .v-field .v-text-field__prefix,
.v-autocomplete .v-field .v-text-field__suffix,
.v-autocomplete .v-field .v-field__input, .v-autocomplete .v-field.v-field {
  cursor: text;
}
.v-autocomplete .v-field .v-field__input > input {
  align-self: flex-start;
  flex: 1 1;
}
.v-autocomplete .v-field:not(.v-field--focused) input {
  min-width: 0;
}
.v-autocomplete .v-field--dirty .v-autocomplete__selection {
  margin-inline-end: 2px;
}
.v-autocomplete .v-field--single-line .v-autocomplete__selection-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-autocomplete__content {
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  border-radius: 4px;
}
.v-autocomplete__mask {
  background: rgb(var(--v-theme-on-surface-variant));
}
.v-autocomplete__selection {
  display: inline-flex;
  letter-spacing: inherit;
  line-height: inherit;
  max-width: 100%;
}
.v-autocomplete input, .v-autocomplete__selection {
  margin-top: var(--v-input-chips-margin-top);
  margin-bottom: var(--v-input-chips-margin-bottom);
}
.v-autocomplete input:first-child, .v-autocomplete__selection:first-child {
  margin-inline-start: 0;
}
.v-autocomplete--selecting-index .v-autocomplete__selection {
  opacity: var(--v-medium-emphasis-opacity);
}
.v-autocomplete--selecting-index .v-autocomplete__selection--selected {
  opacity: 1;
}
.v-autocomplete--selecting-index .v-field__input > input {
  caret-color: transparent;
}
.v-autocomplete--single.v-text-field input {
  flex: 1 1;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding-inline-start: inherit;
  padding-inline-end: inherit;
}
.v-autocomplete--single .v-field--active input {
  transition: none;
}
.v-autocomplete--single .v-field--dirty:not(.v-field--focused) input {
  opacity: 0;
}
.v-autocomplete--single .v-field--focused .v-autocomplete__selection {
  opacity: 0;
}
.v-autocomplete__menu-icon {
  margin-inline-start: 4px;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.v-autocomplete--active-menu .v-autocomplete__menu-icon {
  opacity: var(--v-high-emphasis-opacity);
  transform: rotate(180deg);
}