$month-picker-width: 360px !default;
$month-picker-content-padding: 16px !default;
$month-picker-cell-padding: 6px !default;
$month-picker-range-selection-inset: 2px !default;
$month-picker-range-selection-border-radius: 999px !default;
$month-picker-list-max-height: 336px !default;
$month-picker-list-item-height: 48px !default;
$month-picker-list-item-prepend-size: 38px !default;
