@use "sass:map";
@use "../../styles/settings/variables";
@use "../../styles/tools/functions";

$toolbar-background: rgb(var(--v-theme-surface)) !default;
$toolbar-border-radius: 0 !default;
$toolbar-btn-icon-size: 48px !default;
$toolbar-collapsed-border-radius: 24px !default;
$toolbar-collapsed-max-width: 112px !default;
$toolbar-color: rgb(var(--v-theme-on-surface)) !default;
$toolbar-content-padding-x: 16px !default;
$toolbar-content-padding-y: 4px !default;
$toolbar-density: ( 'prominent': 4, 'default': 0, 'comfortable': -1, 'compact': -2 ) !default;
$toolbar-elevation: 4 !default;
$toolbar-padding-end: 16px !default;
$toolbar-padding-start: 16px !default;
$toolbar-padding: 16px !default;
$toolbar-prepend-btn-margin-start: -12px !default;
$toolbar-append-btn-margin-end: -12px !default;
$toolbar-shaped-border-radius: map-get(variables.$rounded, 'xl') $toolbar-border-radius !default;
$toolbar-title-padding: 20px !default;
$toolbar-title-font-size: functions.map-deep-get(variables.$typography, 'h6', 'size') !default;
$toolbar-transition: .2s variables.$standard-easing !default;

$toolbar-theme: (
  $toolbar-background,
  $toolbar-color,
) !default;
