@use "sass:map";
@use '../../styles/settings';
@use "../../styles/settings/variables";
@use "../../styles/tools/functions";

// VToolbar
$toolbar-background: rgb(var(--v-theme-on-surface-variant)) !default;
$toolbar-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !default;
$toolbar-border-color: settings.$border-color-root !default;
$toolbar-border-radius: map.get(settings.$rounded, 0) !default;
$toolbar-border-style: settings.$border-style-root !default;
$toolbar-border-thin-width: thin !default;
$toolbar-border-width: 0 !default;
$toolbar-btn-icon-size: 48px !default;
$toolbar-collapsed-border-radius: 24px !default;
$toolbar-collapsed-max-width: 112px !default;
$toolbar-content-padding-x: 16px !default;
$toolbar-content-padding-y: 4px !default;
$toolbar-elevation: 0 !default;
$toolbar-flat-elevation: 0 !default;
$toolbar-flex: none !default;
$toolbar-prepend-btn-margin-start: 10px !default;
$toolbar-append-btn-margin-end: 10px !default;
$toolbar-rounded-border-radius: variables.$border-radius-root !default;
$toolbar-transition: .2s variables.$standard-easing !default;

// VToolbarTitle
$toolbar-title-margin: 16px !default;
$toolbar-title-extended-padding: 56px !default;
$toolbar-title-font-size: 1.25rem !default;
$toolbar-title-font-weight: 400 !default;
$toolbar-title-letter-spacing: 0 !default;
$toolbar-title-line-height: 1.75rem !default;
$toolbar-title-text-transform: none !default;
$toolbar-prominent-title-font-size: 1.5rem !default;
$toolbar-prominent-title-font-weight: 400 !default;
$toolbar-prominent-title-letter-spacing: 0 !default;
$toolbar-prominent-title-line-height: 2.25rem !default;
$toolbar-prominent-title-text-transform: none !default;

// Lists
$toolbar-border: (
  $toolbar-border-color,
  $toolbar-border-style,
  $toolbar-border-width,
  $toolbar-border-thin-width
) !default;

$toolbar-title-typography: (
  $toolbar-title-font-size,
  $toolbar-title-font-weight,
  $toolbar-title-letter-spacing,
  $toolbar-title-line-height,
  $toolbar-title-text-transform
) !default;

$toolbar-prominent-title-typography: (
  $toolbar-prominent-title-font-size,
  $toolbar-prominent-title-font-weight,
  $toolbar-prominent-title-letter-spacing,
  $toolbar-prominent-title-line-height,
  $toolbar-prominent-title-text-transform
) !default;

$toolbar-theme: (
  $toolbar-background,
  $toolbar-color
) !default;
