@use "sass:map";
@use '../../styles/settings';
@use "../../styles/settings/variables";
@use '../../styles/tools';

// Defaults
$icon-btn-border-color: settings.$border-color-root !default;
$icon-btn-border-radius: map.get(variables.$rounded, 'circle') !default;
$icon-btn-border-style: settings.$border-style-root !default;
$icon-btn-border-thin-width: thin !default;
$icon-btn-border-width: 0 !default;
$icon-btn-disabled-opacity: 0.26 !default;
$icon-btn-font-size: tools.map-deep-get(settings.$typography, 'button', 'size') !default;
$icon-btn-font-weight: tools.map-deep-get(settings.$typography, 'button', 'weight') !default;
$icon-btn-height: var(--v-icon-btn-height, 32px) !default;
$icon-btn-margin-end: map.get(variables.$grid-gutters, 'md') !default;
$icon-btn-margin-start: map.get(variables.$grid-gutters, 'md') !default;
$icon-btn-width: var(--v-icon-btn-width, 32px) !default;

$icon-btn-border: (
  $icon-btn-border-color,
  $icon-btn-border-style,
  $icon-btn-border-width,
  $icon-btn-border-thin-width
) !default;
