.v-bottom-navigation {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  transition: transform, color 0.2s, 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  background: rgb(var(--v-theme-surface));
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}
.v-bottom-navigation--border {
  border-width: thin;
  box-shadow: none;
}
.v-bottom-navigation--active {
  box-shadow: 0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}

.v-bottom-navigation__content {
  display: flex;
  flex: none;
  font-size: 0.75rem;
  justify-content: center;
  transition: inherit;
  width: 100%;
}
.v-bottom-navigation .v-bottom-navigation__content > .v-btn {
  font-size: inherit;
  height: 100%;
  max-width: 168px;
  min-width: 80px;
  text-transform: none;
  transition: inherit;
  width: auto;
  border-radius: 0;
}
.v-bottom-navigation .v-bottom-navigation__content > .v-btn .v-btn__content,
.v-bottom-navigation .v-bottom-navigation__content > .v-btn .v-btn__icon {
  transition: inherit;
}
.v-bottom-navigation .v-bottom-navigation__content > .v-btn .v-btn__icon {
  font-size: 1.5rem;
}
.v-bottom-navigation--grow .v-bottom-navigation__content > .v-btn {
  flex-grow: 1;
}
.v-bottom-navigation--shift .v-bottom-navigation__content .v-btn:not(.v-btn--selected) .v-btn__content > span {
  opacity: 0;
}
.v-bottom-navigation--shift .v-bottom-navigation__content .v-btn:not(.v-btn--selected) .v-btn__content {
  transform: translateY(0.5rem);
}