$code-background-color: rgb(var(--v-theme-code)) !default;
$code-color: rgb(var(--v-theme-on-code)) !default;
$code-border-radius: 4px !default;
$code-line-height: 1.8 !default;
$code-font-size: 0.9em !default;
$code-font-weight: normal !default;
$code-padding: .2em .4em !default;
