$code-background-color: var(--v-code-background-color) !default;
$code-border-radius: 3px !default;
$code-font-size: 85% !default;
$code-font-weight: normal !default;
$code-padding: .2em .4em !default;
