// Imports
@import './index'

.v-code
  background-color: rgb(var(--v-code-background-color))
  border-radius: $code-border-radius
  font-size: $code-font-size
  font-weight: $code-font-weight
  padding: $code-padding
