@use './variables' as *

.v-code
  background-color: $code-background-color
  color: $code-color
  border-radius: $code-border-radius
  line-height: $code-line-height
  font-size: $code-font-size
  font-weight: $code-font-weight
  padding: $code-padding
