.v-data-table-regular
  width: 100%

.v-data-table-regular__table
  width: 100%
  border-collapse: separate
  border-spacing: 0

.v-data-table-regular__thead

.v-data-table-regular__tbody

.v-data-table-regular__tr
  height: 48px

.v-data-table-regular__td,
.v-data-table-regular__th
  padding: 0.5rem

  &--focus
    border: 1px dotted black

.v-data-table-regular__th
  background: grey
  border: 1px solid black
  align-items: center

.v-data-table-regular__td
  background: lightgrey
  height: 48px

  &--fixed
    position: sticky
    z-index: 2
    left: 0
    border-right: 1px solid black

  &--group-header
    background: darkgrey
