$avatar-group-container-gap: 8px !default;
$avatar-group-gap: -12px !default;
$avatar-group-hoverable-horizontal-transform: translateY(-8px) !default;
$avatar-group-hoverable-vertical-transform: translateX(8px) !default;
$avatar-group-overflow-background: rgb(var(--v-theme-surface-light)) !default;
$avatar-group-overflow-color: rgb(var(--v-theme-on-surface-light)) !default;
