@use '../../styles/settings';
@use '../../styles/tools';

// VSnackbar
$snackbar-absolute-z-index: 1 !default;
$snackbar-action-margin: 8px !default;
$snackbar-border-radius: settings.$border-radius-root !default;
$snackbar-plain-opacity: .62 !default;
$snackbar-btn-padding: 0 8px !default;
$snackbar-background: rgb(var(--v-theme-surface-variant)) !default;
$snackbar-color: rgb(var(--v-theme-on-surface-variant)) !default;
$snackbar-font-size: tools.map-deep-get(settings.$typography, 'body-2', 'size') !default;
$snackbar-font-weight: tools.map-deep-get(settings.$typography, 'body-2', 'weight') !default;
$snackbar-letter-spacing: tools.map-deep-get(settings.$typography, 'body-2', 'letter-spacing') !default;
$snackbar-line-height: tools.map-deep-get(settings.$typography, 'body-2', 'line-height') !default;
$snackbar-content-padding: 14px 16px !default;
$snackbar-elevation: 6 !default;
$snackbar-multi-line-wrapper-min-height: 68px !default;
$snackbar-transition-scale: .8 !default;
$snackbar-vertical-action-margin-bottom: 8px !default;
$snackbar-wrapper-margin: 8px !default;
$snackbar-wrapper-max-width: 672px !default;
$snackbar-wrapper-min-height: 48px !default;
$snackbar-wrapper-min-width: 344px !default;
$snackbar-wrapper-padding: 0 !default;
$snackbar-z-index: 10000 !default;

// List
$snackbar-variants: (
  $snackbar-background,
  $snackbar-color,
  $snackbar-elevation,
  $snackbar-plain-opacity,
  'v-snackbar'
);
