@forward '../VPicker/variables';

$time-picker-padding: 24px !default;
$time-picker-contols-btn-font: 56px !default;
$time-picker-contols-btn-height: 80px !default;
$time-picker-contols-btn-width: 96px !default;
$time-picker-contols-seconds-btn-width: 64px !default;
$time-picker-contols-seconds-btn-height: 80px !default;
$time-picker-contols-seconds-btn-font: 40px !default;
$time-picker-contols-separator-width: 24px !default;
$time-picker-contols-ampm-btn-width: 96px !default;
$time-picker-contols-ampm-btn-height: 80px !default;
$time-picker-contols-ampm-height: 40px !default;
$time-picker-contols-ampm-am-border-radius: 4px 4px 0 0 !default;
$time-picker-contols-ampm-pm-border-radius: 0 0 4px 4px !default;
$time-picker-ampm-title-font-size: 18px !default;
$time-picker-number-font-size: 16px !default;
$time-picker-indicator-size: 40px !default;
$time-picker-clock-padding: 10px !default;
$time-picker-clock-max-width: 290px !default;
$time-picker-clock-hand-height: calc(50% - 4px) !default;
$time-picker-clock-hand-width: 2px !default;
$time-picker-clock-hand-left: calc(50% - 1px) !default;
$time-picker-clock-center-size: 8px !default;
$time-picker-clock-end-size: 10px !default;
$time-picker-clock-end-top: -4px !default;
$time-picker-clock-inner-hand-height: 14px !default;
$time-picker-clock-inner-offset: 27px !default;
$time-picker-clock-end-border-width: 2px !default;
$time-picker-clock-end-border-style: solid !default;
$time-picker-clock-end-border-color: currentColor !default;
$time-picker-width: 328px !default;
$time-picker-landscape-title-btn-height: 55px !default;
$time-picker-landscape-ampm-title-margin: 16px 0 0 !default;
