@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-time-picker.v-picker
    padding: $time-picker-padding
    width: $time-picker-width

    &:has(.v-time-picker-controls__time--with-seconds__btn)
      width: $time-picker-with-seconds-width

    .v-picker-title
      padding: 0
      margin-bottom: 20px
