@import './_variables.scss'
@import '../VPicker/_variables.scss'

.v-time-picker.v-picker
  padding: $time-picker-padding
  width: $time-picker-width

  .v-picker-title
    padding: 0
    margin-bottom: 20px
