@import './_colors';

$body-font-family: 'Roboto' sans-serif !default;
$font-size-root: 14px !default;
$line-height-root: 1.5 !default;

$material-light: (
  'status-bar': (
    'regular': #E0E0E0,
    'lights-out': rgba(#fff, 0.7)
  ),
  'app-bar': #F5F5F5,
  'background': #FAFAFA,
  'cards': #FFFFFF,
  'chips': (
    'background': map-get($grey, 'lighten-2'),
    'color': rgba(#000, 0.87)
  ),
  'dividers': rgba(#000, 0.12),
  'text': (
    'theme': #fff,
    'primary': rgba(#000, 0.87),
    'secondary': rgba(#000, 0.54),
    'disabled': rgba(#000, 0.38),
    'link': map-get($blue, 'darken-2'),
    'link-hover': map-get($grey, 'darken-3')
  ),
  'icons': (
    'active': rgba(#000, 0.54),
    'inactive': rgba(#000, 0.38)
  ),
  'inputs': (
    'box': rgba(#000, 0.04),
    'solo-inverted': rgba(#000, 0.16),
    'solo-inverted-focused': #424242,
    'solo-inverted-focused-text': #fff
  ),
  'buttons': (
    'disabled': rgba(#000, 0.26),
    'focused': rgba(#000, 0.12),
    'focused-alt': rgba(#fff, 0.6),
    'pressed': rgba(#999, 0.4)
  ),
  'expansion-panels': (
    'focus': #EEEEEE
  ),
  'list-tile': (
    'hover': rgba(#000, 0.04)
  ),
  'selection-controls': (
    'thumb': (
      'inactive': map-get($grey, 'lighten-5'),
      'disabled': map-get($grey, 'lighten-1')
    ),
    'track': (
      'inactive': rgba(#000, 0.38),
      'disabled': rgba(#000, 0.12)
    )
  ),
  'slider': (
    'active': rgba(#000, 0.38),
    'inactive': rgba(#000, 0.26),
    'disabled': rgba(#000, 0.26),
    'discrete': #000
  ),
  'tabs': (
    'active': rgba(#000, 0.87)
  ),
  'text-fields': (
    'box': rgba(#000, 0.06),
    'box-hover': rgba(#000, 0.12)
  ),
  'input-bottom-line': rgba(#000, 0.42),
  'stepper': (
    'active': rgba(#fff, 1),
    'completed': rgba(#000, 0.87),
    'hover': rgba(#000, 0.54)
  ),
  'table': (
    'active': map-get($grey, 'lighten-4'),
    'hover': map-get($grey, 'lighten-3')
  ),
  'picker': (
    'body': #fff,
    'clock': map-get($grey, 'lighten-2'),
    'indeterminateTime': map-get($grey, 'lighten-1'),
    'title': map-get($grey, 'lighten-2')
  ),
  'bg-color': #fff,
  'fg-color': #000,
  'text-color': #000,
  'primary-text-percent': 0.87,
  'secondary-text-percent': 0.54,
  'disabledORhints-text-percent': 0.38,
  'divider-percent': 0.12,
  'active-icon-percent': 0.54,
  'inactive-icon-percent': 0.38
) !default;

$material-dark: (
  'status-bar': (
    'regular': #000000,
    'lights-out': rgba(#000, 0.2)
  ),
  'app-bar': #212121,
  'background': #303030,
  'cards': #424242,
  'chips': (
    'background': #555,
    'color': #fff
  ),
  'dividers': rgba(#fff, 0.12),
  'text': (
    'theme': #fff,
    'primary': #fff,
    'secondary': rgba(#fff, 0.7),
    'disabled': rgba(#fff, 0.5),
    'link': map-get($blue, 'accent-1'),
    'link-hover': map-get($grey, 'lighten-3')
  ),
  'icons': (
    'active': #fff,
    'inactive': rgba(#fff, 0.5)
  ),
  'inputs': (
    'box': #fff,
    'solo-inverted': rgba(#fff, 0.16),
    'solo-inverted-focused': #fff,
    'solo-inverted-focused-text': map-get(map-get($material-light, 'text'), 'primary')
  ),
  'list-tile': (
    'hover': rgba(#fff, 0.08)
  ),
  'buttons': (
    'disabled': rgba(#fff, 0.3),
    'focused': rgba(#fff, 0.12),
    'focused-alt': rgba(#fff, 0.1),
    'pressed': rgba(#ccc, 0.25)
  ),
  'expansion-panels': (
    'focus': #494949
  ),
  'selection-controls': (
    'thumb': (
      'inactive': map-get($grey, 'lighten-1'),
      'disabled': map-get($grey, 'darken-3')
    ),
    'track': (
      'inactive': rgba(#fff, 0.3),
      'disabled': rgba(#fff, 0.1)
    )
  ),
  'slider': (
    'active': rgba(#fff, 0.3),
    'inactive': rgba(#fff, 0.2),
    'disabled': rgba(#fff, 0.2),
    'discrete': #fff
  ),
  'tabs': (
    'active': #fff
  ),
  'text-fields': (
    'box': rgba(#000, 0.1),
    'box-hover': rgba(#000, 0.2),
    'box-focus': rgba(#000, 0.3)
  ),
  'input-bottom-line': rgba(#fff, 0.7),
  'stepper': (
    'active': rgba(#fff, 1),
    'completed': rgba(#fff, 0.87),
    'hover': rgba(#fff, 0.75)
  ),
  'table': (
    'active': #505050,
    'hover': map-get($grey, 'darken-2')
  ),
  'picker': (
    'body': #424242,
    'clock': map-get($grey, 'darken-2'),
    'indeterminateTime': map-get($grey, 'darken-1'),
    'title': map-get($grey, 'darken-2')
  ),
  'bg-color': #303030,
  'fg-color': #fff,
  'text-color': #fff,
  'primary-text-percent': 1,
  'secondary-text-percent': 0.7,
  'disabledORhints-text-percent': 0.5,
  'divider-percent': 0.12,
  'active-icon-percent': 1,
  'inactive-icon-percent': 0.5
) !default;

$material-theme: $material-light !default;
$material-twelve-percent-light: rgba(map-get($material-dark, 'fg-color'), map-get($material-dark, 'divider-percent')) !default;
$material-twelve-percent-dark: rgba(map-get($material-light, 'fg-color'), map-get($material-light, 'divider-percent')) !default;

$body-bg-light: map-get($material-light, 'background') !default;
$body-bg-dark: map-get($material-dark, 'background') !default;
$body-color-light: rgba(map-get($material-dark, 'text-color'), map-get($material-dark, 'primary-text-percent')) !default;
$body-color-dark: rgba(map-get($material-light, 'text-color'), map-get($material-light, 'primary-text-percent')) !default;
$color-theme: rgba(map-get($material-theme, 'text-color'), map-get($material-theme, 'primary-text-percent')) !default;
