@use '../../styles/settings';
@use "../../styles/tools/functions";

$empty-state-actions-btn-background-color: initial !default;
$empty-state-actions-btn-color: initial !default;
$empty-state-actions-gap: 8px !default;
$empty-state-actions-padding: 16px !default;
$empty-state-content-padding: 24px 0 !default;
$empty-state-headline-color: functions.theme-color('on-surface', var(--v-medium-emphasis-opacity)) !default;
$empty-state-headline-font-size: var(--v-text--display-large-font-size) !default;
$empty-state-headline-font-weight: var(--v-text--display-large-font-weight) !default;
$empty-state-headline-line-height: var(--v-text--display-large-line-height) !default;
$empty-state-headline-margin-bottom: 8px !default;
$empty-state-headline-mobile-font-size: var(--v-text--headline-large-font-size) !default;
$empty-state-image-padding: 16px !default;
$empty-state-min-height: 100% !default;
$empty-state-media-icon-color: functions.theme-color('on-surface', var(--v-medium-emphasis-opacity)) !default;
$empty-state-padding: 16px !default;
$empty-state-text-font-size: var(--v-text--body-medium-font-size) !default;
$empty-state-text-font-weight: var(--v-text--body-medium-font-weight) !default;
$empty-state-text-line-height: var(--v-text--body-medium-line-height) !default;
$empty-state-text-padding: 0 16px !default;
$empty-state-title-font-size: var(--v-text--title-large-font-size) !default;
$empty-state-title-font-weight: var(--v-text--title-large-font-weight) !default;
$empty-state-title-line-height: var(--v-text--title-large-line-height) !default;
$empty-state-title-margin-bottom: 4px !default;
