@use '../../styles/settings';

$picker-border-radius: settings.$border-radius-root !default;
$picker-elevation: 0 !default;
$picker-title-padding: 16px !default;
$picker-inactive-btn-opacity: .6 !default;
$picker-active-btn-opacity: 1 !default;
$picker-landscape-title-width: 170px !default;
$picker-font-size: 1rem !default;
