.v-radio-group > .v-input__control {
  flex-direction: column;
}
.v-radio-group > .v-input__control > .v-label {
  margin-inline-start: 8px;
}
.v-radio-group > .v-input__control > .v-label + .v-selection-control-group {
  margin-top: 8px;
}