@import '../../styles/styles.sass';

$slider-track-width: 2px !default;
$slider-track-border-radius: 0 !default;
$slider-thumb-size: 12px !default;
$slider-thumb-border-radius: 50% !default;
$slider-thumb-focused-size-increase: 24px !default;
$slider-tick-border-radius: 0 !default;
