@import '../../styles/styles.sass';

$banner-actions-start-margin: 90px !default;
$banner-actions-margin: 8px !default;
$banner-line-height: 20px !default;
$banner-start-padding: 24px !default;
$banner-end-padding: 8px !default;
$banner-y-padding: 16px !default;
$banner-icon-padding: 16px !default;
$banner-content-padding: 8px !default;
$banner-mobile-padding: 10px !default;
$banner-mobile-multiline-padding: 24px !default;
$banner-mobile-start-padding: 16px !default;
$banner-mobile-top-padding: 16px !default;
$banner-mobile-actions-top-padding: 12px !default;
$banner-mobile-singleline-padding: 36px !default;
