// Imports
@import './index';

.v-banner {
  font-size: $banner-font-size;
  padding-top: $banner-padding-top;
  padding-bottom: $banner-padding-bottom;
  position: relative;
  width: $banner-width;
  background-color: white !important;

  &::after {
    @include border($banner-query);

    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
  }

  @include elevated($banner-query);
  @include position($banner-query);
  @include rounded($banner-query);

  @include ltr() {
    padding-left: $banner-padding-start;
    padding-right: $banner-padding-end;
  }

  @include rtl() {
    padding-right: $banner-padding-start;
    padding-left: $banner-padding-end;
  }

  &--has-thumbnail {
    @include ltr() {
      padding-left: $banner-thumbnail-padding-start;
    }

    @include rtl() {
      padding-right: $banner-thumbnail-padding-start;
    }

    &.v-banner--is-mobile {
      padding-top: $banner-mobile-padding-top;
    }
  }

  &--single-line {
    padding-top: $banner-single-line-padding-top;

    &.v-banner--is-mobile {
      padding-top: $banner-mobile-single-line-padding-top;
    }
  }
}

.v-banner__actions {
  align-items: flex-end;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;

  .v-banner--single-line & {
    @include ltr() {
      margin-left: $banner-actions-margin-start;
    }

    @include rtl() {
      margin-right: $banner-actions-margin-start;
    }
  }

  .v-banner--is-mobile & {
    flex-grow: 1;

    @include ltr() {
      margin-left: $banner-mobile-single-line-actions-margin-start;
    }

    @include rtl() {
      margin-right: $banner-mobile-single-line-actions-margin-start;
    }
  }
}

.v-banner__sizer {
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: $banner-sizer-max-width;

  .v-banner--is-mobile & {
    flex-wrap: wrap;
  }

  .v-banner--single-line & {
    flex-wrap: nowrap;
  }
}
