// Imports
@import './index';

.v-banner-thumbnail {
  flex: 0 1 auto;

  @include rounded($banner-query);

  @include ltr () {
    margin-left: $banner-thumbnail-margin-start;
    margin-right: $banner-thumbnail-margin-end;
  }

  @include rtl () {
    margin-right: $banner-thumbnail-margin-start;
    margin-left: $banner-thumbnail-margin-end;
  }

  &--is-mobile {
    @include ltr() {
      margin-right: $banner-mobile-thumbnail-padding-start;
    }

    @include rtl() {
      margin-left: $banner-mobile-thumbnail-padding-start;
    }
  }
}

.v-banner-thumbnail__avatar {
  border-radius: $banner-avatar-border-radius;
}
