// Imports
@import './index';

.v-banner__content {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  line-height: $banner-content-line-height;
  padding-bottom: $banner-content-padding-bottom;

  @include banner-mobile () {
    padding-bottom: $banner-mobile-content-padding-bottom;
  }

  @include banner-single-line () {
    padding-bottom: $banner-single-line-content-padding-bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include banner-thumbnail () {
    padding-bottom: $banner-mobile-content-padding-bottom;
  }
}
