// Imports
@import './index'

.v-banner
  background-color: $banner-background-color
  font-size: $banner-font-size
  padding-bottom: $banner-padding-bottom
  padding-top: $banner-padding-top
  position: relative
  width: $banner-width

  &::after
    +border($banner-border-color, $banner-border-style, $banner-border-width)

    bottom: 0
    content: ''
    left: 0
    position: absolute
    right: 0
    top: auto

  +elevation($banner-elevation)
  +position($banner-positions)
  +rounded($banner-border-radius)

  +ltr()
    padding-left: $banner-padding-start
    padding-right: $banner-padding-end

  +rtl()
    padding-right: $banner-padding-start
    padding-left: $banner-padding-end


  &--has-thumbnail
    +ltr()
      padding-left: $banner-thumbnail-padding-start


    +rtl()
      padding-right: $banner-thumbnail-padding-start


    &.v-banner--is-mobile
      padding-top: $banner-mobile-padding-top

  &--single-line
    padding-top: $banner-single-line-padding-top

    &.v-banner--is-mobile
      padding-top: $banner-mobile-single-line-padding-top

  &--sticky
    top: $banner-sticky-top

.v-banner__actions
  align-items: flex-end
  display: flex
  flex: 1 1 auto
  justify-content: flex-end

  +ltr()
    margin-left: $banner-actions-margin-start

  +rtl()
    margin-right: $banner-actions-margin-start

  .v-banner--is-mobile &
    flex-grow: 1

    +ltr()
      margin-left: $banner-mobile-single-line-actions-margin-start

    +rtl()
      margin-right: $banner-mobile-single-line-actions-margin-start

.v-banner__avatar
  border-radius: inherit
  height: inherit
  width: inherit

.v-banner__content
  align-items: center
  display: flex
  flex: 1 1 auto
  line-height: $banner-content-line-height
  min-width: 0
  overflow: visible
  padding-bottom: $banner-content-padding-bottom

  .v-banner--is-mobile &
    padding-bottom: $banner-mobile-content-padding-bottom

  .v-banner--single-line &
    padding-bottom: $banner-single-line-content-padding-bottom

.v-banner__icon
  align-items: center
  background-color: $banner-thumbnail-icon-background-color
  border-radius: inherit
  color: $banner-thumbnail-icon-color
  display: inline-flex
  font-size: $banner-thumbnail-icon-font-size
  height: inherit
  justify-content: center
  width: inherit

.v-banner__sizer
  display: flex
  flex: 1 1 auto
  margin: 0 auto
  max-width: $banner-sizer-max-width

  .v-banner--is-mobile &
    flex-wrap: wrap
    max-width: $banner-mobile-sizer-max-width

  .v-banner--single-line &
    flex-wrap: nowrap

.v-banner__text
  .v-banner--single-line &
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.v-banner__thumbnail
  align-self: flex-start
  border-radius: $banner-thumbnail-border-radius
  flex: 0 0 auto
  height: $banner-thumbnail-height
  width: $banner-thumbnail-width

  +ltr ()
    margin-left: $banner-thumbnail-margin-start
    margin-right: $banner-thumbnail-margin-end

  +rtl ()
    margin-right: $banner-thumbnail-margin-start
    margin-left: $banner-thumbnail-margin-end

  .v-banner--is-mobile &
    +ltr()
      margin-right: $banner-mobile-thumbnail-padding-start

    +rtl()
      margin-left: $banner-mobile-thumbnail-padding-start
