@import '../../styles/styles.sass';

$subheader-inset-margin: 56px !default;
$subheader-item-single-height: 48px !default;
$subheader-left-padding: 16px !default;
$subheader-right-padding: 16px !default;
