@use '../../styles/settings';

// VLabel
$label-color: inherit !default;
$label-disabled-color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity)) !default;
$label-display: inline-flex !default;
$label-error-color: rgb(var(--v-theme-error)) !default;
$label-font-size: 1rem !default;
$label-letter-spacing: .009375em !default;
