@use '../../styles/settings';
@use '../../styles/tools';

// VLabel
$label-color: inherit !default;
$label-disabled-color: tools.theme-color('on-surface', var(--v-disabled-opacity)) !default;
$label-display: inline-flex !default;
$label-error-color: rgb(var(--v-theme-error)) !default;
$label-font-size: 1rem !default;
$label-letter-spacing: .009375em !default;
$label-opacity: var(--v-medium-emphasis-opacity) !default;
