@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-item-group
    flex: 0 1 auto
    max-width: 100%
    position: relative
    transition: $item-group-transition
