@use 'sass:map';
@use 'sass:math';

$treeview-item-spacer-width: 10px !default;
$treeview-item-first-icon-margin-start: -6px !default;

$treeview-prepend-gap: 10px !default;
$treeview-action-width: 28px !default; // expand toggle VBtn
$treeview-indent-size: 28px !default; // matches the expand toggle VBtn
$treeview-slim-indent-size: 24px !default;

$treeview-indent-lines-padding-left: 12px !default;
$treeview-indent-lines-gap: 0 !default;
$treeview-indent-lines-opacity: .4 !default;
$treeview-indent-line-width: 1px !default;
$treeview-indent-line-width-half: math.round(math.div($treeview-indent-line-width, 2)) !default;
$treeview-indent-line-color: rgb(var(--v-theme-on-surface)) !default;
$treeview-indent-line-style: solid !default;
$treeview-indent-line-leaf-link-width: 24px !default;
$treeview-indent-line-leaf-margin-right: 4px !default;
$treeview-indent-line-border-radius: 4px !default;
