$treeview-transition: .2s map-get($transition, 'linear-out-slow-in') !default;
$treeview-node-x-margin: 26px !default;
$treeview-leaf-node-x-margin: 50px !default;
$treeview-direct-leaf-node-x-margin: 24px !default;
$treeview-label-font-size: 1.2rem !default;
$treeview-label-margin-left: 6px !default;
$treeview-label-icon-padding-right: 8px !default;
