@use '../settings';

@mixin transition-default() {
  &-enter-active {
    transition: 0.3s settings.$standard-easing;
  }

  &-leave-active {
    transition: 0.3s settings.$standard-easing;
  }

  &-move {
    transition: transform .5s settings.$standard-easing;
  }
}

// Component specific transitions
.dialog-transition,
.dialog-bottom-transition,
.dialog-top-transition {
  &-enter-active {
    transition: 225ms settings.$decelerated-easing
  }

  &-leave-active {
    transition: 125ms settings.$accelerated-easing
  }

  &-enter-active,
  &-leave-active {
    transition-property: transform, opacity;
    pointer-events: none;
  }
}

.dialog-transition {
  &-enter-from, &-leave-to {
    transform: scale(0.9);
    opacity: 0;
  }

  &-enter-to, &-leave-from {
    opacity: 1;
  }
}

.dialog-bottom-transition {
  &-enter-from, &-leave-to {
    transform: translateY(calc(50vh + 50%));
  }
}

.dialog-top-transition {
  &-enter-from, &-leave-to {
    transform: translateY(calc(-50vh - 50%));
  }
}

.picker-transition,
.picker-reverse-transition {
  @include transition-default();

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-leave-from,
  &-leave-active,
  &-leave-to {
    position: absolute !important;
  }
}

.picker-transition {
  @include transition-default();

  &-enter-from {
    transform: translate(0, 100%);
  }

  &-leave-to {
    transform: translate(0, -100%);
  }
}

.picker-reverse-transition {
  @include transition-default();

  &-enter-from {
    transform: translate(0, -100%);
  }

  &-leave-to {
    transform: translate(0, 100%);
  }
}

// Generic transitions
.expand-transition {
  @include transition-default();
}

.expand-x-transition {
  @include transition-default();
}

.scale-transition {
  @include transition-default();

  &-enter-from, &-leave-from, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

.scale-rotate-transition {
  @include transition-default();

  &-enter-from, &-leave, &-leave-to {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
}

.scale-rotate-reverse-transition {
  @include transition-default();

  &-enter-from, &-leave-from, &-leave-to {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }
}

.message-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }

  &-leave-from, &-leave-active {
    position: absolute;
  }
}

.slide-y-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.slide-y-reverse-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }
}

.scroll-y-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-from {
    transform: translateY(-15px);
  }

  &-leave-to {
    transform: translateY(15px);
  }
}

.scroll-y-reverse-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-from {
    transform: translateY(15px);
  }

  &-leave-to {
    transform: translateY(-15px);
  }
}

.scroll-x-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-from {
    transform: translateX(-15px);
  }

  &-leave-to {
    transform: translateX(15px);
  }
}

.scroll-x-reverse-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-from {
    transform: translateX(15px);
  }

  &-leave-to {
    transform: translateX(-15px);
  }
}

.slide-x-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

.slide-x-reverse-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateX(15px);
  }
}

.fade-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0 !important;
  }
}

.fab-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform: scale(0) rotate(-45deg);
  }
}
