// Block
.v-backdrop
  position: relative

// Element
.v-backdrop__content, .v-backdrop__front, .v-backdrop__back
  width: 100%
  position: absolute
  transition: all .3s

.v-backdrop__content, .v-backdrop__back
  overflow: auto
