.shake-animation {
    animation: shake .6s linear
}

@keyframes shake {
    0%, 100% { transform: translateX(0) }
    12%, 37%, 62%, 87% { transform: translateX(-10px) }
    25%, 50%, 75% { transform: translateX(10px) }
}
