for color_name, color_value in $theme
  global-color(color_name, color_value)

for color_name, color_value in $shades
  global-color(color_name, color_value)

if ($color-pack)
  for color_name, color in $colors
    for color_type, color_value in color
      if color_type == 'base'
        global-color(color_name, color_value)
        
      else if color_type != 'shades'
        global-color-accent(color_name, color_value)