.container
  margin-right: auto
  margin-left: auto
  flex-basis: 100%
  padding: $grid-gutters.lg

  for size, width in $container-max-widths
    @media only screen and (min-width: width)
      max-width: width
  
  @media $display-breakpoints.xs-only
    padding: $grid-gutters.xl

  &.fluid
    max-width: 100%
    width: 100%
  
  &.fill-height
    align-items: center
    display: flex
    
    .layout
      height: 100%
      flex: 1 1 auto
  
  &.grid-list
    for $size, $gutter in $grid-gutters
      &-{$size}
        padding: $gutter
        
        > .layout
          margin: -($gutter / 2)
          
          > .flex
            padding: ($gutter / 2)

.layout
  display: flex
  margin-right: -($grid-gutters.md / 2)
  margin-left: -($grid-gutters.md / 2)

  &.row, &.column
    flex: 0 1 auto
    
    &.grow
      flex-grow: 1

  &.row
    flex-direction: row

    &.reverse
      flex-direction: row-reverse

  &.column
    flex-direction: column
    
    &.reverse
      flex-direction: column-reverse

  &.wrap
    flex-wrap: wrap

  &.flex,
  &.child-flex > *
    flex: 1 1 auto

  .flex
    flex: 1 1 auto
    padding-right: ($grid-gutters.md / 2)
    padding-left: ($grid-gutters.md / 2)

  for size, width in $grid-breakpoints
    @media all and (min-width: width)
      &.row-{size} 
        flex-direction: row   

      &.column-{size}
        flex-direction: column

      &.child-flex-{size} > *   
        flex: 1

      for n in (1..$grid-columns)
        .flex.{size}{n}
          flex-basis: (n / $grid-columns * 100)%
          max-width: (n / $grid-columns * 100)%

        .flex.order-{size}{n}
          order: n

      for n in (0..$grid-columns)
        .flex.offset-{size}{n}
          margin-left: (n / $grid-columns * 100)%

.align
  &-start
    align-items: flex-start
  
  &-end
    align-items: flex-end
    
  &-center
    align-items: center
    
  &-baseline
    align-items: baseline
    
.justify
  &-start
    justify-content: flex-start
    
  &-end
    justify-content: flex-end
    
  &-center
    justify-content: center
    
  &-space-around
    justify-content: space-around
  
  &-space-between
    justify-content: space-between

.spacer
  flex-grow: 1

.scroll-y
  overflow-y: auto

.fill-height
  height: 100%
  
.show-overflow
  overflow: visible !important
  
.flexbox
  display: flex
