.theme--light
  /** Globals */
  --vuetify-background: #FAFAFA;
  --vuetify-dividers-color: rgba(#fff, .12)
  --vuetify-cards: #FFFFFF
  --vuetify-app-bar-color: rgba(#000, .26)

  /**  Chip */
  --vuetify-chip-background: $grey.lighten-2
  --vuetify-chip-color: rgba(#000, .87)

  /**  App */
  --vuetify-app-background: var(--vuetify-background)
  --vuetify-app-color: var(--vuetify-text-primary)

  /**  Texts */
  --vuetify-text-theme: #fff
  --vuetify-text-primary: rgba(#000, .87)
  --vuetify-text-secondary: rgba(#000, .54)
  --vuetify-text-disabled: rgba(#000, .38)
  --vuetify-text-link: $blue.darken-2
  --vuetify-text-link-hover: $grey.darken-3

  /**  Button */
  --vuetify-btn-disabled-color: rgba(#000, .26)
  --vuetify-btn-focused-color: rgba(#000, .12)
  --vuetify-btn-focused-alt-color: rgba(#fff, .6)
  --vuetify-btn-pressed-color: rgba(#999, .4)

.theme--dark
  /** Globals */
  --vuetify-background: #303030;
  --vuetify-dividers-color: rgba(#fff, .12)
  --vuetify-cards: #424242
  --vuetify-app-bar-color: #212121

  /**  Chip */
  --vuetify-chip-background: #FFF
  --vuetify-chip-color: rgba(#000, .87)

  /**  App */
  --vuetify-app-background: var(--vuetify-background)
  --vuetify-app-color: var(--vuetify-text-primary)

  /**  Texts */
  --vuetify-text-theme: #fff
  --vuetify-text-primary: #fff
  --vuetify-text-secondary: rgba(#fff, .70)
  --vuetify-text-disabled: rgba(#fff, .50)
  --vuetify-text-link: $blue.accent-1
  --vuetify-text-link-hover: $grey.lighten-3

  /**  Button */
  --vuetify-btn-disabled-color: rgba(#fff, .3)
  --vuetify-btn-focused-color: rgba(#fff, .12)
  --vuetify-btn-focused-alt-color: rgba(#fff, .1)
  --vuetify-btn-pressed-color: rgba(#ccc, .25)
