.modal-transition
  &-enter, &-leave-to
    transform: scale(0.5)

.modal-bottom-transition 
  &-enter, &-leave-to
    transform: translateY(100%)
    
.tab-transition
  &-enter
    transform: translate(100%, 0)
      
  &-leave, &-leave-active
    position: absolute
    top: 0
    
  &-leave-to
    position: absolute
    transform: translate(-100%, 0)

.tab-reverse-transition
  &-enter
    transform: translate(-100%, 0)
        
  &-leave, &-leave-to
    top: 0
    position: absolute
    transform: translate(100%, 0)  

.scale-transition
  &-enter, &-enter-active, &-leave, &-leave-to
    transition: $primary-transition
    
  &-enter, &-leave, &-leave-to
    opacity: 0
    transform: scale(0)

.slide-y-transition
  &-enter-active, &-leave, &-leave-to
    transition: $primary-transition
    
  &-enter, &-leave-to
    opacity: 0
    transform: translateY(-15px)

.slide-x-transition
  &-enter-active, &-leave, &-leave-to
    transition: $primary-transition
    
  &-enter, &-leave-to
    opacity: 0
    transform: translateX(-15px)