@import '../../styles/styles.sass';
@import '../../styles/tools/_functions.sass';

$simple-btn-active-opacity: 0.18 !default;
$simple-btn-border-radius: $border-radius-root !default;
$simple-btn-focus-opacity: 0.24 !default;
$simple-btn-font-weight: 500 !default;
$simple-btn-hover-opacity: 0.08 !default;
$simple-btn-letter-spacing: .0892857143em !default;
$simple-btn-outline-border-width: thin !default;
$simple-btn-rounded-border-radius: 28px !default;
$simple-btn-text-transform: uppercase !default;
$simple-btn-transition-duration: 0.28s !default;
$simple-btn-transition-fn: map-get($transition, 'fast-out-slow-in') !default;
$simple-btn-transition: opacity 0.2s map-get($transition, 'ease-in-out') !default;

$simple-btn-sizes: () !default;
$simple-btn-sizes: map-deep-merge(
  (
    'x-small': 20,
    'small': 28,
    'default': 36,
    'large': 44,
    'x-large': 52
  ),
  $simple-btn-sizes
);

$simple-btn-font-sizes: () !default;
$simple-btn-font-sizes: map-deep-merge(
  (
    'x-small': .625rem,
    'small': .75rem,
    'default': .875rem,
    'large': .875rem,
    'x-large': 1rem
  ),
  $simple-btn-font-sizes
);
