@import '../../styles/styles.sass';

$timeline-item-padding: 24px !default;
$timeline-dot-border-radius: 50% !default;
$timeline-inset-line-size: 4px !default;

$timeline-dot-sizes: () !default;
$timeline-dot-sizes: map-deep-merge(
  (
    'x-small': 22px,
    'small': 30px,
    'default': 38px,
    'large': 46px,
    'x-large': 54px,
  ),
  $timeline-dot-sizes
);

$timeline-dot-border-sizes: () !default;
$timeline-dot-border-sizes: map-deep-merge(
  (
    'x-small': 6px,
    'small': 8px,
    'default': 8px,
    'large': 8px,
    'x-large': 10px,
  ),
  $timeline-dot-border-sizes
);
