.v-timeline-horizontal
  display: table

.v-timeline-horizontal > div
  display: table-row

.v-timeline-horizontal__cell
  display: table-cell


.v-timeline-horizontal__divider > div
  vertical-align: middle
