@mixin application-theme($material)
  background: map-get($material, 'background')
  color: map-deep-get($material, 'text', 'primary')

  .text
    &--primary
      color: map-deep-get($material, 'text', 'primary') !important

    &--secondary
      color: map-deep-get($material, 'text', 'secondary') !important

    &--disabled
      color: map-deep-get($material, 'text', 'disabled') !important

@mixin firefox()
  @-moz-document url-prefix()
    @content
