.v-application
  display: flex
  background: rgb(var(--v-theme-background))
  color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity))

  a
    cursor: pointer

.v-application__wrap
    flex: 1 1 auto
    backface-visibility: hidden
    display: flex
    flex-direction: column
    max-width: 100%
    position: relative

// Firefox overrides
@-moz-document url-prefix()
  @media print
    .v-application
      display: block

      &__wrap
        display: block
