$btn-toggle-border-radius: 2px
$btn-toggle-btn-height: 48px !default
$btn-toggle-btn-padding: 0 12px !default
$btn-toggle-btn-width: 48px !default
$btn-toggle-btn-opacity: 0.8
$btn-toggle-round-radius: 24px !default
