@use 'sass:map';
@use '../../styles/settings';
@use '../../styles/tools';

// VIcon
$icon-left-margin-left: map.get(settings.$grid-gutters, 'md') !default;
$icon-letter-spacing: normal !default;
$icon-line-height: 1 !default;
$icon-margin-end: map.get(settings.$grid-gutters, 'md') !default;
$icon-margin-start: map.get(settings.$grid-gutters, 'md') !default;
$icon-size: 1em !default;
$icon-text-indent: 0 !default;
$icon-vertical-align: middle !default;

// Lists
$icon-sizes: () !default;
$icon-sizes: tools.map-deep-merge(
  (
    'x-small': 1em,
    'small': 1.25em,
    'default': 1.5em,
    'large': 1.75em,
    'x-large': 2em,
  ),
  $icon-sizes
);
