code
  background: $grey.base
  display: inline-block
  background-color: $grey.lighten-4
  border-radius: 3px
  white-space: pre-wrap
  font-size: 85%
  font-weight: 100 !important
  font-weight: 900 !important
  
  &:after,
  &:before
    content: "\00a0"
    letter-spacing: -1px