html
  font-size: $font-size-root
  line-height: $line-height-root
  color: $color-root
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
body
  background: $body-bg
  overflow-x: hidden
  font-family: $body-font-family
  
main
  margin: $spacers.one.y 0