html
  font-size: $font-size-root
  overflow-x: hidden
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.application
  font-family: $body-font-family
  line-height: $line-height-root

::-ms-clear
::-ms-reveal
  display: none

// Works on Chrome, Chrome for Android, Safari, Opera
::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-thumb
  background-color: $grey.lighten-1
  border-radius: calc(8px / 2)
  border: calc(8px / 4) solid $shades.white
