for n in (6..1)
  h{n}
    color: $heading-color
    font-size: $heading-base + ($heading-growth * (7 - n))
    font-weight: 400
    line-height: 110%
    
    @media screen and (max-width: $grid-breakpoints.sm)
      font-size: $heading-base + ($heading-growth * .6 * (7 - n))