for heading, options in $headings
  {heading}
    color: $heading-color
    font-size: options.size
    font-weight: options.weight
    line-height: options.line-height
    letter-spacing: options.letter-spacing
    margin-bottom: $spacers.three.y
    
    @media screen and (max-width: $grid-breakpoints.sm)
      font-size: options.size * .6