.display-4
  font-size: $headings.h1.size !important
  font-weight: $headings.h1.weight
  line-height: $headings.h1.line-height !important
  letter-spacing: $headings.h1.letter-spacing !important
  font-family: $headings.h1.font-family !important

.display-3
  font-size: $headings.h2.size !important
  font-weight: $headings.h2.weight
  line-height: $headings.h2.line-height !important
  letter-spacing: $headings.h2.letter-spacing !important
  font-family: $headings.h2.font-family !important

.display-2
  font-size: $headings.h3.size !important
  font-weight: $headings.h3.weight
  line-height: $headings.h3.line-height !important
  letter-spacing: $headings.h3.letter-spacing !important
  font-family: $headings.h3.font-family !important

.display-1
  font-size: $headings.h4.size !important
  font-weight: $headings.h4.weight
  line-height: $headings.h4.line-height !important
  letter-spacing: $headings.h4.letter-spacing !important
  font-family: $headings.h4.font-family !important

.headline
  font-size: $headings.h5.size !important
  font-weight: $headings.h5.weight
  line-height: $headings.h5.line-height !important
  letter-spacing: $headings.h5.letter-spacing !important
  font-family: $headings.h5.font-family !important

.title
  font-size: $headings.h6.size !important
  font-weight: $headings.h6.weight
  line-height: $headings.h6.line-height !important
  letter-spacing: $headings.h6.letter-spacing !important
  font-family: $headings.h6.font-family !important

.subheading
  font-size: $headings.subheading.size !important
  font-weight: $headings.subheading.weight

.body-2
  font-size: $headings.body-2.size !important
  font-weight: $headings.body-2.weight

.body-1
  font-size: $headings.body-1.size !important
  font-weight: $headings.body-1.weight

.caption
  font-size: $headings.caption.size !important
  font-weight: $headings.caption.weight

.v-btn
  font-size: $headings.button.size
  font-weight: $headings.button.weight

p
  margin-bottom: $spacers.three.y
