.display-4
  font-size: $headings.h1.size
  font-weight: $headings.h1.weight
  line-height: $headings.h1.line-height
  letter-spacing: $headings.h1.letter-spacing
  
.display-3
  font-size: $headings.h2.size
  font-weight: $headings.h2.weight
  line-height: $headings.h2.line-height
  letter-spacing: $headings.h2.letter-spacing
  
.display-2
  font-size: $headings.h3.size
  font-weight: $headings.h3.weight
  line-height: $headings.h3.line-height
  letter-spacing: $headings.h3.letter-spacing
  
.display-1
  font-size: $headings.h4.size
  font-weight: $headings.h4.weight
  line-height: $headings.h4.line-height
  letter-spacing: $headings.h4.letter-spacing
  
.headline
  font-size: $headings.h5.size
  font-weight: $headings.h5.weight
  line-height: $headings.h5.line-height
  letter-spacing: $headings.h5.letter-spacing
  
.title
  font-size: $headings.h6.size
  font-weight: $headings.h6.weight
  line-height: $headings.h6.line-height
  letter-spacing: $headings.h6.letter-spacing
  
.subheading
  font-size: 16px
  
p
  margin-bottom: $spacers.three.y