.application
  display: flex
  -webkit-backface-visibility: hidden
  flex-wrap: wrap
  overflow: hidden
  position: relative
  
  &--column
    flex-direction: column
    
  &--row      
    > main
      flex-direction: column

  &--dark
    background: $body-bg-dark
    color: $color-dark
    
  &--light
    background: $body-bg-light
    color: $color-light

.app
  &__bar
    align-items: center
    background: $grey.lighten-3
    display: flex
    width: 100%

    .btn-dropdown--overflow .input-group
      border: none
      margin: 0

    .input-group__details
      display: none

    > div
      min-width: 130px
      &:not(:first-child)
        margin-left: 1px

        &:before
          content: ''
          position: absolute
          height: 60%
          top: 50%
          transform: translateY(-50%)
          left: -1px
          background: $material-twelve-percent-dark
          width: 1px
          z-index: 0

    .input-group:not(.input-group--focused)
      .input-group__input
        &:hover
          background: $grey.lighten-4

    .btn-toggle
      box-shadow: none
      background: transparent
      position: relative
      padding: 0 8px

      .btn
        background: transparent
        border: none !important
        height: 42px
        margin: 0 8px

        .icon
          font-size: 26px
          width: 26px
