.with
  display: flex
  flex-flow: column nowrap
  min-height: 100vh
  
  &.top-fixed-navbar
    padding-top: $navbar-min-height + $spacers.double.y
      
    header
      position: fixed
      top: 0
      z-index: 4

  &.top-navbar
    main
      > .content
        padding-top: $spacers.one.y
      
  &.left-fixed-sidebar
    main,
    header,
    footer
      padding-left: $sidebar-width
      transition: $primary-transition
  
      @media screen and (max-width: $grid-breakpoints.sm)
        padding-left: 0
        
  &.left-sidebar
    .sidebar
      box-shadow: none
      
    main
      background: $theme.secondary
      
      > .content
        background: #fff
  
  &.right-fixed-sidebar
    main,
    header,
    footer
      padding-right: $sidebar-width
      transition: $primary-transition
      
      @media screen and (max-width: $grid-breakpoints.sm)
        padding-right: 0