for size, mediaQuery in $display-breakpoints
  .hidden
    &-{size}
      @media mediaQuery
        display: none !important

.overflow-hidden
  overflow: hidden

.overflow-x-hidden
  overflow-x: hidden

.overflow-y-hidden
  overflow-y: hidden
