for size, width in $grid-breakpoints
  .hidden
    &-{size}-and-up
      display: none
      
      @media screen and (max-width: width)
        display: initial !important

    &-{size}-and-down
      display: none
      
      @media screen and (min-width: width)
        display: initial !important