$i = 0
for size, width in $grid-breakpoints
  @media all and (min-width: width)
    for level, spacer in $spacers
      .{size}-mt-{$i}
        margin-top: spacer.y !important
      .{size}-mr-{$i}
        margin-right: spacer.x !important
      .{size}-mb-{$i}
        margin-bottom: spacer.y !important
      .{size}-ml-{$i}
        margin-left: spacer.x !important
      .{size}-mx-{$i}
        margin-left: spacer.x !important
        margin-right: spacer.x !important
      .{size}-my-{$i}
        margin-top: spacer.y !important
        margin-bottom: spacer.y !important
      .{size}-ma-{$i}
        margin: spacer.y spacer.x !important

      .{size}-pt-{$i}
        padding-top: spacer.y !important
      .{size}-pr-{$i}
        padding-right: spacer.x !important
      .{size}-pb-{$i}
        padding-bottom: spacer.y !important
      .{size}-pl-{$i}
        padding-left: spacer.x !important
      .{size}-px-{$i}
        padding-left: spacer.x !important
        padding-right: spacer.x !important
      .{size}-py-{$i}
        padding-top: spacer.y !important
        padding-bottom: spacer.y !important
      .{size}-pa-{$i}
        padding: spacer.y spacer.x !important

      $i = $i + 1
