.blockquote
  padding: map-deep-get($spacers, 'three', 'y') 0 map-deep-get($spacers, 'three', 'y') map-deep-get($spacers, 'four', 'x')
  font-size: $blockquote-font-size
  font-weight: $blockquote-font-weight
