.v-application
  code, kbd
    border-radius: $code-kbd-border-radius
    font-size: $code-kbd-font-size
    font-weight: $code-kbd-font-weight

  code
    background-color: $code-background-color
    color: $code-color
    padding: $code-padding

  kbd
    background: $kbd-background-color
    color: $kbd-color
    padding: $kbd-padding
