@use '../../styles/settings';

// VTypography
$typography-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !default;
$typography-font-family: settings.$body-font-family !default;
$typography-line-height: 1.5 !default;
$typography-margin: 0 !default;
$typography-padding: 0 !default;

// Lists
$typography-theme: (
  $typography-color
) !default;
