@use '../../styles/tools'
@use './variables' as *

@include tools.layer('components')
  .v-typography
    display: block
    line-height: 1.5
    text-decoration: none
    text-transform: none
    margin: 0
    padding: 0
