button($material)
  color: $material.text.primary

  &:focus, &:hover
    .btn__content
      &:before
        background-color: $material.buttons.focused

  &:disabled
    box-shadow: none !important
    color: $material.buttons.disabled
    pointer-events: none
    opacity: .4
    
    &:not(.btn--icon):not(.btn--flat)
      background-color: $material.buttons.focused !important
  
  &:not(.btn--icon):not(.btn--flat)
    background-color: $material.app-bar
  
  &.btn--icon .icon
    color: $material.icons.active