button-toggle($material)
  &--selected
    background: $material.background

  &[data-selected]
    opacity: 1
    background-color: $material.dividers !important

    &:not(:last-child):not([data-only-child])
      border-right-color: $material.dividers
