button-toggle($material)
  // &--selected
  //   background: $material.background

  // &[data-selected]
  //   opacity: 1
  //   // background: rgba($material-theme.fg-color, $material-theme.divider-percent)

  //   &:not(:last-child):not([data-only-child])
  //     // border-right-color: rgba($material-theme.fg-color, $material-theme.divider-percent)