button($material)
  color: $material.text.primary

  &:not(.btn--icon)
    &:focus,
    &:hover
      .btn__content
        &:before
          background-color: $material.buttons.focused

  &:disabled
    box-shadow: none !important
    color: $material.buttons.disabled
    pointer-events: none
    opacity: .4
    
    &:not(.btn--icon):not(.btn--flat)
      background-color: $material.buttons.focused !important
  
  &:not(.btn--icon):not(.btn--flat)
    background-color: $material.app-bar
  
  &.btn--icon,
  &.btn--floating
    color: $material.icons.active