input-group-theme(color, offset, dirty, background)
  .input-group__hint:before
    background-color: background

  input, textarea
    color: color
    
    + .icon
      color: color

    &:disabled
      color: color
    
  label
    color: color

  &.input-group--disabled
    input, textarea
      color: color !important

    .input-group__hint:before
      background-image: linear-gradient(to right, rgba(offset,0.38) 0, rgba(offset,0.38) 33%, transparent 0)
    
  &.input-group--single-line&.input-group--focused
    label
      color: color
    
  .input-group__append-icon, .input-group__prepend-icon
    color: rgba(offset, .6)
    
  &.input-group--dirty
    input, textarea
      color: dirty