input-group($material)
  input,
  textarea
    color: $material.text.primary

    &:disabled
      color: $material.text.disabled
    
  .input-group__details
    color: $material.text.secondary
  
  &.input-group--textarea:not(.input-group--full-width)
    textarea
      border: 2px solid $material.text.secondary
  
  // This is specific for selects
  &.input-group--dirty
    .input-group__selections__comma
      color: $material.text.primary
  
  &:not(.input-group--error)
    label
      color: $material.text.secondary

    .input-group__details:before
      background-color: $material.input-bottom-line

    &:not(.input-group--focused)
      .input-group__input
        .input-group__append-icon,
        .input-group__prepend-icon
          color: $material.text.secondary

      &:not(.input-group--disabled)
        :not(.input-group--overflow)
        :not(.input-group--segmented)
        :not(.input-group-editable):hover
          .input-group__details:before
            background-color: $material.text.primary

          &.input-group--textarea:not(.input-group--full-width)
            textarea
              border-color: $material.text.primary
  
  .input-group__counter
    color: $material.text.secondary

  &.input-group
    &--overflow, &--segmented, &--editable
      .input-group__input,
      .input-group__details
        &:before
          background-color: $material.dividers

  &.input-group--disabled
    input,
    // textarea
      color: $material.text.secondary
    
    .input-group__details:before
      background-color: transparent
      background-image: linear-gradient(
        to right,
        $material.text.disabled 0,
        $material.text.disabled 33%,
        transparent 0
      )
  
  .input-group--text-field
    &__prefix, &__suffix
      color: $material.text.secondary