list($material)
  background: $material.cards

  .list__tile:not(.list__tile--active)
    color: $material.text.primary
  
  .list__tile__sub-title
    color: $material.text.secondary
  
  .subheader
    color: $material.text.secondary
  
  .divider
    background-color: $material.dividers