navigation-drawer(color)
  .list__tile
    color: color
    
  .list--group__header--active
    .list__tile
      &:after
        background: rgba(color, .12)
      
    + .list--group
      &:after
        background: rgba(color, .12)
  
