navigation-drawer($material)
  background-color: $material.cards

  &__border
    background-color: $material.dividers
  
  &.navigation-drawer--right
    &:after
      left: 0
      right: initial

  a,
  .subheader,
  .list
    color: $material.text.primary
    
  .divider
    background-color: $material.dividers

  .list    
    &__tile
      color: $material.text.primary
    
    &__tile__sub-title
      color: $material.text.secondary

  .list--group__header--active
    .list__tile, + .list--group
      &:after
        background: $material.dividers
