navigation-drawer($material)
  background-color: $material.cards
  border-right: $material.dividers
  
  &.navigation-drawer--right
    border-right: none
    border-left: $material.dividers

  a, .icon, .subheader, .list
    color: $material.text.primary
    
  .divider
    background-color: $material.dividers

  .list--group__header--active
    .list__tile, + .list--group
      &:after
        background: $material.dividers
