radio($material)
  color: $material.selection-controls.active

  .icon, &:not(.input-group--active) .input-group__input
    color: $material.text.secondary

  &.input-group--active
    .icon
      color: inherit

  &.input-group--disabled
    .input-group__input
      color: $material.text.disabled

      .icon
        color: inherit
