selection-controls-switch-theme(color, background, disabledColor, disabledBackground)
  .input-group--selection-controls__toggle
    background: color
      
  .input-group--selection-controls__ripple
    color: color
    
    &:after
      background: background

  &.input-group--selection-controls__container--disabled          
    .input-group--selection-controls__toggle
      background: disabledColor
      
    .input-group--selection-controls__ripple
      color: disabledColor
      
      &:after
        background: disabledBackground
        
selection-controls-checkbox-theme(color, labelColor, disabledColor)
  + label
    color: labelColor
    
  .input-group--selection-controls__ripple
    color: color
    
  .icon
    color: color
    
  &.input-group--selection-controls__container--active
    .input-group--selection-controls__ripple
      color: inherit
      
    .icon
      color: inherit
    
  &.input-group--selection-controls__container--disabled
    .input-group--selection-controls__ripple
      color: disabledColor
      
    .icon
      color: disabledColor