stepper($material)
  background: $material.bg-color

  .stepper__step
    &:not(.stepper__step--active):not(.stepper__step--complete)
      .stepper__step__step
        background: rgba($material.fg-color, $material.disabledORhints-text-percent)

    &__step
      color: $material.stepper.active

      .icon
        color: $material.stepper.active

  .stepper__header
    .divider
      background: rgba($material.fg-color, $material.divider-percent)

  .stepper__step
    &--active
      .stepper__label
        text-shadow: 0px 0px 0px rgba($material.fg-color, 1)

    &--editable:hover
      background: rgba($material.fg-color, .06)

      .stepper__label
        text-shadow: 0px 0px 0px rgba($material.fg-color, 1)

    &--complete
      .stepper__label
        color: $material.stepper.completed

    &--inactive
      &.stepper__step--editable
        &:hover
          .stepper__step__step
            background: $material.stepper.hover

  .stepper__label
    color: rgba($material.fg-color, $material.disabledORhints-text-percent)

    small
      color: rgba($material.fg-color, $material.secondary-text-percent)

  &--non-linear
    .stepper__step:not(.stepper__step--complete)
      .stepper__label
        color: rgba($material.fg-color, $material.secondary-text-percent)

  &--vertical
    .stepper__content:not(:last-child)
      border-left: 1px solid rgba($material.fg-color, $material.divider-percent)
