switch($material)
  .input-group--selection-controls__toggle
    background-color: $material.text.disabled
  
  .input-group--selection-controls__ripple
    &:after
      background-color: $material.background