switch($material)
  .input-group--selection-controls__container
    color: $material.selection-controls.active
  
  .input-group--selection-controls__ripple
    &:after
      background-color: $material.selection-controls.thumb.inactive

    &--active:after
      background-color: $material.selection-controls.active
  
  .input-group--selection-controls__toggle
    color: $material.selection-controls.track.inactive
    
    &--active
      color: inherit