system-bar($material)
  background-color: $material.status-bar.regular
  color: $material.text.secondary
  
  .icon
    color: $material.text.secondary
    
  &--lights-out
    background-color: $material.status-bar.lights-out !important