tabs($material)
  .tabs__item
    color: $material.tabs.inactive

    &.tabs__item--active
      color: $material.tabs.active

    &.tabs__item--disabled
      color: $material.buttons.disabled

  .icon--left,
  .icon--right
    color: $material.icons.active
