input-group-theme(color, offset, dirty)
  input, textarea
    color: color

    &:disabled
      color: color
    
  label
    color: color
    
  &.input-group--single-line&.input-group--focused
    label
      color: color
    
  &.input-group--dirty
    input, textarea
      color: dirty
  
  .input-group__counter
    color: color
    
  .input-group__details
    color: color

  &.input-group--disabled
    input, textarea
      color: color
    
    .input-group__details:before
      background-color: transparent
  
  .input-group--text-field
    &__prefix, &__suffix
      color: color