toolbar($material)
  background-color: $material.app-bar
  color: $material.text.primary
  
  .toolbar__side-icon,
  .toolbar__title,
    .icon
      color: $material.text.primary
  
  .toolbar__item
    color: $material.text.primary
    
    &:hover
      background: $material.dividers