toolbar($material)
  background-color: $material.app-bar
  color: $material.text.primary

  .btn--icon, .icon
    color: $material.icons.active
  
  .toolbar__item
    color: $material.text.primary
    
    &:hover
      background: $material.dividers