toolbar($material)
  background-color: $material.app-bar
  color: $material.text.primary

  .btn
    button($material)
  
  .toolbar__item
    color: $material.text.primary
    
    &:hover
      background: $material.dividers