.v-pull-to-refresh
  overflow: hidden
  position: relative
  &__pull-down
    position: absolute
    width: 100%
    transition: top .3s ease-out
    &--touching
      transition: none

  &__pull-down-default
    display: flex
    width: 100%
    height: 100%
    justify-content: center
    align-items: flex-end
    padding-bottom: 10px

  &__scroll-container
    position: relative
    transition: top .3s ease-out
    &--touching
      transition: none
