$responsive-flex: 1 0 auto !default;
$responsive-max-height: 100% !default;
$responsive-max-width: 100% !default;
$responsive-content-flex: 1 0 0px !default;
$responsive-content-max-width: 100% !default;
$responsive-sizer-content-inline-start: -100% !default;
$responsive-sizer-flex: 1 0 0px !default;
