$checkerboard: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgYGCQwoKxgqGgcJA5h3yFAAs8BRWVSwooAAAAAElFTkSuQmCC) repeat;
$swatch-color-width: 45px !default;
$swatch-color-height: 20px !default;
$swatch-color-margin: 2px 4px !default;
$swatch-color-border-radius: 2px !default;
$swatch-margin-bottom: 10px !default;
