.v-color-picker-swatches {
  overflow-y: auto;
}
.v-color-picker-swatches > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}

.v-color-picker-swatches__swatch {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.v-color-picker-swatches__color {
  position: relative;
  height: 18px;
  max-height: 18px;
  width: 45px;
  margin: 2px 4px;
  border-radius: 2px;
  user-select: none;
  overflow: hidden;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAACRJREFUKFNjPHTo0H8GJGBnZ8eIzGekgwJk+0BsdCtRHEQbBQBbbh0dIGKknQAAAABJRU5ErkJggg==) repeat;
  cursor: pointer;
}
.v-color-picker-swatches__color > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}