@import './_variables.scss'

.v-color-picker__edit
  margin-top: 24px
  display: flex

.v-color-picker__input
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  text-align: center

  &:not(:last-child)
    margin-right: 8px

  input
    border-radius: $color-picker-border-radius
    margin-bottom: 8px
    min-width: 0
    outline: none
    text-align: center
    width: 100%
    height: 28px

  span
    font-size: 0.75rem
