$color-pack: true !default;

$grid-breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px - 16px,
  'xl': 1920px - 16px
) !default;
$grid-gutter: 8px !default;
$grid-columns: 12 !default;

$grid-gutters: (
  'xs': $grid-gutter / 4,
  'sm': $grid-gutter / 2,
  'md': $grid-gutter,
  'lg': $grid-gutter * 2,
  'xl': $grid-gutter * 3
) !default;

$container-max-widths: (
  'md': map-get($grid-breakpoints, 'md'),
  'lg': map-get($grid-breakpoints, 'lg'),
  'xl': map-get($grid-breakpoints, 'xl')
) !default;

$display-breakpoints: (
  'print-only': 'only print',
  'screen-only': 'only screen',
  'xs-only': 'only screen and (max-width: #{map-get($grid-breakpoints, 'sm') - 1})',
  'sm-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')}) and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
  'sm-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
  'sm-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})',
  'md-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')}) and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
  'md-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
  'md-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')})',
  'lg-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
  'lg-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
  'lg-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')})',
  'xl-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'xl')})'
) !default;

$spacer: 16px !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$spacers: (
  'zero': (
    'x': 0,
    'y': 0
  ),
  'one': (
    'x': $spacer-x * 0.25,
    'y': $spacer-y * 0.25
  ),
  'two': (
    'x': $spacer-x * 0.5,
    'y': $spacer-y * 0.5
  ),
  'three': (
    'x': $spacer-x,
    'y': $spacer-y
  ),
  'four': (
    'x': $spacer-x * 1.5,
    'y': $spacer-y * 1.5
  ),
  'five': (
    'x': $spacer-x * 3,
    'y': $spacer-y * 3
  )
) !default;

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900
) !default;

$heading-font-family: $body-font-family !default;

$headings: (
  'h1': (
    'size': 112px,
    'weight': 300,
    'line-height': 1,
    'letter-spacing': -0.04em,
    'font-family': $heading-font-family
  ),
  'h2': (
    'size': 56px,
    'weight': 400,
    'line-height': 1.35,
    'letter-spacing': -0.02em,
    'font-family': $heading-font-family
  ),
  'h3': (
    'size': 45px,
    'weight': 400,
    'line-height': 48px,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h4': (
    'size': 34px,
    'weight': 400,
    'line-height': 40px,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h5': (
    'size': 24px,
    'weight': 400,
    'line-height': 32px,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h6': (
    'size': 20px,
    'weight': 500,
    'line-height': 1,
    'letter-spacing': 0.02em,
    'font-family': $heading-font-family
  ),
  'subheading': (
    'size': 16px,
    'weight': 400
  ),
  'body-2': (
    'size': 14px,
    'weight': 500
  ),
  'body-1': (
    'size': 14px,
    'weight': 400
  ),
  'caption': (
    'size': 12px,
    'weight': 400
  ),
  'button': (
    'size': 14px,
    'weight': 500
  )
) !default;

$transition: (
  'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
  'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
  'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
  'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
  'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
  'swing': cubic-bezier(0.25, 0.8, 0.5, 1)
) !default;
$primary-transition: 0.3s map-get($transition, 'swing') !default;
$secondary-transition: 0.2s map-get($transition, 'ease-in-out') !default;

$alert-color: inherit !default;
$alert-border-radius: 0 !default;
$alert-border-width: 4px 0 0 0 !default;
$alert-font-size: $font-size-root !default;
$alert-icon-color: rgba(map-get($material-light, 'fg-color'), 0.3) !default;
$alert-icon-font-size: 24px !default;
$alert-padding: 16px !default;
$alert-margin: map-get(map-get($spacers, 'one'), 'y') auto !default;
$alert-outline-border-width: 1px !default;
$alert-outline-border-style: solid !default;

$badge-border-radius: 50% !default;
$badge-color: map-get($material-dark, 'fg-color') !default;
$badge-font-family: $body-font-family !default;
$badge-font-size: 14px !default;
$badge-height: 22px !default;
$badge-top: 0 !default;
$badge-right: 0 !default;
$badge-width: 22px !default;

$breadcrumbs-flex: 0 1 auto !default;
$breadcrumbs-padding: 18px 12px !default;
$breadcrumbs-even-child-padding: 0 12px !default;
$breadcrumbs-item-font-size: 14px !default;
$breadcrumbs-item-large-font-size: 16px !default;
$breadcrumbs-margin: 0 !default;
$breadcrumbs-padding: 0 14px !default;

/** Buttons */
$button-border-radius: 2px !default;
$button-color: map-get($material-light, 'fg-color') !default;
$button-background-color: #999999 !default;
$button-height: 36px !default;
$button-font-size: 14px !default;
$button-font-weight: 500 !default;
$button-margin-y: 6px !default;
$button-margin-x: 8px !default;
$button-margin: $button-margin-y $button-margin-x !default;
$button-min-width: 88px !default;
$button-small-padding: 0 8px !default;
$button-padding: 0 16px !default;
$button-large-padding: 0 32px !default;
$button-text-transform: uppercase !default;

$button-small-height: 28px !default;
$button-small-font-size: 13px !default;

$button-large-height: 44px !default;
$button-large-font-size: 15px !default;

$button-floating-width: 56px !default;
$button-floating-icon-height: 24px !default;
$button-floating-icon-width: 24px !default;
$button-floating-small-width: 40px !default;
$button-floating-large-width: 72px !default;
$button-floating-small-icon-width: 18px !default;
$button-floating-large-icon-width: 30px !default;
$button-outline-color: rgba(#000, 0.12) !default;

/** Cards */
$card-border-radius: 2px !default;

/** Chips */
$chip-border-radius: 28px !default;
$chip-close-margin: 0 2px 0 8px !default;
$chip-close-margin-rtl: 0 8px 0 2px !default;
$chip-font-size: 13px !default;
$chip-label-border-radius: $card-border-radius !default;
$chip-icon-font-size: 20px !default;
$chip-padding: 0 12px !default;
$chip-outline-background: transparent !important !default;
$chip-outline-color: map-get($grey, 'base') !default;
$chip-height: 32px !default;
$chip-margin: 4px !default;
$chip-small-height: 24px !default;
$chip-small-font-size: 20px !default;
$chip-icon-offset: 12px !default;
$chip-icon-negative-offset: -8px !default;

$chip-removeable-padding: 0 $chip-margin 0 $chip-icon-offset !default;
$chip-removable-padding-rtl: 0 $chip-icon-offset 0 $chip-margin !default;

$chip-removable-padding: $chip-removeable-padding !default;

/** Expansion panels */
$expansion-panel-collapse-height: 48px !default;
$collapsible-transition-height: 0.23s !default;

/** Footer */
$footer-height: 36px !default;

/** Lists */
$list-tile-font-size: map-get(map-get($headings, 'subheading'), 'size') !default;
$list-tile-font-weight: map-get(map-get($headings, 'subheading'), 'weight') !default;

$list-action-text-font-size: 12px !default;
$list-action-text-font-color: map-get($grey, 'base') !default;

$list-sub-title-font-size: $list-tile-font-size - 2px !default;

$subheader-height-font-size: $list-tile-font-size - 2px !default;
$subheader-font-weight: map-get($font-weights, 'medium') !default;

$list-left-padding: 16px !default;
$list-right-padding: 16px !default;
$list-top-padding: 8px !default;
$list-bottom-padding: 8px !default;

$list-item-right-margin: 56px !default;
$list-item-left-padding: 72px !default;
$list-item-avatar-triple-margin-top: -18px !default;
$list-item-single-height: 48px !default;
$list-item-double-height: 72px !default;
$list-item-triple-height: 88px !default;
$list-item-avatar-single-height: 56px !default;

$subheader-inset-margin: $list-item-right-margin !default;

$list-item-dense-font-size: $list-tile-font-size - 3px !default;
$subheader-dense-font-size: $list-item-dense-font-size !default;
$list-item-dense-icon-font-size: 22px !default;
$list-item-dense-avatar-triple-margin-top: -14px !default;
$list-item-dense-top-padding: $list-top-padding / 2 !default;
$list-item-dense-single-height: $list-item-single-height - 8px !default;
$list-item-dense-double-height: $list-item-double-height - 12px !default;
$list-item-dense-triple-height: $list-item-triple-height - 12px !default;

$list-item-dense-avatar-single-height: $list-item-single-height !default;
$list-item-dense-avatar-height: 38px !default;

$list-dense-subheader-height: $list-item-dense-single-height !default;
$list-dense-subheader-group-height: $list-dense-subheader-height !default;

/** Sheets */
$sheet-border-radius: 2px !default;

/** Time pickers */
$time-picker-number-font-size: 16px !default;
$time-picker-indicator-size: 40px !default;

/** Toolbars */
$toolbar-height: 56px !default;
$toolbar-item-padding: 0 16px !default;
$toolbar-padding-y: 0 !default;
$toolbar-padding-x: 16px !default;

/** Circular progress bars */
$progress-circular-rotate-animation: progress-circular-rotate 1.4s linear infinite !default;
$progress-circular-rotate-dash: progress-circular-dash 1.4s ease-in-out infinite !default;
$process-circular-intermediate-svg-transition: all 0.2s ease-in-out !default;
$progress-circular-underlay-stroke: rgba(map-get($material-light, 'fg-color'), 0.1) !default;
$progress-circular-overlay-transition: all 0.6s ease-in-out !default;

/** Navigation drawers */
$navigation-drawer-item-font-size: 14px !default;
$navigation-drawer-item-font-weight: map-get($font-weights, 'medium') !default;
$navigation-drawer-group-item-font-weight: map-get($font-weights, 'regular') !default;

/** Snackbars */
$snackbar-color: #fff !default;
$snackbar-background-color: #323232 !default;
$snackbar-corner-offset: 24px !default;

$tab-text-transform: uppercase !default;

/** Inputs */
$input-top-spacing: 16px !default;
$text-field-active-label-height: 12px !default;

/** Timelines */
$timeline-wedge-size: 10px !default;
$timeline-dot-small-size: 24px !default;
$timeline-dot-regular-size: 38px !default;
$timeline-dot-large-size: 52px !default;

$timeline-inner-dot-small-size: 18px !default;
$timeline-inner-dot-small-margin: 3px !default;
$timeline-inner-dot-regular-size: 30px !default;
$timeline-inner-dot-regular-margin: 4px !default;
$timeline-inner-dot-large-size: 42px !default;
$timeline-inner-dot-large-margin: 5px !default;

/** Ripples */
$ripple-animation-transition-in: transform 0.25s map-get($transition, 'fast-out-slow-in'), opacity 0.1s map-get($transition, 'fast-out-slow-in') !default;
$ripple-animation-transition-out: opacity 0.3s map-get($transition, 'fast-out-slow-in') !default;
$ripple-animation-visible-opacity: 0.15 !default;

/** Treeviews */
$treeview-transition: 0.2s map-get($transition, 'linear-out-slow-in') !default;
