$progress-linear-stripe-gradient: linear-gradient(
                                              135deg,
                                              hsla(0,0%,100%,.15) 25%,
                                              transparent 0,
                                              transparent 50%,
                                              hsla(0,0%,100%,.15) 0,
                                              hsla(0,0%,100%,.15) 75%,
                                              transparent 0,
                                              transparent
                                            ) !default;
