$command-palette-input-padding: 8px 16px !default;
$command-palette-no-data-padding: 16px !default;
$command-palette-no-data-opacity: 0.6 !default;
$command-palette-subheader-opacity: 0.7 !default;
$command-palette-divider-margin: 4px !default;
