@use '../../styles/tools';

@include tools.layer('components') {
  .v-command-palette {
    &__sheet.v-sheet {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      overflow: hidden;
    }

    &__dialog.v-dialog {
      align-items: start;
      // Good enough for now. A user may want to be able to control this.
      padding-top: calc(0.05px + 13vh);
    }
    &__list.v-list {
      padding: 8px;

      .v-list-item__overlay {
        transition: none;
      }
    }

    &__list-divider {
      // &-start, &-end {
      //   margin: 0 -8px;
      // }
      &-end {
        margin-bottom: 4px;
      }
    }
  }
  .v-command-palette-instructions {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    font-size: 0.8rem;
    border-top: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
  }
}
