@use '../../styles/tools';

@include tools.layer('components') {
  .v-command-palette {
    > .v-overlay__content > .v-sheet {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
    }

    &__content {
      overflow-y: auto;
    }

    &__list {
      .v-list-subheader {
        opacity: 0.7;
        user-select: none;
      }

      .v-divider {
        margin-block: 4px;
      }
    }
  }
}
