@use '../../styles/tools';

@include tools.layer('components') {
  .v-hotkey {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-family: monospace;

    &__key {
      background: rgba(var(--v-theme-on-surface), 0.1);
      border: thin solid rgba(var(--v-theme-on-surface), 0.2);
      border-radius: 4px;
      padding: 2px 6px;
      font-size: 0.8em;
      line-height: 1;
      white-space: nowrap;
    }

    &__divider {
      opacity: 0.5;
    }
  }
}