// Defaults
$breadcrumbs-density: ('default': 0, 'comfortable': -1, 'compact': -2) !default;
$breadcrumbs-divider-padding: 0 8px !default;
$breadcrumbs-height: 40px !default;
$breadcrumbs-item-disabled-opacity: var(--v-disabled-opacity) !default;
$breadcrumbs-item-link-text-decoration: underline !default;
$breadcrumbs-line-height: map-deep-get($typography, 'subtitle-2', 'line-height') !default;
$breadcrumbs-padding: 16px !default;
$breadcrumbs-rounded-border-radius: $border-radius-root !default;
$breadcrumbs-vertical-align: middle !default;
$breadcrumbs-item-padding: 0 4px !default;
