@import '../../styles/styles.sass';

$breadcrumbs-flex: 0 1 auto !default;
$breadcrumbs-padding: 18px 12px !default;
$breadcrumbs-even-child-padding: 0 12px !default;
$breadcrumbs-item-font-size: 14px !default;
$breadcrumbs-item-large-font-size: 16px !default;
$breadcrumbs-margin: 0 !default;
$breadcrumbs-padding: 0 14px !default;
