@import ./index

.v-breadcrumbs
  line-height: $breadcrumbs-line-height
  padding: $breadcrumbs-padding

  &--rounded
    @include rounded($breadcrumbs-rounded-border-radius)

  @at-root
    @include density('v-breadcrumbs', $breadcrumbs-density) using ($modifier)
      padding-top: $breadcrumbs-padding + $modifier
      padding-bottom: $breadcrumbs-padding + $modifier


.v-breadcrumbs-item
  color: inherit
  display: inline-block
  padding: $breadcrumbs-item-padding
  text-decoration: none
  vertical-align: text-top

  &--link:hover
    text-decoration: $breadcrumbs-item-link-text-decoration

  &--disabled
    opacity: $breadcrumbs-item-disabled-opacity
    pointer-events: none

.v-breadcrumbs-divider
  display: inline-block
  padding: $breadcrumbs-divider-padding
  vertical-align: text-top
