@use 'sass:map'
@use '../../styles/settings'
@use '../../styles/tools'
@use './mixins' as *
@use './utilities'

@include tools.layer('components')
  // Row
  //
  // Rows contain and clear the floats of your columns.
  .v-row
    @include make-row(settings.$grid-gutter)

    & + .v-row
      margin-top: settings.$grid-gutter

      &--density-comfortable
        margin-top: settings.$form-grid-gutter

    &.v-row--density-compact
      margin-top: 0

    &--density-comfortable
      @include make-row(settings.$form-grid-gutter)

    &.v-row--density-compact
      @include make-row(0)

  // Columns
  //
  // Common styles for small and large grid columns
  @include make-grid-columns
