$badge-border-radius: 11px !default;
$badge-color: map-get($shades, 'white') !default;
$badge-font-family: $body-font-family !default;
$badge-font-size: 14px !default;
$badge-height: 22px !default;
$badge-top: 0 !default;
$badge-right: 0 !default;
$badge-width: 22px !default;
