$badge-border-radius: 50%;
$badge-color: map-get($shades, 'white');
$badge-font-family: $body-font-family;
$badge-font-size: 14px;
$badge-height: 22px;
$badge-top: 0;
$badge-right: 0;
$badge-width: 22px;
