@import '../../styles/styles.sass'

.v-avatar
  align-items: center
  border-radius: 50%
  display: inline-flex
  justify-content: center
  line-height: normal
  position: relative
  text-align: center
  vertical-align: middle

  img,
  svg,
  .v-icon,
  .v-image,
  .v-responsive__content
    border-radius: inherit
    display: inline-flex
    height: inherit
    width: inherit

  &--tile
    border-radius: 0
