@import './index'

.v-avatar
  align-items: center
  border-radius: $avatar-border-radius
  display: inline-flex
  justify-content: center
  line-height: $avatar-line-height
  overflow: hidden
  position: relative
  text-align: center
  vertical-align: $avatar-vertical-align

  +rounded($avatar-border-radius)

  > *
    border-radius: inherit
    width: inherit

  &--rounded
    +rounded($avatar-rounded-border-radius)

  @each $name in $sizes
    &--size-#{$name}
      height: map-get($avatar-sizes, $name)
      width: map-get($avatar-sizes, $name)

// VCard
.v-avatar
  .v-card-avatar &
    height: $avatar-card-avatar-size
    width: $avatar-card-avatar-size
