@use 'sass:map'
@use '../settings'

@mixin elevation($z)
  &
    box-shadow: map.get(settings.$shadow-key, $z), map.get(settings.$shadow-ambient, $z)
    --v-elevation-overlay: color-mix(in srgb, var(--v-elevation-overlay-color) #{$z * settings.$elevation-overlay-step}, transparent)

@mixin elevationTransition($duration: 280ms, $easing: cubic-bezier(0.4, 0, 0.2, 1))
  &
    transition: $duration $easing
    transition-property: box-shadow, --v-elevation-overlay
