@use '../settings';

@mixin layer ($name) {
  @if ($name == 'transitions' or $name == 'trumps') {
    $name: 'final.' + $name;
  }
  @at-root (without: layer) {
    @layer vuetify-#{$name} {
      @content;
    }
  }
}
