@mixin typography ($font-size, $font-weight, $letter-spacing, $line-height, $text-transform)
  font-size: $font-size
  font-weight: $font-weight
  letter-spacing: $letter-spacing
  line-height: $line-height
  text-transform: $text-transform
