@mixin variant($default-before-opacity, $contained-elevation, $outlined-before-opacity, $text-before-opacity)
  &::before
    border-radius: inherit
    bottom: 0
    content: ''
    left: 0
    opacity: 0
    position: absolute
    right: 0
    top: 0

  &--variant-default
    &::before
      background: currentColor
      opacity: $default-before-opacity

  &--variant-contained
    @include elevation($contained-elevation)

  &--variant-outlined
    &::before
      border: thin solid currentColor
      opacity: $outlined-before-opacity

  &--variant-text
    &::before
      background: currentColor
      opacity: $text-before-opacity
