@import './_variables.scss'

.v-rating
  max-width: 100%
  white-space: nowrap

  .v-icon
    +ltr()
      transform: scaleX(1)

    +rtl()
      transform: scaleX(-1)

  &--readonly
    pointer-events: none

.v-rating__item
  display: inline-flex
  flex-direction: column
  align-items: center

  &--bottom
    flex-direction: column-reverse
