@use 'sass:selector'
@use './variables' as *

.v-number-input
  $root: &
  $control-root: #{selector.append($root, '__control')}

  input[type="number"]
    -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none

  .v-field
    padding-inline-end: 0
    padding-inline-start: 0

  &--control-reverse
    .v-label.v-field-label
      right: 0

    &:not(#{selector.append($root, '--split')})
      input
        text-align: right
      #{$control-root}
        &:not(#{selector.append($control-root, '--borderless')})
          border-left: none
          border-right: $number-input-control-border
  
  &--inset
    .v-divider
      height: $number-input-inset-divider-size
      width: $number-input-inset-divider-size
      align-self: center

  &--stacked 
    #{$control-root}
      flex-direction: column-reverse
      .v-btn
        flex: 1

  &--hide-input
    .v-field
      flex: none
      &__input
        width: 0
        padding-inline: 0

  &__control
    display: flex
    height: 100%

    &:not(#{selector.append($control-root, '--borderless')})
      border-left: $number-input-control-border

    .v-btn
      background-color: transparent
