@use './variables' as *
  
/* region Block */
.v-number-input
  padding-inline-end: 0 !important

  input[type="number"]
    -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none

  .v-field__append-inner
    .v-btn
      height: 100%
